Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

post rebase
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

exception type and some cleanup
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

hours on the pharmacy card
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/StatusV2.tsx
  packages/sdk/src/types.ts
Labels: SDK, Patient App

some mail order touchups
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

cleanup
  apps/patient/public/index.html
  apps/patient/src/components/Card.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

prettier
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

reformat the index file
  apps/patient/public/index.html
Labels: Patient App

past = ready
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

add pharmaciesWithPriceByLocation
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

get discount card query
  apps/patient/src/api/internal.ts
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
Labels: Patient App

fix
  apps/patient/src/components/CouponDetails.tsx
Labels: Patient App

wire up as status
  apps/patient/src/App.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

joshes comments
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

status page 2.0 (#1361)
  apps/patient/codegen.ts
  apps/patient/public/index.html
  apps/patient/src/App.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/Card.tsx
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/Logo.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/components/statusV2/Step.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/dates.ts
  apps/patient/src/utils/fulfillmentsHelpers.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/StatusV2.tsx
  package-lock.json
  package.json
  packages/sdk/src/types.ts
Labels: SDK, Patient App

wip ui for cash price
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

wip
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

import sorting, coupon modal
  .prettierrc
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Pharmacy.tsx
  package-lock.json
  package.json
Labels: Patient App

ui polishing
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

modal styling
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

modal ui polishing
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

wire up to data
  apps/patient/src/api/internal.ts
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

coupon details section
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

fix
  apps/patient/src/components/CouponDetails.tsx
Labels: Patient App

add pharmaciesWithPriceByLocation
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove import sorting
  .prettierrc
  package.json
Labels: none

fix query
  apps/patient/src/graphql/queries.ts
Labels: Patient App

get discount card query
  apps/patient/src/api/internal.ts
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/graphql/queries.ts
Labels: Patient App

small field matching
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

slight model change
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

fix package-lock
  package-lock.json
Labels: none

post rebase
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

more post rebase
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

some types stuff
  apps/patient/src/api/internal.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Main.tsx
Labels: Patient App

just do price and let nulls be nulls
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

trigger DD on pharmacy select
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

move comment
  apps/patient/src/api/internal.ts
Labels: Patient App

add discount card to statusv2
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

new version for med search
  packages/elements/package.json
Labels: Elements

new version for med search (#1391)
  packages/elements/package.json
Labels: Elements

Revert "new version for med search (#1391)"
  packages/elements/package.json
Labels: Elements

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
