Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

pass token to /info so it can decode and use the info inside
  apps/patient/src/views/Info.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

update copy for self signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

add period
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

improve style; use popups for info
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

use medium weight
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

update copy for self signup (#2132)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Patient form copy improvements
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/views/routes/Patients.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Clinical App

extra tweaks for self signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Improve patient and rx form wrappers
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

Update rx form copy
  apps/app/src/views/routes/Prescriptions.tsx
  packages/components/src/particles/Button/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components, Clinical App

adding query to fetch pharmacy by id on the patient resolvers
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

allow order status header subtext override for controlled-substance-info
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

fix logo typing to match api response
  apps/patient/src/utils/general.ts
Labels: Patient App

get all info page data in one query
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

update e2e test copy
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App

define specific shape for prescription data in the token payload
  apps/patient/src/views/Main.tsx
Labels: Patient App

Make daysSupply and expiresAt optional in the orer details modal view
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

Parse token, fetch data, and display summary page on /info
  apps/patient/src/views/Info.tsx
Labels: Patient App

navigate to no-match on failed data load
  apps/patient/src/views/Info.tsx
Labels: Patient App

add test -- thanks opencode
  apps/patient/src/views/Info.test.tsx
Labels: Patient App

add patient name to the info page status header
  apps/patient/src/views/Info.tsx
Labels: Patient App

More sentence casing fixes, adjust button order and alignment
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  apps/app/src/views/routes/NewOrder/index.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/CtaButtons.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Components, Clinical App

Improve title bar centering
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

default large border radius on chakra buttons in patient ui
  apps/patient/src/configs/theme.ts
Labels: Patient App

fix secondary button display
  apps/patient/src/views/Info.tsx
Labels: Patient App

leave token in the query parameters just like other pages, to allow refresh
  apps/patient/src/views/Info.tsx
Labels: Patient App

remove log
  apps/patient/src/views/Info.tsx
Labels: Patient App

fix tests -- missing orderId query param
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Status.test.tsx
Labels: Patient App

fix breakpoint for consistent buttons
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

Bump elements version
  packages/elements/package.json
Labels: Elements

Patient and Prescription form improvements (#2135)
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  apps/app/src/views/routes/NewOrder/index.tsx
  apps/app/src/views/routes/Patients.tsx
  apps/app/src/views/routes/Prescriptions.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/CtaButtons.tsx
  packages/components/src/particles/Button/index.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/elements/package.json
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components, Clinical App

Update html title from "preparing your prescriptions" to "order was sent"
  apps/patient/src/views/Info.tsx
Labels: Patient App

Controlled substance notification -- /info page view (#2136)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/Routes.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Info.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Status.test.tsx
Labels: Patient App

Standardize the blue theme color across tailwind and chakra themes
  apps/app/src/configs/theme.ts
  apps/patient/src/configs/theme.ts
  packages/components/tailwind.config.cjs
  packages/elements/tailwind.config.js
Labels: Elements, Components, Patient App, Clinical App

remove color scheme workaround from earlier
  apps/patient/src/views/Info.tsx
Labels: Patient App

use colorscheme rather than overrides in status page
  apps/patient/src/views/Status.tsx
Labels: Patient App

remove accent change on outline button
  apps/patient/src/views/Status.tsx
Labels: Patient App

put sex input before gender input in patient form
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

Make the sex options Titlecase. Make sure it's still caps lock in the db
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-sex-input/photon-sex-input-component.tsx
Labels: Elements

fix e2e test
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App
