Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

revert package vulnerability updates so publish job can run 2 (#2284)
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
Labels: none

revert changes
  .github/workflows/npm-publish.yml
Labels: none

revert changes (#2286)
  .github/workflows/npm-publish.yml
Labels: none

Fix state address dropdown when at bottom of page
  packages/components/src/particles/ListBox/index.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/elements/package.json
Labels: Elements, Components

add flag for addressform at page bottom
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements

Fix state address dropdown when at bottom of page (#2287)
  packages/components/src/particles/ListBox/index.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

clamp count to 0 min
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
Labels: Elements

Hide send order button until necessary (#2251)
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Clinical App

set to publish on boson for testing
  .github/workflows/npm-publish.yml
Labels: none

rm unused cypress deps
  package-lock.json
  package.json
Labels: none

fix type
  packages/sdk/src/auth.ts
Labels: SDK

improve copy
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

remove fax from signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
Labels: Clinical App

Signup page improvements (#2291)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
Labels: Clinical App

test type change
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
Labels: Clinical App

add tsc:boson
  apps/app/project.json
  apps/patient/project.json
Labels: Patient App, Clinical App

fix rest of types
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

Signup page logs more parameters
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

fix types for updateProviderProfile schema changes (#2294)
  apps/app/project.json
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/patient/project.json
  packages/sdk/src/types.ts
Labels: SDK, Patient App, Clinical App

Signup page logs more parameters (#2295)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Add missing credentials for signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Add missing credentials for signup (#2298)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Revert "Add missing credentials for signup (#2298)"
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Add datadog rum session data for self signup
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Add datadog rum session data for self signup (#2302)
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Don't override org in ddrum context
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
Labels: Clinical App

Don't override org in ddrum context (#2305)
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
Labels: Clinical App

update import
  apps/patient/src/graphql/mutations.ts
Labels: Patient App

get package.json and package-lock.json in sync yippee
  package-lock.json
  package.json
Labels: none

reapply changes
  package-lock.json
  package.json
Labels: none

review .prettierignore, format json files
  .prettierignore
  package.json
  packages/react/project.json
Labels: none

fix 4.0.4 version conflict
  package-lock.json
  package.json
Labels: none

revert npm-publish job
  .github/workflows/npm-publish.yml
Labels: none

For Mail Orders, Use the same status page copy as SENT for RECEIVED
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

try to get test to run
  package-lock.json
  package.json
  packages/sdk/package.json
Labels: SDK

For Mail Orders, Use the same status page copy as SENT for RECEIVED (#2307)
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

Add env to signup analytics
  apps/app/src/configs/analytics.ts
Labels: Clinical App

Add env to signup analytics (#2309)
  apps/app/src/configs/analytics.ts
Labels: Clinical App

publish job also run on boson
  .github/workflows/npm-publish.yml
Labels: none

bump to @datadog/datadog-ci@3.22.2
  package-lock.json
  package.json
Labels: none
