Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

use SPAClientEditForm on info card to update whitelisted urls
  apps/app/src/views/routes/Settings/components/client-credentials/ClientInfoCard.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

codegen
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
Labels: Clinical App

Edit readOnly styles in one place for Input values
  apps/app/src/configs/theme.ts
  apps/app/src/views/routes/Settings/components/client-credentials/AppNameView.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/ClientIdView.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/ClientSecretView.tsx
Labels: Clinical App

allow empty input to clear urls, validate no query parameters, add hint
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

remove unnecessary diff
  apps/app/src/views/routes/Settings/components/client-credentials/ClientSecretView.tsx
Labels: Clinical App

Update URL Whitelist for SPA Clients in Developer Tab (#1635)
  apps/app/src/configs/theme.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/client-credentials/ClientInfoCard.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

Add new Xyon org to photon settings
  packages/settings/src/lib/photon.ts
Labels: Settings

Add new Xyon org to photon settings (#1639)
  packages/settings/src/lib/photon.ts
Labels: Settings

Fix ellipsis not showing
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Fix packages/components typescript for local dev
  packages/components/dev/App.tsx
  packages/components/tsconfig.json
Labels: Components

Toggle also expands med history treatment name
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Simplify html and improve button accessibility
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Show prescription detail in med history
  packages/components/src/index.ts
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/utils/formatPrescriptionDetail.test.ts
  packages/components/src/utils/formatPrescriptionDetail.ts
Labels: Components

Expand/collapse prescription details
  packages/components/.storybook/main.js
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/utils/storybookUtils.ts
Labels: Components

Improve READMEs for local development
  README.md
  apps/app/README.md
  packages/components/README.md
  packages/elements/README.md
Labels: Elements, Components, Clinical App

Bump elements version
  packages/elements/package.json
Labels: Elements

Embedded PatientMedHistory component shows prescription details (#1638)
  README.md
  apps/app/README.md
  packages/components/.storybook/main.js
  packages/components/README.md
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/utils/formatPrescriptionDetail.test.ts
  packages/components/src/utils/formatPrescriptionDetail.ts
  packages/components/src/utils/storybookUtils.ts
  packages/components/tsconfig.json
  packages/elements/README.md
  packages/elements/package.json
Labels: Elements, Components, Clinical App

Fix running components locally
  packages/components/dev/App.tsx
  packages/components/src/systems/Client/index.tsx
Labels: Components

Stricter env check via nullish coalesce
  packages/components/src/systems/Client/index.tsx
Labels: Components

Fix running components locally (#1643)
  packages/components/dev/App.tsx
  packages/components/src/systems/Client/index.tsx
Labels: Components

Fix sort history button click
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Fix sort history button click (#1646)
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Allow wildcards in the subdomain of whitelisted ulrs, validation fix
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

Allow wildcards in the subdomain of whitelisted ulrs, validation fix (#1647)
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

Setup nonfunctional refill callback handlers
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

Add gifthealth mail order to neutron testing.
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

Add gifthealth mail order to neutron testing. (#1649)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

WIP: getting stuck. probably trying to cleanup too much at once. lots of address types...
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/stores/prescribeForm.ts
Labels: Elements, Components

Upgrade solid to 1.9
  package-lock.json
  package.json
  packages/components/package.json
  packages/elements/package.json
Labels: Elements, Components

Add branding and settings for Om Dermatology
  apps/patient/src/assets/om_dermatology_logo.svg
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

Bump elements version
  packages/elements/package.json
Labels: Elements

Add branding and settings for Om Dermatology (#1653)
  apps/patient/src/assets/om_dermatology_logo.svg
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

price switch default on
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

missed variable
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Make price switch default on (#1657)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add geviti mail order settings and branding
  apps/patient/src/assets/geviti_logo.webp
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

add geviti mail order settings and branding (#1660)
  apps/patient/src/assets/geviti_logo.webp
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

getting time estimate from offers query instead of hardcoded logic check
  apps/patient/src/api/internal.ts
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Refill button checks recent orders for duplicate
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Add 1 click refill button to med history
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/README.md
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
