Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Show holiday alert on juneteenth (#1933)
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

Enable testing of Strive in boson
  packages/settings/src/lib/boson.ts
Labels: Settings

Enable testing of Strive in boson (#1934)
  packages/settings/src/lib/boson.ts
Labels: Settings

Example of migrating from CRA/react-app-rewired to Vite
  apps/patient/config-overrides.js
  apps/patient/index.html
  apps/patient/package.json
  apps/patient/project.json
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/vite.config.ts
  package-lock.json
  packages/settings/package.json
Labels: Settings, Patient App

Setup patient app tests
  apps/patient/project.json
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/vite.config.ts
  package-lock.json
  package.json
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Setup patient pharmacy tests
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/vite.config.mts
  package-lock.json
  package.json
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

adding amazon price (#1932)
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

Incorporate nick and bill mob session feedback
  apps/patient/src/setupTests.js
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/vite.config.mts
Labels: Patient App

Enable rtbc for demo org
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

Cleanup tests
  apps/patient/src/setupTests.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Cleanup tests
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

fix flattened fills
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Add patient test to PR check
  .github/workflows/vitest.yml
Labels: none

Enable rtbc for demo org (#1939)
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

Attempt number input test fix
  packages/components/src/particles/Input/Input.test.tsx
Labels: Components

Simplify vitest config for components
  packages/components/vite.config.ts
Labels: Components

Fix patient test failure
  .github/workflows/vitest.yml
Labels: none

Setup patient app tests (#1937)
  .github/workflows/vitest.yml
  apps/patient/project.json
  apps/patient/src/setupTests.js
  apps/patient/src/setupTests.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/vite.config.mts
  package-lock.json
  package.json
  packages/components/src/particles/Input/Input.test.tsx
  packages/components/vite.config.ts
Labels: Components, Patient App

Refactor number format to be testable
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/formatters.test.ts
  apps/patient/src/utils/formatters.ts
  apps/patient/src/utils/general.ts
Labels: Patient App

Rename & Move PickupUptions so it doesn't need to be mocked
  apps/patient/src/components/index.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacy-card-list/index.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Enable prices by default
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add gogomeds west to neutron mail order
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

add gogomeds west to neutron mail order (#1942)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

small test refactor
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Move other formatter functions
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/utils/formatters.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix test
  apps/patient/src/utils/formatters.test.ts
Labels: Patient App

fix formatPrice
  apps/patient/src/utils/formatters.test.ts
  apps/patient/src/utils/formatters.ts
Labels: Patient App

adding offers to datadog rum sesh attributes
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding offers to datadog rum sesh attributes (#1943)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add tests, add toggle label
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update number format tests
  apps/patient/src/utils/formatters.test.ts
Labels: Patient App

add label checks
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

add gogomeds west to photon
  packages/settings/src/lib/photon.ts
Labels: Settings

test
  apps/patient/src/views/Main.tsx
Labels: Patient App

Show coupons by default (#1941)
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacy-card-list/index.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/formatters.test.ts
  apps/patient/src/utils/formatters.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fixing an issue that sometimes caused amazon to show up as an option when it shouldn't
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
