Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

Add more xyon config (#1475)
  packages/settings/src/lib/photon.ts
Labels: Settings

project json
  package.json
  packages/components/project.json
  packages/elements/project.json
  packages/react/project.json
  packages/react/tsconfig.json
  packages/sdk/project.json
  packages/sdk/tsconfig.json
Labels: Elements, SDK, Components

elements tsc
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/src/photon-medication-dropdown/photon-medication-dropdown.tsx
Labels: Elements

2 more
  packages/components/src/store.ts
  packages/components/src/utils/createMutation.ts
Labels: Components

hm
  packages/components/src/utils/createMutation.ts
Labels: Components

last
  apps/app/config-overrides.js
  apps/patient/config-overrides.js
  jest.config.ts
  jest.preset.js
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/settings/project.json
Labels: Settings, Patient App, Clinical App

no return setStore
  package-lock.json
  packages/elements/package.json
  packages/elements/src/stores/catalog.ts
  packages/elements/src/stores/dispenseUnit.ts
  packages/elements/src/stores/patient.ts
  packages/sdk/package.json
Labels: Elements, SDK

bump node
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier.yml
  .github/workflows/type-check.yml
Labels: none

checks
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
  package-lock.json
  packages/elements/package.json
Labels: Elements

rollup
  .github/workflows/vitest.yml
Labels: none

verbose
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
Labels: none

adding template string linter rule
  .eslintrc.json
Labels: none

disallow routing to the same pharmacy
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

naming
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
Labels: Patient App

Disallow routing to the same pharmacy (#1477)
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

20
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

testing action
  .github/workflows/type-check.yml
Labels: none

buildscripts
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

linux
  .github/workflows/type-check.yml
Labels: none

refills is fills - 1
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

fix issue
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

refills is fills - 1 (#1479)
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

adding template string linter rule (#1476)
  .eslintrc.json
Labels: none

fix capitalization on is24Hr
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

help button; holiday hour; reorder the page
  apps/patient/src/components/HolidayAlert.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

help button; holiday hour; reorder the page (#1483)
  apps/patient/src/components/HolidayAlert.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

Add Strive to test acct.
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

Add Strive to test acct. (#1484)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

remove 5rx limit on order page
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

remove 5rx limit on order page (#1488)
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

sana logo fix
  apps/patient/src/assets/sana_care_logo.png
  apps/patient/src/assets/sana_care_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

sana logo fix (#1490)
  apps/patient/src/assets/sana_care_logo.png
  apps/patient/src/assets/sana_care_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

remove mail order option for openloop
  packages/settings/src/lib/photon.ts
Labels: Settings

remove mail order option for openloop (#1493)
  packages/settings/src/lib/photon.ts
Labels: Settings

add phone field
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

shortlink action
  apps/patient/src/views/Main.tsx
Labels: Patient App

fix a bug
  apps/patient/src/views/Main.tsx
Labels: Patient App

add comment
  apps/patient/src/views/Main.tsx
Labels: Patient App

give useEffect a name!
  apps/patient/src/views/Main.tsx
Labels: Patient App

shortlink action (#1496)
  apps/patient/src/views/Main.tsx
Labels: Patient App
