Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

improve cancel order UI response time (#1835)
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

add empower to photon test mail orders
  packages/settings/src/lib/photon.ts
Labels: Settings

add empower to photon test mail orders (#1837)
  packages/settings/src/lib/photon.ts
Labels: Settings

update pricing flow
  apps/patient/src/App.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/components/status/Step.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

update pricing flow (#1838)
  apps/patient/src/App.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/components/status/Step.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

enable auto-routing when constrained to a single pharmacy
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.test.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Reset prescribe provider state on patient change
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

add honeybee for eastern derm
  packages/settings/src/lib/photon.ts
Labels: Settings

Reset prescribe provider state on patient change (#1841)
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

Fix double prefill prescriptions added
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

add honeybee for eastern derm (#1842)
  packages/settings/src/lib/photon.ts
Labels: Settings

update identity constraint
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.test.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

Fix double prefill prescriptions added (#1844)
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

remove usage of Set.prototype.union() and Set.prototype.difference()
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
Labels: Components

Rate limit generateCoverageOptions to 5 calls
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

intersect include lists
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.test.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
Labels: Components

combine prescriptions when combining routing constraints
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.test.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

add disabled property to RadioGroupCards
  packages/components/src/particles/Card/index.tsx
  packages/components/src/particles/RadioGroupCards/RadioGroupCards.stories.tsx
  packages/components/src/particles/RadioGroupCards/index.tsx
Labels: Components

functionize isValidPrescriptionRoutingConstraint
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
Labels: Components

enable auto-routing when constrained to a single pharmacy (#1840)
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.test.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

one google maps
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/index.html
Labels: Elements, Components

add disabled property to RadioGroupCards (#1846)
  packages/components/src/particles/Card/index.tsx
  packages/components/src/particles/RadioGroupCards/RadioGroupCards.stories.tsx
  packages/components/src/particles/RadioGroupCards/index.tsx
Labels: Components

add epiq to photon test
  packages/settings/src/lib/photon.ts
Labels: Settings

add epiq to mail order tab for photon test (#1847)
  packages/settings/src/lib/photon.ts
Labels: Settings

bump elements to 0.16.5 to include auto-routing
  packages/elements/package.json
Labels: Elements

bump elements to 0.16.5 to include auto-routing (#1848)
  packages/elements/package.json
Labels: Elements

screen
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

screen (#1849)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

disable unroutable pharmacies
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/elements/index.html
Labels: Elements, Components

wip
  packages/components/src/systems/PharmacySearch/index.tsx
Labels: Components

replace old
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
Labels: Components

disable unroutable pharmacies pt. 2
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/elements/index.html
Labels: Elements, Components

add unroutablePharmacyIds to MockPrescribeProvider
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

get local pharmacy
  packages/components/src/fetch/queries.ts
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

enable top ranked dcostco for all meds
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

google service at photon-client
  packages/components/src/index.ts
  packages/components/src/systems/GoogleServiceProvider/GoogleServiceProvider.tsx
  packages/components/src/systems/GoogleServiceProvider/index.tsx
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements, Components

address fix
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

whoops
  packages/components/src/systems/PharmacySearch/index.tsx
Labels: Components

enable top ranked dcostco for all meds (#1854)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

useEffect with login
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
