Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

fix boson not showing prices since our org name was changed
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

fix boson not showing prices since our org name was changed (#1543)
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

Add Strive mail-order pharmacy to envs.
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

Add Strive mail-order pharmacy to envs. (#1545)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

Fix Dosing Calculator Alignment in Add Prescription Card
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

Fix Dosing Calculator Alignment in Add Prescription Card (#1547)
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

add DJL to Xyon orgs
  packages/settings/src/lib/photon.ts
Labels: Settings

add DJL to Xyon orgs (#1550)
  packages/settings/src/lib/photon.ts
Labels: Settings

Add Strive as a mail order integration for Found.
  packages/settings/src/lib/photon.ts
Labels: Settings

Add Strive as a mail order integration for Found. (#1553)
  packages/settings/src/lib/photon.ts
Labels: Settings

wip
  apps/patient/src/api/external.ts
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

add bridge dermatology
  apps/patient/src/assets/bridge_dermatology_logo.svg
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

add bridge dermatology branding
  apps/patient/src/assets/bridge_dermatology_logo.svg
Labels: Patient App

Add Bridge Dermatology branding (#1555)
  apps/patient/src/assets/bridge_dermatology_logo.svg
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

Add pharmacy integrations to Miiskin accounts.
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

Add pharmacy integrations to Miiskin accounts. (#1556)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

Trivial change to trigger rebuild.
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

Trivial change to trigger rebuild. (#1559)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

wip
  apps/patient/src/api/internal.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add New Xyon Health org
  packages/settings/src/lib/photon.ts
Labels: Settings

retrigger gha
  packages/settings/src/lib/photon.ts
Labels: Settings

add New Xyon Health org (#1562)
  packages/settings/src/lib/photon.ts
Labels: Settings

In Photon settings, add Strive integration to DrTelx.
  packages/settings/src/lib/photon.ts
Labels: Settings

In Photon settings, add Strive integration to DrTelx. (#1565)
  packages/settings/src/lib/photon.ts
Labels: Settings

med history now renders data from new endpoint
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

fixup
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

fixup
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

Add branding for fifty410
  apps/patient/src/assets/fifty410_logo.png
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

Add branding for fifty410 (#1569)
  apps/patient/src/assets/fifty410_logo.png
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

hande glp1 prices
  apps/patient/src/api/external.ts
  apps/patient/src/assets/goodrx_logo.png
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add radius
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

cleanup zipcode
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Surface Glp1 prices (#1572)
  apps/patient/src/api/external.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/assets/goodrx_logo.png
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

fixup
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

fixup
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

med history now renders data from new endpoint (#1568)
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

incrementing version of elements
  packages/elements/package.json
Labels: Elements

incrementing version of elements (#1575)
  packages/elements/package.json
Labels: Elements

possibly fixing issue with optional dependency
  packages/sdk/project.json
Labels: SDK

resetting package lock
  package-lock.json
Labels: none
