Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

add ability to retry NPM Publish GHA (#2788)
  .github/workflows/npm-publish.yml
Labels: none

app-id > client-id (#2791)
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/merge-bot.yml
Labels: none

fold prescription-overrides + prescription-external-id into draft-prescriptions
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-prescription-prefill.test.tsx
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
Labels: Elements, Components

skip draft-prescriptions entries only on an empty override
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-prescription-prefill.test.tsx
Labels: Elements, Components

misc refactor
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

change function signature
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

transformPrefillsToPrescriptionInputs
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

mapFormDataToPrescriptionInput
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

update error message slightly
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

add test for template prefill failure, add more fixtures
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
  packages/sdk/src/test-utils/fixtures.ts
  packages/sdk/src/test-utils/index.ts
Labels: Elements, SDK

add prescribe-workflow-template-prefill.test.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/prescribe-workflow-prescription-prefill.test.tsx
Labels: Elements

add test to template-prefill, fix notes prefill formatting
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
Labels: Elements, Components

add test to prescription-prefill, set errorPolicy on prescription query
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-prescription-prefill.test.tsx
Labels: Elements, Components

add a next steps for cost plus drugs
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

add a next steps for cost plus drugs (#2798)
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

add prescription-overrides prop, constructRxNotes util
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-prescription-prefill.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
  packages/sdk/src/test-utils/fixtures.ts
Labels: Elements, SDK, Components

unit test constructRxNotes
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/formatters.test.ts
  packages/components/src/systems/DraftPrescriptions/utils/formatters.ts
Labels: Components

fix doNotFillBeforeDate override
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-prescription-prefill.test.tsx
Labels: Elements, Components

misc fixes
  packages/components/src/systems/DraftPrescriptions/utils/formatters.ts
  packages/elements/index.html
Labels: Elements, Components

prescription-overrides prop (#2800)
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/formatters.test.ts
  packages/components/src/systems/DraftPrescriptions/utils/formatters.ts
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-prescription-prefill.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
  packages/sdk/src/test-utils/fixtures.ts
  packages/sdk/src/test-utils/index.ts
Labels: Elements, SDK, Components

add initialPrescriptions prop definition
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

validate initialPrescriptions
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/SupervisorProvider/SupervisorProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

Init
  apps/app/e2e/login_loop.spec.ts
  apps/app/e2e/sso_login.spec.ts
  apps/app/e2e/utils/auth_intercept.ts
  packages/components/src/store.test.ts
  packages/components/src/store.ts
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-client/photon-client-login-loop.test.tsx
  packages/sdk/project.json
  packages/sdk/src/auth.test.ts
  packages/sdk/src/auth.ts
  packages/sdk/src/lib.ts
  packages/sdk/src/loginLoopGuard.test.ts
  packages/sdk/src/loginLoopGuard.ts
  packages/sdk/vite.config.ts
Labels: Elements, SDK, Components, Clinical App

Fix the real issue
  packages/components/src/store.test.ts
  packages/components/src/store.ts
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-client/photon-client-login-loop.test.tsx
  packages/sdk/src/auth.ts
Labels: Elements, SDK, Components

add handleRedirect fallbacks
  packages/components/src/store.ts
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/sdk/project.json
  packages/sdk/src/auth.ts
  packages/sdk/src/lib.ts
  packages/sdk/vite.config.ts
Labels: Elements, SDK, Components

Add tests
  packages/components/src/store.test.ts
  packages/elements/src/photon-client/photon-client-stale-url.test.tsx
  packages/sdk/src/auth.test.ts
Labels: Elements, SDK, Components

update name
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-client/photon-client-stale-url.test.tsx
Labels: Elements

use zod schema to parse
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/initialPrescriptionInputSchema.ts
Labels: Components

rm supervisor prop
  packages/elements/index.html
Labels: Elements

don't need to pass patientId, update error messages
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/initialPrescriptionInputSchema.ts
Labels: Components

add tests
  packages/elements/src/photon-multirx-form/prescribe-workflow-initial-prescriptions.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
Labels: Elements

rename ElementViewEvent
  CLAUDE.md
  apps/app/src/order-workflow-analytics.test.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components, Clinical App

group alerts by med name
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByPrescription.tsx
Labels: Components

Fix bad redirects (#2802)
  packages/components/src/store.test.ts
  packages/components/src/store.ts
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-client/photon-client-stale-url.test.tsx
  packages/sdk/project.json
  packages/sdk/src/auth.test.ts
  packages/sdk/src/auth.ts
  packages/sdk/src/lib.ts
  packages/sdk/vite.config.ts
Labels: Elements, SDK, Components

extract usePrefillPrescriptions hook
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/DraftPrescriptions/utils/usePrefillPrescriptions.ts
Labels: Components

tests
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByPrescription.test.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByPrescription.tsx
Labels: Components

group alerts by med name (#2804)
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByPrescription.test.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByPrescription.tsx
Labels: Components

promise all top ranked pharmacies
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fire analytics for with each type of prefill
  packages/components/src/systems/DraftPrescriptions/utils/usePrefillPrescriptions.ts
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: SDK, Components

remove guard on page loading being dependent on pharmacy calls
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
