Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fix full width header on pharmacy selection
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Potential Auth0 Invitation Fix (#1881)
  packages/react/src/provider.tsx
Labels: none

fix full width header on pharmacy selection (#1882)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

bump version with mail order config updates
  packages/elements/package.json
Labels: Elements

bump version with mail order config updates (#1887)
  packages/elements/package.json
Labels: Elements

Hide toasts for prefills in embed app (#1878)
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

Bump elements to release toast fix
  packages/elements/package.json
Labels: Elements

Bump elements to release toast fix (#1889)
  packages/elements/package.json
Labels: Elements

Add 28 Mail Orders to neutron options
  packages/settings/src/lib/neutron.ts
Labels: Settings

Add 28 Mail Orders to neutron options (#1890)
  packages/settings/src/lib/neutron.ts
Labels: Settings

change pref pharm copy
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/elements/package.json
Labels: Elements, Components

change pref pharm copy (#1892)
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/elements/package.json
Labels: Elements, Components

error canceling order
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

remov log
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

toast type
  apps/app/src/views/components/StyledToast.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Fix infinite spinner on cancel order (#1894)
  apps/app/src/views/components/StyledToast.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

add settings descriptions
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

cleanup
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

Update boson neutron settings for twenty eight org
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
Labels: Settings

Update boson neutron settings for twenty eight org (#1896)
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
Labels: Settings

consistent gap
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

Add settings descriptions (#1895)
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

enabling amazon pharmacy to be re-routable
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Status.tsx
Labels: Patient App

fixup
  apps/patient/src/utils/general.ts
Labels: Patient App

fixup
  apps/patient/src/views/Status.tsx
Labels: Patient App

add curexa to longevitycenter mail order tab
  packages/settings/src/lib/photon.ts
Labels: Settings

enabling amazon pharmacy to be re-routable (#1901)
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

add curexa to longevitycenter mail order tab (#1902)
  packages/settings/src/lib/photon.ts
Labels: Settings

Revert "enabling amazon pharmacy to be re-routable (#1901)"
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

Revert "enabling amazon pharmacy to be re-routable (#1901)" (#1907)
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

show mail order Wells Pharmacy in Boson and Neutron for Test Org
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

show Wells for Remedy Test org in Boson
  packages/settings/src/lib/boson.ts
Labels: Settings

show mail order Wells Pharmacy in Boson and Neutron for Test Org (#1908)
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

Enable amazon pharmacy to be reroutable (#1910)
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

bump package-lock
  package-lock.json
Labels: none

Mark button as disabled while its in a loading state
  packages/components/src/particles/Button/index.tsx
Labels: Components

Use isLoadingPrefills from prescribe context to prevent users saving or sending prescriptions when the templated prescriptions are still loading for the prescribe form
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Revert "Enable amazon pharmacy to be reroutable (#1910)"
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

Bump package version
  packages/elements/package.json
Labels: Elements

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
