Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

new Collapsible component
  packages/components/src/index.ts
  packages/components/src/particles/Collapsible/index.tsx
Labels: Components

use Collapsible in prescribe flow's PatientInfo
  packages/components/src/systems/PatientInfo/index.tsx
Labels: Components

Fix storybook upgrade issues
  package-lock.json
  package.json
  packages/components/.storybook/main.js
  packages/components/src/index.ts
  packages/components/src/utils/storybookUtils.ts
  packages/components/tsconfig.json
  packages/elements/src/photon-medication-search/MedicationSearch.stories.ts
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-update-patient-dialog/UpdatePatientDialog.stories.ts
  packages/elements/tsconfig.json
Labels: Elements, Components

remove unused storybook files
  packages/elements/src/photon-medication-search/MedicationSearch.stories.ts
  packages/elements/src/photon-update-patient-dialog/UpdatePatientDialog.stories.ts
Labels: Elements

Setup boson-targeting e2e test
  .github/workflows/smoke-tests.yml
  CLAUDE.md
  apps/app/.env.local.sample
  apps/app/playwright.config.ts
Labels: Clinical App

controllable Collapsible component, use in NewSupervisorForm
  packages/components/src/particles/Collapsible/index.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components

bump sdk package
  packages/sdk/package.json
Labels: SDK

fix tsc target
  packages/sdk/project.json
Labels: SDK

Setup boson-targeting e2e test (#2399)
  .github/workflows/smoke-tests.yml
  CLAUDE.md
  apps/app/.env.local.sample
  apps/app/playwright.config.ts
Labels: Clinical App

fix elements:tsc
  packages/sdk/package.json
Labels: SDK

Add initial codegen for clinical-api in elements (#2381)
  CLAUDE.md
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/sdk/.gitignore
  packages/sdk/codegen.clinical-api.ts
  packages/sdk/package.json
  packages/sdk/project.json
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/lib.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK

always show form when no supervisors
  packages/components/src/particles/Collapsible/index.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components

allow e2e test to specify login connection
  apps/app/src/views/routes/Login.tsx
  packages/sdk/src/lib.ts
Labels: SDK, Clinical App

add connection name to e2e test
  apps/app/e2e/auth.setup.ts
Labels: Clinical App

update comment
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

make username not a secret
  .github/workflows/smoke-tests.yml
Labels: none

allow e2e test to specify login connection (#2404)
  .github/workflows/smoke-tests.yml
  apps/app/e2e/auth.setup.ts
  apps/app/src/views/routes/Login.tsx
  packages/sdk/src/lib.ts
Labels: SDK, Clinical App

Fix playwright report path
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/smoke-tests.yml
Labels: none

Improve dependabot pr grouping
  .github/dependabot.yml
Labels: none

better dependabot PR groups; fix playwright report path (#2407)
  .github/dependabot.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/smoke-tests.yml
Labels: none

Fix add comment permission for dependabot
  .github/workflows/add-comment.yml
Labels: none

Remove unused dependency since we setBasePath for shoelace
  package-lock.json
  packages/elements/package.json
  packages/elements/vite.config.ts
Labels: Elements

fix minimatch vuln
  package-lock.json
  package.json
Labels: none

use codegen types
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK

simplify codegen implementation
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/sdk/.env.boson
  packages/sdk/.env.tau
  packages/sdk/codegen.clinical-api.ts
  packages/sdk/package.json
  packages/sdk/project.json
  packages/sdk/src/lib.ts
Labels: Elements, SDK

Fix issues arising from package update
  package-lock.json
  package.json
  packages/sdk/src/auth.ts
Labels: SDK

simplify codegen implementation (#2416)
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/sdk/.env.boson
  packages/sdk/.env.tau
  packages/sdk/codegen.clinical-api.ts
  packages/sdk/package.json
  packages/sdk/project.json
  packages/sdk/src/lib.ts
Labels: Elements, SDK

fix Collapsible props.isOpen behavior
  packages/components/src/particles/Collapsible/index.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components

fix config
  packages/components/project.json
  packages/components/src/test-setup.ts
  packages/components/vite.config.ts
Labels: Components

add Collapsible component to particles
  packages/components/src/index.ts
  packages/components/src/particles/Collapsible/Collapsible.test.tsx
  packages/components/src/particles/Collapsible/index.tsx
  packages/components/src/systems/PatientInfo/index.tsx
Labels: Components

Add Vite configs for clinical and patient apps
  apps/app/vite.config.ts
Labels: Clinical App

Move index.html to app roots for Vite
  apps/app/index.html
  apps/app/public/index.html
  apps/patient/index.html
  apps/patient/public/index.html
Labels: Patient App, Clinical App

Rename REACT_APP_ env vars to VITE_ across all .env files
  apps/app/.env.boson
  apps/app/.env.neutron
  apps/app/.env.photon
  apps/app/.env.tau
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/.env.tau
  packages/sdk/.env.boson
  packages/sdk/.env.tau
Labels: SDK, Patient App, Clinical App

Migrate source code from process.env to import.meta.env and remove CRA artifacts
  apps/app/codegen.ts
  apps/app/config-overrides.js
  apps/app/src/App.tsx
  apps/app/src/__test__/__snapshots__/App.test.tsx.snap
  apps/app/src/configs/analytics.ts
  apps/app/src/configs/auth.ts
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/index.tsx
  apps/app/src/instrumentation/beforeSendHandler.ts
  apps/app/src/instrumentation/index.ts
  apps/app/src/react-app-env.d.ts
  apps/app/src/reportWebVitals.ts
  apps/app/src/serviceWorker.ts
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/Playground.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/patient/codegen.ts
  apps/patient/config-overrides.js
  apps/patient/src/api/internal.ts
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/configs/graphqlClient.ts
  apps/patient/src/index.tsx
  apps/patient/src/reportWebVitals.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/react/src/provider.tsx
  packages/sdk/codegen.clinical-api.ts
  packages/settings/src/index.ts
Labels: SDK, Components, Settings, Patient App, Clinical App

Add Vite type declarations and update tsconfigs
  apps/app/src/vite-env.d.ts
  apps/patient/src/vite-env.d.ts
  packages/components/tsconfig.json
  packages/settings/package.json
  packages/settings/tsconfig.json
  packages/settings/tsconfig.lib.json
Labels: Components, Settings, Patient App, Clinical App

Switch Nx targets from react-app-rewired to Vite
  apps/app/project.json
  apps/app/src/setupTests.ts
  apps/patient/project.json
Labels: Patient App, Clinical App

fix path import warning
  packages/components/vite.config.ts
  packages/elements/vite.config.ts
  packages/react/vite.config.ts
  packages/sdk/vite.config.ts
Labels: Elements, SDK, Components

remove unnecessary tsignore
  packages/sdk/vite.config.ts
Labels: SDK

move meUserQuery, split query.ts
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/graphql/clinical-api/fragment.ts
  packages/sdk/src/graphql/clinical-api/index.ts
  packages/sdk/src/graphql/clinical-api/mutation.ts
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK

use specific controlled substance error message; default to general error
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
