Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

enable pricing for sesame non-glp1s (#1730)
  .gitignore
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

remove callback
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

WIP: setting up 2 embed apps
  .gitignore
  .vscode/extensions.json
  apps/embed-reference-e2e/.eslintrc.json
  apps/embed-reference-e2e/playwright.config.ts
  apps/embed-reference-e2e/project.json
  apps/embed-reference-e2e/src/example.spec.ts
  apps/embed-reference-e2e/tsconfig.json
  apps/embed-reference/.eslintrc.json
  apps/embed-reference/index.html
  apps/embed-reference/project.json
  apps/embed-reference/public/favicon.ico
  apps/embed-reference/src/app/app.module.css
  apps/embed-reference/src/app/app.spec.tsx
  apps/embed-reference/src/app/app.tsx
  apps/embed-reference/src/app/embeddables/EmbedApp1.tsx
  apps/embed-reference/src/app/nx-welcome.tsx
  apps/embed-reference/src/assets/.gitkeep
  apps/embed-reference/src/main.tsx
  apps/embed-reference/src/styles.css
  apps/embed-reference/tsconfig.app.json
  apps/embed-reference/tsconfig.json
  apps/embed-reference/tsconfig.spec.json
  apps/embed-reference/vite.config.ts
  nx.json
  package-lock.json
  package.json
  tsconfig.json
  vitest.workspace.ts
Labels: none

Fix typescript errors
  packages/components/src/index.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

adding measured to make an offers request; enabling it in amazon pharmacy pilot
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding measured to make an offers request; enabling it in amazon pharmacy pilot (#1733)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Revert "enable pricing for sesame non-glp1s (#1730)"
  .gitignore
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

show error message for missing or invalid NPI
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
Labels: Clinical App

WIP: review todos
  packages/components/src/fetch/queries.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/utils/createMutation.ts
  packages/components/src/utils/storybookUtils.ts
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

codegen graphql from tau
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
Labels: Clinical App

Initial Org Settings update UI
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
Labels: Clinical App

show error message for missing or invalid NPI (#1737)
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
Labels: Clinical App

Refactor combine/duplicate logic out of AddPrescriptionCard
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/SDKProvider/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Remove logs
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Revert "Rollback photon"
  .gitignore
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

readd multirx filter on pricing
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

readd multirx filter on pricing (#1742)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add mail order tab to ognomy and show gifthealth for vials, truepill lilly and amazon pharmacy for auto injectors
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

run prettier
  packages/settings/src/lib/photon.ts
Labels: Settings

Fix prettier warning
  .prettierignore
  packages/elements/index.html
Labels: Elements

Show mail order tab for Ognomy and add pharmacies (#1745)
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

Fix typescript errors; cleanup dev app
  packages/components/dev/App.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
Labels: Components

add env to photon client and provider
  apps/app/src/App.tsx
  packages/react/src/provider.tsx
Labels: Clinical App

Initial File Uploader component
  apps/app/src/views/components/FileUpload.tsx
Labels: Clinical App

add fileuploader field and call upload to clinical upload service
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
Labels: Clinical App

change upload endpoint
  apps/app/src/views/routes/Settings/components/organization/utils.ts
Labels: Clinical App

create reusable clinical rest hook
  apps/app/src/hooks/useClinicalRest.ts
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
Labels: Clinical App

add error message to toast description in fileupload
  apps/app/src/views/components/FileUpload.tsx
Labels: Clinical App

use process env in createContext with casting
  packages/react/src/provider.tsx
Labels: none

Setup draft state
  apps/app/src/views/routes/Prescriptions.tsx
Labels: Clinical App

add neutron org id to settings gate
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
Labels: Clinical App

Org settings edit form (#1748)
  apps/app/src/App.tsx
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/hooks/useClinicalRest.ts
  apps/app/src/views/components/FileUpload.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
  packages/react/src/provider.tsx
Labels: Clinical App

Fix client typescript
  packages/components/src/context.ts
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components

Remove any type
  apps/app/src/views/routes/Prescriptions.tsx
Labels: Clinical App

loading spinners
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
Labels: Components

Improve table layout
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/PharmacyNameView.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/app/src/views/routes/Prescriptions.tsx
Labels: Clinical App

Improve table layout (#1750)
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/PharmacyNameView.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/app/src/views/routes/Prescriptions.tsx
Labels: Clinical App

Run playwright e2e on PRs (#1713)
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/smoke-tests.yml
  apps/app/.env.local.sample
  apps/app/.gitignore
  apps/app/README.md
  apps/app/e2e/auth.setup.ts
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/tsconfig.json
  apps/app/playwright.config.ts
  apps/app/project.json
  package.json
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-datepicker/style.css
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-dropdown/style.css
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-phone-input/photon-phone-input-component.tsx
  packages/elements/src/photon-phone-input/style.css
  packages/elements/src/photon-text-input/photon-text-input-component.tsx
  packages/elements/src/photon-text-input/style.css
Labels: Elements, Clinical App

adding override text (as slug) for data tracking purposes
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix patient:tau run script
  apps/patient/project.json
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
