Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

Tweak alert presentation
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
Labels: Components

enabling novocare branded pharmacy override for measured (#1794)
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fixing some minor ui issues
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Initial design feedback for alerts
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

fixing some minor ui issues (#1800)
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Rename alternative to other
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements, Components

fix typescript error
  packages/components/dev/App.tsx
Labels: Components

Show coverage options in clinical app
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
Labels: Elements, Clinical App

Remove draft rx card style
  packages/components/src/particles/Divider/index.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
Labels: Components

Present sig and refills better when coverage option available
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/utils/formatRxString.ts
Labels: Components

Show pharmacy for coverage option
  packages/components/src/fetch/mutations.ts
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

wip
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

open coupon modal
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

optional retail price
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

clenaup and format price
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

move formatter
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/general.ts
Labels: Patient App

Small updates to pricing ui (#1803)
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Show no coverage status message
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
Labels: Components

rerailPrice on pharmacies query
  apps/patient/src/graphql/queries.ts
Labels: Patient App

retailPrice on pharmacies query (#1805)
  apps/patient/src/graphql/queries.ts
Labels: Patient App

Throttle coverage check after other option selected
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements, Components

Disable coverage check in clinical app
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

Fix combobox setSelected invocations
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Input/index.tsx
Labels: Components

Fix Med History requiring RecentOrders and Prescribe contexts
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockSDKProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

enabling amazon pharmacy for all orgs
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Attempt to fix CI not finding sdk types
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/tsconfig.json
Labels: Components

Attempt to fix CI not finding sdk types 2
  packages/components/tsconfig.json
  packages/components/vite.config.ts
Labels: Components

Attempt to fix CI not finding sdk types 3
  .github/workflows/vitest.yml
  packages/components/vite.config.ts
Labels: Components

Add missing prop
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
Labels: Components

Fix Med History requiring RecentOrders and Prescribe contexts (#1808)
  .github/workflows/vitest.yml
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockSDKProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

enabling amazon pharmacy for all orgs (#1809)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding medication id to amazon select rum action
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Enable coverage check for photon employees
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

adding medication id to amazon select rum action (#1813)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fixup mock prescribe
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

show prescription routing alerts for Zepbound
  packages/components/src/fetch/queries.tsx
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

fix MockPrescribeProvider
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

move getRoutingConstraint usage to PrescribeProvider
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

include routingConstraints in dev/App.tsx
  packages/components/dev/App.tsx
Labels: Components
