Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

comments
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

cleanup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

2 decimals on status page coupon
  apps/patient/src/components/CouponDetails.tsx
Labels: Patient App

adding new component to power adding to catalog with medisearch
  apps/app/src/views/components/TreatmentOptionSearch.tsx
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
Labels: Clinical App

fixup
  apps/app/src/views/components/TreatmentOptionSearch.tsx
Labels: Clinical App

fix pharmacy not showing
  apps/patient/src/views/Main.tsx
Labels: Patient App

remove unused type
  apps/patient/src/utils/models.ts
Labels: Patient App

cleanup dc rows
  apps/patient/src/components/CouponDetails.tsx
Labels: Patient App

check for dc in coupon details
  apps/patient/src/components/CouponDetails.tsx
Labels: Patient App

singlecare med price UI rebase (#1388)
  apps/patient/src/api/internal.ts
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/StatusV2.tsx
  package-lock.json
Labels: Patient App

adding bolding by search terms
  apps/app/src/utils.ts
  apps/app/src/views/components/TreatmentOptionSearch.tsx
Labels: Clinical App

log
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/MedicationSelect.tsx
Labels: Clinical App

log
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/MedicationSelect.tsx
Labels: Clinical App

removing unneccessary gql fields
  apps/app/src/views/components/TreatmentOptionSearch.tsx
Labels: Clinical App

updating codegen
  apps/app/apps/app/src/gql/fragment-masking.ts
  apps/app/apps/app/src/gql/gql.ts
  apps/app/apps/app/src/gql/graphql.ts
  apps/app/apps/app/src/gql/index.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
  package-lock.json
Labels: Clinical App

fixup
  apps/app/apps/app/src/gql/fragment-masking.ts
  apps/app/apps/app/src/gql/gql.ts
  apps/app/apps/app/src/gql/graphql.ts
  apps/app/apps/app/src/gql/index.ts
Labels: Clinical App

adding new component to power adding to catalog with medisearch (#1400)
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/utils.ts
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
  package-lock.json
Labels: Clinical App

Add configuration for Measured in Neutron & Photon
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

bills
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/MedicationSelect.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

Create Template Form Includes Medi-Span Results (#1399)
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/MedicationSelect.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/Treatment.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

remove
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

bump
  packages/elements/package.json
Labels: Elements

remove
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

fix-pharmacy-missing-with-coupons
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix missing pharmacy on status page with discount cards
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

cleanup
  apps/patient/src/views/Main.tsx
Labels: Patient App

fix type
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix pharmacy missing on status page with coupons (#1403)
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add configuration for Measured in Neutron & Photon (#1401)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

baseline
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

baseline (#1407)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixed dangling semicolon
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

fixed dangling semicolon (#1409)
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

exceptions wording improvements
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

exceptions wording improvements (#1412)
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

fix
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix (#1415)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Remove New Medication Search Educational banner (#1402)
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

Bump package version
  packages/elements/package.json
Labels: Elements

Expose connection param for the photon client
  packages/components/src/systems/Client/index.tsx
Labels: Components
