Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

place mixpanel in PatientAnalytics
  apps/patient/src/configs/analytics.ts
  apps/patient/src/index.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

add getFlagValue in patientAnalytics
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

type getFlagValue automatically
  apps/patient/src/configs/analytics.ts
Labels: Patient App

ChangePharmacyReasons UI
  apps/patient/src/components/ChangePharmacyReasons.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

add mixpanel events
  apps/patient/src/components/ChangePharmacyReasons.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

rm duplicate usePageAnalytics calls
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix test
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

rm duplicate usePageAnalytics calls (#2494)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

oops
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/.env.tau
Labels: Patient App

add initial mixpanel to patient app (#2491)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/Status.test.tsx
  package-lock.json
  package.json
Labels: Patient App

removing tracking for AP multi meds and wiring up to offer cards
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/utils/deliveryPromise.test.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

inline more tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

rm unused tsconfig.base.json
  apps/patient/tsconfig.base.json
Labels: Patient App

can convert .ts files to graphql
  apps/patient/codegen.ts
  apps/patient/src/graphql/index.ts
  apps/patient/src/graphql/mutations.graphql
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/graphql/queries.graphql
  apps/patient/src/graphql/queries.ts
Labels: Patient App

Update tests to reflect new logic for multi meds; update offer impression tracker to handle offer bundles
  apps/patient/src/configs/analytics.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Multi meds pricing AP (#2497)
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/utils/deliveryPromise.test.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

rm unused tsconfig.base.json
  apps/patient/tsconfig.base.json
Labels: Patient App

send reason in rerouteOrder mutation
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

use Modal on larger breakpoints
  apps/patient/src/components/ChangePharmacyReasons.tsx
Labels: Patient App

test for boson
  apps/patient/.env.boson
  apps/patient/buildspec.yml
Labels: Patient App

rm .env.boson
  apps/patient/.env.boson
  apps/patient/buildspec.yml
Labels: Patient App

init
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

get gha working
  apps/patient/.env.boson
  apps/patient/buildspec.yml
Labels: Patient App

fix lint and test
  apps/patient/src/SendToPatientDemo.test.tsx
Labels: Patient App

test for clinical app
  apps/app/.env.boson
  apps/app/buildspec.yml
Labels: Clinical App

provide the provida
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Routes.tsx
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/InsuranceModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/coupons/ExternalLinkCouponCard.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/hooks/usePageAnalytics.test.tsx
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/hooks/usePatientAnalytics.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/hooks/usePatientAnalytics.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

rack em
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/hooks/usePageAnalytics.test.tsx
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/ReadyBy.test.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/Status.test.tsx
Labels: Patient App

fix tests
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/hooks/usePageAnalytics.test.tsx
Labels: Patient App

last fix
  apps/patient/src/views/Canceled.test.tsx
Labels: Patient App

codegen doesn't rely on .env
  apps/app/.env.boson
  apps/app/buildspec.yml
  apps/app/codegen.ts
  apps/app/project.json
  apps/patient/.env.boson
  apps/patient/buildspec.yml
  apps/patient/codegen.ts
  apps/patient/project.json
  packages/sdk/.env.boson
  packages/sdk/.env.tau
  packages/sdk/codegen.clinical-api.ts
  packages/sdk/project.json
Labels: SDK, Patient App, Clinical App

JSDoc(tor)
  apps/patient/src/hooks/usePatientAnalytics.tsx
Labels: Patient App

Fix type
  apps/patient/src/views/Review.tsx
Labels: Patient App

wip on pulling from aws
  .github/workflows/pr-e2e-tests.yml
  .gitignore
  apps/app/project.json
  apps/patient/project.json
Labels: Patient App, Clinical App

adding customer id and name to all patient front end data
  apps/patient/src/configs/analytics.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

fixup
  apps/patient/src/configs/analytics.ts
Labels: Patient App

test repository_dispatch
  .github/workflows/pr-e2e-tests.yml
Labels: none

remove comments
  apps/patient/src/Routes.tsx
Labels: Patient App

test workflow_dispatch
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
Labels: Clinical App

Update demo offerings with prices and move the PatientAnalysis behind a Provider (#2501)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/Routes.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/InsuranceModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/coupons/ExternalLinkCouponCard.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/hooks/usePageAnalytics.test.tsx
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/hooks/usePatientAnalytics.tsx
  apps/patient/src/setupTests.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App
