Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

misc refactor
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
Labels: Clinical App

fix case
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

add optional string
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-textarea/photon-textarea-component.tsx
Labels: Elements

bump versions
  packages/elements/package.json
  packages/sdk/package.json
Labels: Elements, SDK

fix tests
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-textarea/photon-textarea-component.tsx
Labels: Elements

form
  apps/patient/src/api/internal.ts
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Review.tsx
Labels: Patient App

fix test again
  apps/app/e2e/create_prescription.spec.ts
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-textarea/photon-textarea-component.tsx
Labels: Elements, Clinical App

Review forms for updating organization and provider phone and fax in clinical app (#2205)
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/utils/Roles.tsx
  apps/app/src/views/routes/Settings/components/utils/Validation.tsx
Labels: Clinical App

fix test again again
  apps/app/e2e/create_prescription.spec.ts
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
Labels: Elements, Clinical App

bump elements and sdk ver, add "Optional" to dnfb input label (#2206)
  apps/app/e2e/create_prescription.spec.ts
  packages/elements/package.json
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-textarea/photon-textarea-component.tsx
  packages/sdk/package.json
Labels: Elements, SDK, Clinical App

iconic
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

don't display address card
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

test
  packages/elements/index.html
Labels: Elements

update order address
  apps/patient/src/api/internal.ts
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/views/Review.tsx
  packages/elements/index.html
Labels: Elements, Patient App

block error for no address
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

address id
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

tests
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Review.test.tsx
Labels: Patient App

formik & yup
  apps/patient/src/components/AddressForm.tsx
Labels: Patient App

Patient sets their own address (#2211)
  apps/patient/src/api/internal.ts
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/Review.tsx
  packages/elements/index.html
Labels: Elements, Patient App

copy fixes
  apps/patient/src/components/Nav.tsx
  apps/patient/src/utils/text.tsx
Labels: Patient App

replace NewCo branding with photon
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/views/Main.tsx
  packages/settings/src/lib/neutron.ts
Labels: Settings, Patient App

demo rx expiration date always a year away
  apps/patient/src/data/demoOrder.ts
Labels: Patient App

optional address when creating patients
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

remove demo CTA
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

remove demo CTA fix
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

remove unused newco asset
  apps/patient/src/assets/newco_logo.svg
Labels: Patient App

Easy fixes for Send to patient (STP) demo (#2215)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/assets/newco_logo.svg
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Status.tsx
  packages/settings/src/lib/neutron.ts
Labels: Settings, Patient App

update value name
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

add new query param
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
Labels: Clinical App

Disable support text in demo
  apps/patient/src/components/FAQModal.tsx
Labels: Patient App

org settings optional patient add
  apps/app/codegen.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  package-lock.json
Labels: Clinical App

Disable support text in demo (#2218)
  apps/patient/src/components/FAQModal.tsx
Labels: Patient App

pass throuh prescribe wrapper
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
Labels: Elements

Allow mail order in STP demo
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Allow mail order in STP demo
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update SDK
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/sdk/src/clinical/order.ts
Labels: Elements, SDK, Components

update README
  apps/app/README.md
  package.json
Labels: Clinical App

make it easier to run codegen pointing at tau schema
  .gitignore
  apps/app/codegen.ts
  apps/app/project.json
  apps/app/src/gql/fragment-masking.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/gql/index.ts
  package.json
Labels: Clinical App

update README
  apps/app/README.md
  package.json
Labels: Clinical App

refactor InviteForm
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
