Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Add clinical app analytics for patient form and signature attestation
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  apps/app/src/views/routes/analyticsListener.ts
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/components/src/analytics/dispatchAnalyticsEvent.ts
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components, Clinical App

Try auto advance on date select on ios
  packages/components/src/particles/DateInput/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

another ios fix for date form field progression
  packages/components/src/particles/DateInput/index.tsx
Labels: Components

render conditionally
  CLAUDE.md
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

clean up validators
  packages/elements/src/validators/index.ts
Labels: Elements

fix adding supervisor notes, refactor
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

add tracking for signature attestation shown and agreed and canceled
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

split forms into multiple tables
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  apps/app/src/views/routes/analyticsListener.ts
  packages/components/src/analytics/dispatchAnalyticsEvent.ts
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components, Clinical App

remove log
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

fix naming
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/components/src/analytics/dispatchAnalyticsTrackEvent.ts
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

type query
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

add toUpperCase
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

supervisor in AddPrescriptionCard, append supervisor to prescription notes (#2370)
  CLAUDE.md
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/validators/index.ts
Labels: Elements

move common analytics types to SDK
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/components/src/analytics/dispatchAnalyticsTrackEvent.ts
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: SDK, Components, Clinical App

update claude.md for import guidance to avoid importing solidjs components into clinical app
  CLAUDE.md
Labels: none

pull into SupervisorCard
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

fix patient_created event not having didClickCreatePatientAndPrescription. removed `test_` prefix for events
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Clinical App

remove unused effect dependency
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

bump elements version
  packages/elements/package.json
Labels: Elements

fix object destructure naming
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

first step of type safety
  packages/components/src/analytics/dispatchAnalyticsTrackEvent.ts
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components

second step of type safety; moved fields into properties
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Clinical App

add comments
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: SDK

remove destructure; fix functional component not using useRef hook
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
Labels: Clinical App

Clinical app analytics for Patient Form and Signature Attestation (#2359)
  CLAUDE.md
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/components/src/analytics/dispatchAnalyticsTrackEvent.ts
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/elements/package.json
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components, Clinical App

add bookmarklet for form filling patient form quickly
  CLAUDE.md
  tools/bookmarklets/patient-form-filler.txt
  tools/bookmarklets/reset-form-localstorage.txt
Labels: none

add readme, fix unreliability of form fill
  tools/bookmarklets/README.md
  tools/bookmarklets/patient-form-filler.txt
Labels: none

add script to also fill address
  CLAUDE.md
  tools/bookmarklets/patient-form-filler-with-address.txt
Labels: none

readme cleanup
  tools/bookmarklets/README.md
Labels: none

add bookmarklet for form filling patient form quickly (#2373)
  CLAUDE.md
  tools/bookmarklets/README.md
  tools/bookmarklets/patient-form-filler-with-address.txt
  tools/bookmarklets/patient-form-filler.txt
  tools/bookmarklets/reset-form-localstorage.txt
Labels: none

validation in SupervisorCard with felte
  packages/components/src/particles/Card/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/elements/src/stores/form.ts
Labels: Elements, Components

refactor rx form to use less WebComponents
  packages/components/src/index.ts
  packages/components/src/particles/Card/index.tsx
  packages/components/src/particles/Checkbox/index.tsx
  packages/components/src/particles/DispenseUnitSelect/index.tsx
  packages/components/src/particles/GenderSelect/index.tsx
  packages/components/src/particles/Select/index.tsx
  packages/components/src/particles/SexSelect/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/components/src/particles/Textarea/index.tsx
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

fix optional subtext and form spacing
  packages/components/src/particles/InputGroup/InputGroup.stories.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

added shoelace-like tooltip
  packages/components/src/index.ts
  packages/components/src/particles/Checkbox/index.tsx
  packages/components/src/particles/SmartTooltip/index.tsx
Labels: Components

create new supervisor
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/types.ts
Labels: Elements, SDK

WIP: crashes on page load.
  package-lock.json
  packages/components/package.json
  packages/components/src/index.ts
  packages/components/src/store.ts
  packages/components/src/systems/MedicationSearch/MedicationSearchDesktop.tsx
  packages/components/src/systems/MedicationSearch/MedicationSearchEmptyState.tsx
  packages/components/src/systems/MedicationSearch/MedicationSearchGroupLabel.tsx
  packages/components/src/systems/MedicationSearch/MedicationSearchItem.tsx
  packages/components/src/systems/MedicationSearch/MedicationSearchMobile.tsx
  packages/components/src/systems/MedicationSearch/index.tsx
  packages/components/src/systems/MedicationSearch/types.ts
  packages/components/src/utils/boldSubstring.tsx
  packages/components/src/utils/useMediaQuery.ts
  packages/elements/src/index.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-medication-dropdown-full-width/index.ts
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/src/photon-medication-dropdown-full-width/style.css
  packages/elements/src/photon-medication-dropdown/index.ts
  packages/elements/src/photon-medication-dropdown/photon-medication-dropdown.tsx
  packages/elements/src/photon-medication-dropdown/style.css
  packages/elements/src/photon-medication-search/MedicationSearch.stories.ts
  packages/elements/src/photon-medication-search/index.ts
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/stores/catalog.ts
Labels: Elements, Components

add plan for later resumption of fixing
  refactor_medsearchcomponent_claudePlan.md
Labels: none

remove unused web components
  packages/elements/src/index.ts
  packages/elements/src/photon-checkbox/index.ts
  packages/elements/src/photon-checkbox/photon-checkbox-component.tsx
  packages/elements/src/photon-datepicker/formatDate.ts
  packages/elements/src/photon-datepicker/index.ts
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-datepicker/style.css
  packages/elements/src/photon-dispense-units/index.ts
  packages/elements/src/photon-dispense-units/photon-dispense-units-component.tsx
  packages/elements/src/photon-number-input/index.ts
  packages/elements/src/photon-number-input/photon-number-input-component.tsx
  packages/elements/src/photon-number-input/style.css
  packages/elements/src/photon-text-input/index.ts
  packages/elements/src/photon-text-input/photon-text-input-component.tsx
  packages/elements/src/photon-text-input/style.css
  packages/elements/src/photon-textarea/index.ts
  packages/elements/src/photon-textarea/photon-textarea-component.tsx
  packages/elements/src/photon-textarea/style.css
  packages/elements/types.d.ts
Labels: Elements

remove unused prop
  packages/components/src/particles/Checkbox/index.tsx
Labels: Components

disable on tau
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
