Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Remove Deny From account link flow.
  apps/app/src/setupTests.ts
  apps/app/src/test-utils/harness.tsx
  apps/app/src/views/routes/Link/LinkConfirmation.test.tsx
  apps/app/src/views/routes/Link/LinkConfirmation.tsx
Labels: Clinical App

apply
  apps/app/src/views/routes/Link/LinkConfirmation.tsx
Labels: Clinical App

fix test
  apps/app/src/views/routes/Link/LinkConfirmation.test.tsx
Labels: Clinical App

Remove Deny From account link flow. (#2868)
  apps/app/src/setupTests.ts
  apps/app/src/test-utils/harness.tsx
  apps/app/src/views/routes/Link/LinkConfirmation.test.tsx
  apps/app/src/views/routes/Link/LinkConfirmation.tsx
Labels: Clinical App

Fix offers not showing
  apps/patient/src/PromotedOffers.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add other test
  apps/patient/src/PromotedOffers.test.tsx
Labels: Patient App

Fix offers not showing (#2872)
  apps/patient/src/PromotedOffers.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix missing pharmacyName on Offer Impression events
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.test.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Test promoted UK Health offer impression carries pharmacy name
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Track promoted offer impressions when prices are disabled
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Track offer impressions whether or not prices are enabled
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Test plain pharmacy cards don't fire impressions when prices are disabled
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Consolidate Offer Impression test helpers
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Fire Offer Impressions only for offers and visible coupon prices
  apps/patient/src/components/mail-order-select/MailOrderSelectList.test.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.test.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Track offer selections by the selected card, not the price flag
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Test demo mode sends no offer analytics
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/test-utils/intersectionObserver.ts
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Share the IntersectionObserver test stub through test-utils
  apps/patient/src/test-utils/intersectionObserver.ts
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Pin current offer analytics behavior on the pharmacy page
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/views/Pharmacy.offerAnalytics.test.tsx
Labels: Patient App

Test that promoted offers show during a reroute
  apps/patient/src/views/Pharmacy.offerAnalytics.test.tsx
Labels: Patient App

Pin offer impressions during a reroute instead of card presence
  apps/patient/src/views/Pharmacy.offerAnalytics.test.tsx
Labels: Patient App

Pin Offer Selected and Offer Clicked for first-time orders and reroutes
  apps/patient/src/views/Pharmacy.offerAnalytics.test.tsx
Labels: Patient App

Pin current offer analytics behavior on the pharmacy page (#2875)
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/test-utils/intersectionObserver.ts
  apps/patient/src/views/Pharmacy.offerAnalytics.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Remove the use of the invite here
  apps/app/src/views/routes/Login.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

Remove double login from Elements. (#2837)
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/SelectOrg.test.tsx
  apps/app/src/views/routes/SelectOrg.tsx
  package-lock.json
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/components/src/store.ts
  packages/elements/package.json
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: Elements, SDK, Components, Clinical App

Add address column to clinical app patients list
  apps/app/src/views/components/AddressView.tsx
  apps/app/src/views/routes/Patients.test.tsx
  apps/app/src/views/routes/Patients.tsx
Labels: Clinical App

Rename agents file
  .gitignore
  AGENTS.md
  CLAUDE.md
Labels: none

Tighten patient address tests: scope None to row, cover missing street2
  apps/app/src/views/routes/Patients.test.tsx
Labels: Clinical App

Add address column to clinical app patients list (#2879)
  apps/app/src/views/components/AddressView.tsx
  apps/app/src/views/routes/Patients.test.tsx
  apps/app/src/views/routes/Patients.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
