Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

WHoops Submitted FAKE DOOR PR, needed better timing (#2099)
  apps/patient/src/components/InsuranceModal.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add name, email, address input fields
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Not directly related to PR change, but this pissed me off and was hard to read
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

add initial styling and copy updates
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Setup tos/baa agreement checkbox
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Form validation
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

bump nvmrc
  .nvmrc
Labels: none

fix autocomplete setting
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  package-lock.json
Labels: Clinical App

refactor form to use formik validation
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
Labels: Clinical App

fix spacing and link
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Create prescriptions from prefill template ids in one create request (#2100)
  packages/components/src/fetch/mutations.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

Bump elements patch version to capture templated rx efficiency boost
  packages/elements/package.json
Labels: Elements

fix tos param
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

revert removal of returnTo param
  apps/app/src/App.tsx
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

rename zip to postalCode
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
Labels: Clinical App

use snake case
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

improve spacing
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Bump elements patch version to capture templated rx efficiency boost (#2102)
  packages/elements/package.json
Labels: Elements

Self signup Validates input for name, email, npi, address (#2097)
  .nvmrc
  apps/app/src/views/routes/SSOLogin.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
  package-lock.json
Labels: Clinical App

works
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

cleanup
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

cleanup
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

DOX ToS lands on new patient (Nothing Burger) (#2105)
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

rx bin
  apps/patient/src/components/InsuranceModal.tsx
Labels: Patient App

redirect
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

boson
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

rx bin (#2107)
  apps/patient/src/components/InsuranceModal.tsx
Labels: Patient App

SSO redirect query param simplification (#2108)
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

extract common pharmacy search input from pickup pharmacy search
  packages/components/src/systems/PharmacySearch/PharmacySearch.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
Labels: Components

create mailorder pharmacy search component from pharmacySearchInput add queries too
  apps/app/src/gql/graphql.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/systems/PharmacySearch/MailOrderPharmacySearch.tsx
Labels: Components, Clinical App

rename other useages of PharmacySearch to PickupPharmacySearch
  packages/components/dev/App.tsx
  packages/components/src/index.ts
Labels: Components

pass selected and setSelected props from mailordersearch to pharmacysearch
  packages/components/src/systems/PharmacySearch/MailOrderPharmacySearch.tsx
  packages/components/src/systems/PharmacySearch/PharmacySearch.tsx
Labels: Components

Cleanup input group: help/error div should only show if there is a help or err
  packages/components/src/particles/InputGroup/index.tsx
Labels: Components

Change RadioGroupCards to update internal state when props.value changes
  packages/components/src/particles/RadioGroupCards/index.tsx
Labels: Components

Add search select on mail order tab, control signal with both inputs
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
Labels: Components

fix dose calculator unit select inputs per combobox change
  packages/components/src/systems/DoseCalculator/components/DoseCalculator.tsx
  packages/components/src/systems/DoseCalculator/components/UnitSelect.tsx
Labels: Components

fix components combobox storybook stuff
  packages/components/dev/App.tsx
  packages/components/src/particles/ComboBox/ComboBox.stories.tsx
  packages/components/src/particles/InputGroup/InputGroup.stories.tsx
Labels: Components

fix combobox test
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
Labels: Components

Logout user before attempting SSO login
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

add comment note
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
