Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

add supervisor prop to prescribe element (#2685)
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/SupervisorProvider/SupervisorProvider.tsx
  packages/components/src/systems/SupervisorProvider/index.tsx
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
  packages/sdk/src/graphql/clinical-api/mutation.ts
Labels: Elements, SDK, Components

Add memorial day 2026 holiday
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

Fix "Select a pharmacy link cta" display logic for routing orders
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Add memorial day 2026 holiday (#2692)
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

Initial Order Details Page regression suite
  apps/app/src/setupTests.ts
  apps/app/src/views/routes/Order.test.tsx
Labels: Clinical App

Moving location of reusable test stuff
  apps/app/src/setupTests.ts
  apps/app/src/test-utils/harness.tsx
  apps/app/src/views/routes/Order.test.tsx
Labels: Clinical App

tweak display
  apps/app/src/views/routes/Order.test.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Fix missing `Select a pharmacy` link cta when order is in initial routing state (waiting for preferred pharmacy auto route) (#2695)
  apps/app/src/queries/lambda-api/orders.ts
  apps/app/src/setupTests.ts
  apps/app/src/test-utils/harness.tsx
  apps/app/src/views/routes/Order.test.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

remove feature flag; update tests
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.test.tsx
Labels: Patient App

update e2e test after removing ff
  apps/patient/e2e/select-pharmacy.spec.ts
Labels: Patient App

remove Urgent check after selecting
  apps/patient/e2e/select-pharmacy.spec.ts
Labels: Patient App

remove feature flag; update tests (#2700)
  apps/patient/e2e/select-pharmacy.spec.ts
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.test.tsx
Labels: Patient App

preventing scroll in number inputs
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
Labels: Elements

preventing scroll in number inputs (#2702)
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
Labels: Elements

Fix User when no org ID is set.
  packages/components/src/store.ts
Labels: Components

lil more elegante
  packages/components/src/store.ts
Labels: Components

generalize and extract handy hooks from reroute order button
  apps/app/src/hooks/useHighestUserRole.ts
  apps/app/src/hooks/useOrderUniqueTreatments.ts
  apps/app/src/views/components/RerouteOrderButton.tsx
Labels: Clinical App

Update VITest
  package-lock.json
  package.json
Labels: none

fix
  package-lock.json
Labels: none

fix
  package-lock.json
Labels: none

audit fix
  package-lock.json
Labels: none

fix annoying error
  package-lock.json
Labels: none

Fix test
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
Labels: Components

fix setup
  apps/app/src/setupTests.ts
Labels: Clinical App

Update VITest (#2706)
  apps/app/src/setupTests.ts
  package-lock.json
  package.json
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
Labels: Components, Clinical App

ResendOrderButton
  apps/app/src/mutations/clinical-api/orders.ts
  apps/app/src/views/components/ResendOrderButton.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Resend button test
  apps/app/src/views/components/ResendOrderButton.test.tsx
Labels: Clinical App

Remove Google API Key
  packages/components/src/utils/loadGoogleScript.ts
Labels: Components

add benefits banner to marketplace
  apps/patient/src/components/pharmacy-card-list/BenefitsBanner.tsx
  apps/patient/src/components/pharmacy-card-list/index.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update divider color and push tooltip icon right
  apps/patient/src/components/pharmacy-card-list/BenefitsBanner.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add tracking for tooltip clicks
  apps/patient/src/components/pharmacy-card-list/BenefitsBanner.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Mobile responsive resend order modal
  apps/app/src/views/components/ResendOrderButton.tsx
Labels: Clinical App

add benefits banner to marketplace (#2710)
  apps/patient/src/components/pharmacy-card-list/BenefitsBanner.tsx
  apps/patient/src/components/pharmacy-card-list/index.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Resend Order Button (#2709)
  apps/app/src/hooks/useHighestUserRole.ts
  apps/app/src/hooks/useOrderUniqueTreatments.ts
  apps/app/src/mutations/clinical-api/orders.ts
  apps/app/src/views/components/RerouteOrderButton.tsx
  apps/app/src/views/components/ResendOrderButton.test.tsx
  apps/app/src/views/components/ResendOrderButton.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

use new patient copy resolver
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/ReadyBy.test.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix names; fix bug in bool check
  packages/components/src/store.ts
Labels: Components

bump elements
  packages/elements/package.json
Labels: Elements

Fix User when no org ID is set (#2704)
  package-lock.json
  packages/components/src/store.ts
  packages/elements/package.json
Labels: Elements, Components

hide setting pharmacy behind feature flag
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/configs/featureFlags.ts
Labels: Patient App

use remote flag
  apps/patient/src/components/PharmacyCard.tsx
Labels: Patient App
