Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fix filterType not reflected in UI
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/routes/Settings/views/TemplateTab.tsx
Labels: Clinical App

POC for google autocomplete dropdown
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

misc cleanup
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/routes/Orders.tsx
  apps/app/src/views/routes/Patients.tsx
  apps/app/src/views/routes/Prescriptions.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateTable.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentTable.tsx
  apps/app/src/views/routes/Settings/views/TemplateTab.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
Labels: Clinical App

Signup address prefills with google data
  apps/app/src/views/routes/SelfSignup/components/AddressSuggestionList.tsx
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

adding statsig to boson and neutron
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/package.json
  apps/patient/src/components/StatsigWrapper.tsx
  apps/patient/src/views/Main.tsx
  package-lock.json
Labels: Patient App

clinical app table empty states (#2326)
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/components/empty-state.svg
  apps/app/src/views/routes/Orders.tsx
  apps/app/src/views/routes/Patients.tsx
  apps/app/src/views/routes/Prescriptions.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateTable.tsx
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentTable.tsx
  apps/app/src/views/routes/Settings/views/TemplateTab.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
Labels: Clinical App

fix autofill popup in firefox
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

fix address dropdown not hiding
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
Labels: Clinical App

fix dropdown list not hiding and showing nicely
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

prefill street2 when available
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

scroll
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

adding statsig to boson and neutron (#2330)
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/package.json
  apps/patient/src/components/StatsigWrapper.tsx
  apps/patient/src/views/Main.tsx
  package-lock.json
Labels: Patient App

blur after selection
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

bump version
  packages/elements/package.json
Labels: Elements

add placeholder text; use const for min chars
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

remove unnecessary ref
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
Labels: Clinical App

remove unnecessary callback wrappers
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
Labels: Clinical App

vitest
  apps/patient/src/SendToPatientDemo.test.tsx
Labels: Patient App

Signup address autocompletes via google places API (#2329)
  apps/app/src/views/routes/SelfSignup/components/AddressSuggestionList.tsx
  apps/app/src/views/routes/SelfSignup/components/useAddressAutocomplete.ts
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

Revert "adding statsig to boson and neutron (#2330)"
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/package.json
  apps/patient/src/components/StatsigWrapper.tsx
  apps/patient/src/views/Main.tsx
  package-lock.json
Labels: Patient App

Revert "adding statsig to boson and neutron (#2330)" (#2336)
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/package.json
  apps/patient/src/components/StatsigWrapper.tsx
  apps/patient/src/views/Main.tsx
  package-lock.json
Labels: Patient App

Patient create/update Scroll bug Mobile (#2333)
  apps/patient/src/SendToPatientDemo.test.tsx
  packages/elements/package.json
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements, Patient App

Toggle show and hide text; fix spacing around the content
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

remove unnecessary extract
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

comment explains important modifier
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

Toggle show and hide text; fix spacing around the content (#2340)
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

initial SupervisorCard functionality
  packages/components/src/index.ts
  packages/components/src/systems/SupervisorCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

rm box shadow to match other inputs
  packages/components/src/particles/Input/index.tsx
  packages/components/src/particles/ListBox/index.tsx
Labels: Components

fixin issue with tracking events; adding logs for nonprod environemnt events
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add more zod validation
  packages/components/src/systems/SupervisorCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

Setup initial claude.md
  CLAUDE.md
Labels: none

fixin issue with tracking events; adding logs for nonprod environemnt events (#2342)
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

copy
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
Labels: Components

move superstruct validators into components, rm unnecessary abstraction
  packages/components/src/index.ts
  packages/components/src/utils/validators.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

WIP: testing mixpanel
  apps/app/.env.boson
  apps/app/.env.tau
  apps/app/src/instrumentation/index.ts
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
  package-lock.json
  package.json
Labels: Clinical App

Remove redundant context setter that could override better data
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Remove redundant context setter that could override better data (#2347)
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Track self signup
  apps/app/src/instrumentation/index.ts
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
Labels: Clinical App

test aria labels detection
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Clinical App

updated for PR feedback from nick and midori
  CLAUDE.md
Labels: none

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
