Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

Add datadog rum actions in the patient mail order select modal (#2078)
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

cleanup implementation
  apps/app/src/App.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

adding group to client events
  apps/patient/src/configs/analytics.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

cleanup implementation
  apps/app/src/views/routes/SSOLogin.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

setup allowlist for returnTo
  apps/app/src/App.tsx
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

undo whitespace
  packages/sdk/src/auth.ts
Labels: SDK

SSO page with returnTo post auth (#2079)
  apps/app/src/App.tsx
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

adding provider as well
  apps/patient/src/configs/analytics.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

adding group to client events (#2081)
  apps/patient/src/configs/analytics.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

Add fix on the patient side to allow reroutes
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

Add fix on the patient side to allow reroutes (#2086)
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

fixing issue with offers
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixing issue with offers (#2088)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Hide the mail orer modal link button when there are no options, fetch pharmacy data outside for now until we iron this out
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Hide the mail orer modal link button when there are no options, fetch (#2091)
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/app/src/views/routes/TermsOfService/views/TermsOfServicePage.tsx
Labels: Clinical App

Setup barebones ToS page
  apps/app/src/App.tsx
  apps/app/src/views/routes/TermsOfService/index.ts
  apps/app/src/views/routes/TermsOfService/views/TermsOfServicePage.tsx
Labels: Clinical App

rename params
  apps/app/src/views/routes/TermsOfService/views/TermsOfServicePage.tsx
Labels: Clinical App

rename to self signup
  apps/app/src/App.tsx
  apps/app/src/views/routes/SelfSignup/index.ts
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/TermsOfService/index.ts
Labels: Clinical App

Setup barebones Signup/ToS page (#2084)
  apps/app/src/App.tsx
  apps/app/src/views/routes/SelfSignup/index.ts
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

sticky banner
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

insurance capture
  apps/patient/src/components/InsuranceModal.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

modal submit
  apps/patient/src/components/InsuranceModal.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove unnecessary params
  apps/app/src/App.tsx
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

alert
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

analytics
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

form analytics
  apps/patient/src/components/InsuranceModal.tsx
Labels: Patient App

form
  apps/patient/src/components/InsuranceModal.tsx
Labels: Patient App

Setup NPI field and refactor component to elements
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  packages/elements/src/index.ts
  packages/elements/src/photon-self-signup/index.ts
  packages/elements/src/photon-self-signup/photon-self-signup-component.tsx
  packages/elements/types.d.ts
Labels: Elements, Clinical App

log
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

test
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

test
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

elements
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

Create prescriptions from prefill template ids in one create request
  packages/components/src/fetch/mutations.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

Revert "Setup NPI field and refactor component to elements"
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  packages/elements/src/index.ts
  packages/elements/src/photon-self-signup/index.ts
  packages/elements/src/photon-self-signup/photon-self-signup-component.tsx
  packages/elements/types.d.ts
Labels: Elements, Clinical App

Insurance form fake door (#2096)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/components/InsuranceModal.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

timing
  apps/patient/src/components/InsuranceModal.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

NPI is input during signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App
