Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fix comment
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

refactor with RoutingOperation enum
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix tests, remove duplicate tests
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

fix tests
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

rename to RoutingAction, use enum properties instead of boolean
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

rm demo readyBy nav
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

providerRouteFulfillmentType property
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix test
  apps/patient/src/SendToPatientDemo.test.tsx
Labels: Patient App

rm property not correct
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix routing behavior around patient confirming their pharmacy selection (#2767)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

delivery tab; sent here badge for mail order; reclaim some vertical space; new event
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectCard.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/components/mail-order-select/index.ts
  apps/patient/src/components/pharmacy-card-list/BrandedOptionsHeader.tsx
  apps/patient/src/components/pharmacy-card-list/index.ts
  apps/patient/src/components/pharmacy-tabs/PharmacyTypeTabBar.tsx
  apps/patient/src/components/pharmacy-tabs/TabPanel.tsx
  apps/patient/src/components/pharmacy-tabs/index.ts
  apps/patient/src/configs/analytics.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.test.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

cleanup
  apps/patient/src/components/pharmacy-tabs/PharmacyTypeTabBar.tsx
Labels: Patient App

banner to tell patient they have an autorouted pharmacy in other tab
  apps/patient/src/components/pharmacy-card-list/SentPharmacyBanner.tsx
  apps/patient/src/components/pharmacy-card-list/index.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove unused text
  apps/patient/src/utils/text.tsx
Labels: Patient App

addin lil bit extra special sauce
  apps/patient/src/components/mail-order-select/MailOrderSelectList.test.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixing e2e test
  apps/patient/e2e/select-pharmacy.spec.ts
Labels: Patient App

converting mail order modal into delivery tab (#2768)
  apps/patient/e2e/select-pharmacy.spec.ts
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectCard.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.test.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/components/mail-order-select/index.ts
  apps/patient/src/components/pharmacy-card-list/BrandedOptionsHeader.tsx
  apps/patient/src/components/pharmacy-card-list/SentPharmacyBanner.tsx
  apps/patient/src/components/pharmacy-card-list/index.ts
  apps/patient/src/components/pharmacy-tabs/PharmacyTypeTabBar.tsx
  apps/patient/src/components/pharmacy-tabs/TabPanel.tsx
  apps/patient/src/components/pharmacy-tabs/index.ts
  apps/patient/src/configs/analytics.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.test.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

calculate initialRouteType
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

misc cleanup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix name
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

account for PatientPending
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix comment
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

do hasInitialRoute instead of patient-pending
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add initialRouteType property (#2770)
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove nested timeout
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix Sent here badge rendering
  apps/patient/src/components/pharmacy-card/sent-here/PharmacyCardSentHereFrame.tsx
  apps/patient/src/components/pharmacy-card/sent-here/SentHereBadge.tsx
Labels: Patient App

add prescription-overrides and prescription-external-id to prescribe workflow
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-prescription-prefill.test.tsx
Labels: Elements, Components

fix test
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

rm console.log
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

untangle nested timeout in Pharmacy page, fix Sent here badge rendering over footer (#2772)
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/components/pharmacy-card/sent-here/PharmacyCardSentHereFrame.tsx
  apps/patient/src/components/pharmacy-card/sent-here/SentHereBadge.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Adding a mail order pharmacy to Great Many's configuration
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

Adding a mail order pharmacy to Great Many's configuration (#2775)
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

move file to analytics folder
  CLAUDE.md
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: SDK

set up AnalyticsClient and track method
  packages/sdk/src/analytics/AnalyticsClient.ts
  packages/sdk/src/lib.ts
  packages/sdk/src/utils.ts
Labels: SDK

pass package version headers on event req
  packages/sdk/src/analytics/AnalyticsClient.ts
  packages/sdk/src/lib.ts
  packages/sdk/src/utils.ts
Labels: SDK

wire up photon-client with event listener
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/components/src/index.ts
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/sdk/src/analytics/AnalyticsClient.ts
  packages/sdk/src/graphql/clinical-api/query.ts
Labels: Elements, SDK, Components, Clinical App

just send versions as properties
  packages/sdk/src/analytics/AnalyticsClient.ts
Labels: SDK

rm other event listeners
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/components/src/analytics/AnalyticsEventListener.tsx
Labels: Components, Clinical App

rm pageViewed tracking from elements
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Clinical App

rm redundant test setup
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/test-utils/harness.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
