Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

add back element view analytics
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: SDK, Components

add embed prop analytics event, review names and formats for prefill attributes
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/usePrefillPrescriptions.ts
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Components

fix import path
  packages/components/src/systems/DraftPrescriptions/utils/initialPrescriptionInputSchema.ts
Labels: Components

make waitForDraftPrescription util more strict
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
Labels: Elements

define Prefill type
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/usePrefillPrescriptions.ts
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/components/src/systems/SupervisorProvider/SupervisorProvider.tsx
  packages/components/src/utils/Prefill.ts
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

rm import
  packages/components/src/systems/DraftPrescriptions/index.tsx
Labels: Components

undo index.html
  packages/elements/index.html
Labels: Elements

oops add back export
  packages/components/src/systems/DraftPrescriptions/index.tsx
Labels: Components

udpating tests
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

fix analytics being dropped with queue
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
Labels: Elements, Components

fixing type in test
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

remove waitfors and use findbytext waitfor parameter instead
  apps/patient/src/SendToPatientDemo.test.tsx
Labels: Patient App

up the timeout
  apps/patient/src/SendToPatientDemo.test.tsx
Labels: Patient App

mail order demo test goes straight to order placed
  apps/patient/src/SendToPatientDemo.test.tsx
Labels: Patient App

fix flaky patient test
  apps/patient/src/SendToPatientDemo.test.tsx
Labels: Patient App

fix typo
  packages/components/src/analytics/AnalyticsEventListener.tsx
Labels: Components

less nesting in usePrefillPrescriptions
  packages/components/src/systems/DraftPrescriptions/utils/usePrefillPrescriptions.ts
Labels: Components

small improvements to optimize marketplace load (#2806)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

clarify Prefill comments
  packages/components/src/utils/Prefill.ts
Labels: Components

rename to DisabledMedicationsPrefill
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements

don't need these steps in vitest.yml
  .github/workflows/vitest.yml
  apps/patient/project.json
Labels: Patient App

try not installing rollup
  .github/workflows/vitest.yml
Labels: none

fix comment even more
  packages/components/src/utils/Prefill.ts
Labels: Components

initial-prescriptions embed prop, analytics on how embed is configured (#2803)
  .github/workflows/vitest.yml
  CLAUDE.md
  apps/app/src/order-workflow-analytics.test.tsx
  apps/patient/project.json
  apps/patient/src/SendToPatientDemo.test.tsx
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/initialPrescriptionInputSchema.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/DraftPrescriptions/utils/usePrefillPrescriptions.ts
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/components/src/systems/SupervisorProvider/SupervisorProvider.tsx
  packages/components/src/utils/Prefill.ts
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-initial-prescriptions.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components, Patient App, Clinical App

bump ver
  packages/elements/package.json
Labels: Elements

bump ver (#2814)
  packages/elements/package.json
Labels: Elements

bump package version
  packages/elements/package.json
Labels: Elements

fix combine orders sending duplicate rx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
Labels: Components

fix combine orders sending duplicate rx (#2812)
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/package.json
Labels: Elements, Components

rm photon-datadog-action html event
  CLAUDE.md
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

rm dispatchDatadogAction
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/utils/dispatchDatadogAction.ts
Labels: Components

rm initializeInstrumentation
  apps/app/src/index.tsx
  apps/app/src/instrumentation/beforeSendHandler.ts
  apps/app/src/instrumentation/index.ts
Labels: Clinical App

rm datadogRum from setupTests
  apps/app/src/setupTests.ts
Labels: Clinical App

rm setInstrumentationUserContext
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
  apps/app/src/setupTests.ts
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

rm datadogRum from apps/app
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/app/src/views/routes/SSOLogin.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

add todo
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

remove env vars from buildspec
  apps/app/buildspec.yml
Labels: Clinical App

rm data-dd-privacy attribute
  apps/app/src/views/components/ContactView.tsx
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/components/UserProfile.tsx
  apps/app/src/views/routes/NewOrder/components/PatientCard.tsx
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/users/UserItem.tsx
  packages/components/src/systems/PatientInfo/index.tsx
Labels: Components, Clinical App

uninstall datadog/browser-rum
  package-lock.json
  package.json
Labels: none

uninstall @datadog/datadog-ci
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
