Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

misc feedback
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

Add additional properties to Offer Impression + Selection events (#2445)
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

configuing source to properly link between projects
  packages/elements/tsconfig.json
  tsconfig.base.json
Labels: Elements

configuing source to properly link between projects (#2451)
  packages/elements/tsconfig.json
  tsconfig.base.json
Labels: Elements

test a failure
  .github/scripts/npm-publish-dry-run.sh
  .github/workflows/npm-publish-test.yml
  packages/elements/src/utils.ts
Labels: Elements

fix intentional error
  packages/elements/src/utils.ts
Labels: Elements

Fixing up npm publish/package dry run test (#2453)
  .github/scripts/npm-publish-dry-run.sh
  .github/workflows/npm-publish-test.yml
Labels: none

fix Combobox behavior
  packages/components/src/particles/ComboBox/index.tsx
Labels: Components

fix Collapsible button width
  packages/components/src/particles/Collapsible/index.tsx
Labels: Components

replace fullName with firstName and lastName
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/sdk/src/graphql/clinical-api/fragment.ts
  packages/sdk/src/graphql/clinical-api/mutation.ts
Labels: Elements, SDK

WIP
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PharmacySelectionProvider/PharmacySelectionProvider.tsx
  packages/components/src/systems/PharmacySelectionProvider/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPharmacySelectionProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

move provider to pharmacySelect; fix formStore reset
  packages/components/src/index.ts
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelectionProvider.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PharmacySelect/index.tsx
  packages/components/src/systems/PharmacySelectionProvider/index.tsx
  packages/components/src/systems/TestMocks/MockPharmacySelectionProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

WIP 2
  packages/components/dev/App.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelectionProvider.tsx
  packages/components/src/systems/TestMocks/MockPharmacySelectionProvider.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

reorganize more pharmacy data into PharmacySelectionProvider
  packages/components/dev/App.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelectionProvider.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPharmacySelectionProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

rearrange test mock providers
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
Labels: Components

language
  apps/patient/package.json
  apps/patient/src/App.tsx
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/HorizontalStatusStepper.tsx
  apps/patient/src/components/LanguageSwitcher.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/components/coupons/CouponModal.tsx
  apps/patient/src/components/coupons/EmbeddedCouponCard.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/hooks/useText.tsx
  apps/patient/src/i18n/index.ts
  apps/patient/src/i18n/locales/en.ts
  apps/patient/src/i18n/locales/es.ts
  apps/patient/src/i18n/locales/my.ts
  apps/patient/src/i18n/locales/ru.ts
  apps/patient/src/i18n/locales/zh.ts
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Info.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
  package-lock.json
  packages/components/src/index.ts
  packages/components/src/particles/LanguageSelect/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components, Patient App

fix
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/hooks/useText.tsx
  apps/patient/src/i18n/locales/en.ts
  apps/patient/src/i18n/locales/es.ts
  apps/patient/src/i18n/locales/my.ts
  apps/patient/src/i18n/locales/ru.ts
  apps/patient/src/i18n/locales/zh.ts
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

language default
  apps/patient/src/i18n/index.ts
Labels: Patient App

WIP: use smart dispense unit options
  apps/app/project.json
  packages/components/project.json
  packages/components/src/particles/DispenseUnitSelect/index.tsx
  packages/elements/project.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/react/project.json
  packages/sdk/project.json
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/settings/project.json
Labels: Elements, SDK, Components, Settings, Clinical App

Refactor PharmacySelection state to context provider (#2455)
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelectionProvider.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PharmacySelect/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPharmacySelectionProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

wip, use corresponding services branch
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/util/getDispenseDefaults.ts
  packages/sdk/src/graphql/clinical-api/query.ts
  smart-dispense-defaults.md
Labels: Elements, SDK

remove environment because dependabot cant access
  .github/workflows/pr-e2e-tests.yml
Labels: none

POC for pharmacy UX rework
  CLAUDE.md
  packages/components/src/index.ts
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelectionCard.tsx
  packages/components/src/systems/PharmacySelect/PharmacyTabView.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PharmacySelect/index.tsx
  packages/components/src/systems/SelectedPatientProvider/SelectedPatientProvider.tsx
  packages/components/src/systems/SelectedPatientProvider/index.ts
  packages/components/src/systems/SelectedPatientProvider/queries.ts
  packages/components/src/systems/TestMocks/MockSelectedPatientProvider.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

never hit client cache for SupervisorCardQuery
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

patient address autocomplete
  packages/components/src/index.ts
  packages/components/src/particles/AddressAutocompleteInput/AddressSuggestionList.tsx
  packages/components/src/particles/AddressAutocompleteInput/index.tsx
  packages/components/src/particles/AddressAutocompleteInput/useAddressAutocomplete.ts
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

version bump
  packages/elements/package.json
Labels: Elements

prettier
  packages/elements/package.json
Labels: Elements

patient app e2e tests
  .github/workflows/pr-e2e-tests.yml
  .gitignore
  apps/patient/.env.local.sample
  apps/patient/e2e/setup.spec.ts
  apps/patient/e2e/status.spec.ts
  apps/patient/e2e/tsconfig.json
  apps/patient/playwright.config.ts
  apps/patient/project.json
Labels: Patient App

add req'd test job
  .github/workflows/pr-e2e-tests.yml
Labels: none

fix app names
  .github/workflows/pr-e2e-tests.yml
Labels: none

Patient Create/Update Form Autofill Address (#2465)
  packages/components/src/index.ts
  packages/components/src/particles/AddressAutocompleteInput/AddressSuggestionList.tsx
  packages/components/src/particles/AddressAutocompleteInput/index.tsx
  packages/components/src/particles/AddressAutocompleteInput/useAddressAutocomplete.ts
  packages/elements/package.json
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

Refactor naming and extract functions
  apps/patient/e2e/select-pharmacy.spec.ts
  apps/patient/e2e/setup-new-order.spec.ts
  apps/patient/playwright.config.ts
Labels: Patient App

handle variable landing page
  apps/patient/e2e/select-pharmacy.spec.ts
Labels: Patient App

improve accessibility of pharmacy selection
  apps/patient/e2e/select-pharmacy.spec.ts
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

change patient name
  apps/patient/e2e/setup-new-order.spec.ts
Labels: Patient App

update readme for patient e2e setup
  apps/patient/README.md
Labels: Patient App

add keydown for keyboard users
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
Labels: Patient App

numeric input for npi
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

send supervisorId on createOrder request, misc UI updates (#2448)
  packages/components/src/particles/Collapsible/index.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/sdk/src/clinical/order.ts
  packages/sdk/src/graphql/clinical-api/fragment.ts
  packages/sdk/src/graphql/clinical-api/mutation.ts
  packages/sdk/src/graphql/clinical-api/query.ts
Labels: Elements, SDK, Components

patient app e2e tests (#2466)
  .github/workflows/pr-e2e-tests.yml
  .gitignore
  apps/patient/.env.local.sample
  apps/patient/README.md
  apps/patient/e2e/select-pharmacy.spec.ts
  apps/patient/e2e/setup-new-order.spec.ts
  apps/patient/e2e/tsconfig.json
  apps/patient/playwright.config.ts
  apps/patient/project.json
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
