Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

updated sections on 2 APIs and analytics
  CLAUDE.md
Labels: none

copy (#2345)
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
Labels: Components

bump
  packages/elements/package.json
Labels: Elements

bump (#2350)
  packages/elements/package.json
Labels: Elements

Setup initial claude.md (#2343)
  CLAUDE.md
Labels: none

get validation working
  packages/components/src/systems/SupervisorCard.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/stores/form.ts
Labels: Elements, Components

fixup
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

Apply suggestions from code review
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

more events? more events!!! (#2352)
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

update readme
  apps/patient/README.md
Labels: Patient App

add styled tooltip
  apps/patient/src/components/offers/OfferInfo.tsx
Labels: Patient App

fixing some novocare stuff; also no longer showing retail price if it's lower than what ur actually paying for amazon offers
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fixing some novocare stuff; also no longer showing retail price if it's lower than what ur actually paying for amazon offers (#2355)
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fix how Tooltip handles mobile events
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/Tooltip.tsx
Labels: Patient App

logo
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

add test for sponsored tag
  apps/patient/src/components/offers/OfferInfo.test.tsx
Labels: Patient App

get component into AddPrescriptionCard
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

logo (#2358)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

append supervisor to rx notes
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

Add info tooltip to sponsored flag on AP Pharmacy card (#2357)
  apps/patient/README.md
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/Tooltip.tsx
Labels: Patient App

switch tab order
  apps/app/src/views/routes/Settings/index.tsx
Labels: Clinical App

hide org tab
  apps/app/src/views/routes/Settings/index.tsx
Labels: Clinical App

Replace patient form shoelace components
  packages/components/src/index.ts
  packages/components/src/particles/DateInput/index.tsx
  packages/components/src/particles/GenderCombobox/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/particles/PhoneInput/index.tsx
  packages/components/src/particles/SexCombobox/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

Fix date validation, e2e test, remove spacing
  apps/app/e2e/create_prescription.spec.ts
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Clinical App

move functions down
  packages/components/src/particles/PhoneInput/index.tsx
Labels: Components

fix spacing; fix selecting invalid option
  packages/components/src/particles/GenderCombobox/index.tsx
  packages/components/src/particles/SexCombobox/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

fix folder names
  packages/components/src/index.ts
  packages/components/src/particles/GenderSelect/index.tsx
  packages/components/src/particles/SexSelect/index.tsx
Labels: Components

Settings Page Tab Updates (#2362)
  apps/app/src/views/routes/Settings/index.tsx
Labels: Clinical App

Prettier runs on commit
  package.json
Labels: none

delete unused photon webcomponents
  packages/elements/src/index.ts
  packages/elements/src/photon-gender-input/index.ts
  packages/elements/src/photon-gender-input/photon-gender-input-component.tsx
  packages/elements/src/photon-gender-input/style.css
  packages/elements/src/photon-phone-input/PhoneInput.stories.ts
  packages/elements/src/photon-phone-input/index.ts
  packages/elements/src/photon-phone-input/photon-phone-input-component.tsx
  packages/elements/src/photon-phone-input/style.css
  packages/elements/src/photon-sex-input/index.ts
  packages/elements/src/photon-sex-input/photon-sex-input-component.tsx
  packages/elements/src/photon-sex-input/style.css
  packages/elements/types.d.ts
Labels: Elements

delete more unused photon webcomponents
  packages/elements/src/index.ts
  packages/elements/src/photon-radio-card/index.ts
  packages/elements/src/photon-radio-card/photon-radio-card-component.tsx
  packages/elements/src/photon-radio-group/index.ts
  packages/elements/src/photon-radio-group/photon-radio-group-component.tsx
  packages/elements/src/photon-state-input/index.ts
  packages/elements/src/photon-state-input/photon-state-input-component.tsx
  packages/elements/src/photon-state-input/style.css
  packages/elements/src/photon-treatment-select/TreatmentSelect.stories.ts
  packages/elements/src/photon-treatment-select/index.ts
  packages/elements/src/photon-treatment-select/photon-treatment-select-component.tsx
Labels: Elements

use value instead of id; fix default value
  packages/components/src/particles/GenderSelect/index.tsx
  packages/components/src/particles/SexSelect/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

remove types for deleted components
  packages/elements/types.d.ts
Labels: Elements

refactor redundant required field for inputgroups
  packages/components/src/particles/GenderSelect/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/particles/SexSelect/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

improvements to address form
  packages/components/src/particles/StateSelect/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/utils.ts
Labels: Elements, Components

remove more redundant requires
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

revert address.state being clearable
  packages/components/src/particles/StateSelect/index.tsx
Labels: Components

Bump elements to 0.20.0
  packages/elements/package.json
Labels: Elements

Refactor patient form (#2363)
  apps/app/e2e/create_prescription.spec.ts
  packages/components/src/index.ts
  packages/components/src/particles/DateInput/index.tsx
  packages/components/src/particles/GenderSelect/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/particles/PhoneInput/index.tsx
  packages/components/src/particles/SexSelect/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/elements/package.json
  packages/elements/src/index.ts
  packages/elements/src/photon-gender-input/index.ts
  packages/elements/src/photon-gender-input/photon-gender-input-component.tsx
  packages/elements/src/photon-gender-input/style.css
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-phone-input/PhoneInput.stories.ts
  packages/elements/src/photon-phone-input/index.ts
  packages/elements/src/photon-phone-input/photon-phone-input-component.tsx
  packages/elements/src/photon-phone-input/style.css
  packages/elements/src/photon-radio-card/index.ts
  packages/elements/src/photon-radio-card/photon-radio-card-component.tsx
  packages/elements/src/photon-radio-group/index.ts
  packages/elements/src/photon-radio-group/photon-radio-group-component.tsx
  packages/elements/src/photon-sex-input/index.ts
  packages/elements/src/photon-sex-input/photon-sex-input-component.tsx
  packages/elements/src/photon-sex-input/style.css
  packages/elements/src/photon-state-input/index.ts
  packages/elements/src/photon-state-input/photon-state-input-component.tsx
  packages/elements/src/photon-state-input/style.css
  packages/elements/src/photon-treatment-select/TreatmentSelect.stories.ts
  packages/elements/src/photon-treatment-select/index.ts
  packages/elements/src/photon-treatment-select/photon-treatment-select-component.tsx
  packages/elements/src/utils.ts
  packages/elements/types.d.ts
Labels: Elements, Components, Clinical App
