Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

Revert "Enable amazon pharmacy to be reroutable (#1910)" (#1913)
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

Bug fix: Prescribers can click Save Prescriptions or Send Order while templated RXs are loading, results in error (#1912)
  package-lock.json
  packages/components/src/particles/Button/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Enable amazon pharmacy to be reroutable (#1916)
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

demo refresh
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/HorizontalStatusStepper.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PharmacyOptions.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/components/Stepper.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/data/demoDiscountCards.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/data/demoPrescriptions.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

cleanup
  apps/patient/src/components/Coupons.tsx
Labels: Patient App

var
  apps/patient/src/components/DemoCtaModal.tsx
Labels: Patient App

remove comments
  apps/patient/src/components/PharmacyCard.tsx
Labels: Patient App

remove comment
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

cleanup
  apps/patient/src/data/demoPrescriptions.ts
Labels: Patient App

remove unused file
  apps/patient/src/data/demoPrescriptions.ts
Labels: Patient App

fix white bg on status
  apps/patient/src/views/Status.tsx
Labels: Patient App

logic fix on price toggle
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Update tests for med history with external med
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
Labels: Components

Fix external med showing infinite Loading spinner
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/elements/package.json
Labels: Elements, Components

fix test pollution
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
Labels: Components

Fix/infinite spinner external med history (#1920)
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/elements/package.json
Labels: Elements, Components

fixing issue with showing amazon pharmacy override
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

Remove stepper
  apps/patient/src/components/Stepper.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

fixing issue with showing amazon pharmacy override (#1923)
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

Update copy
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

add epiq to neutron mail order options for test org
  packages/settings/src/lib/neutron.ts
Labels: Settings

Fix Amazon copy and in stock badge
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add epiq to neutron mail order options for test org (#1926)
  packages/settings/src/lib/neutron.ts
Labels: Settings

Setup test
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.test.tsx
Labels: Components

WIP: need to allow templateIds with same underlying treatmentId (?)
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.test.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

add gogo meds to our test account mail orders in boson
  packages/settings/src/lib/boson.ts
Labels: Settings

add gogo meds to our test account mail orders in boson (#1930)
  packages/settings/src/lib/boson.ts
Labels: Settings

adding amazon price
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fixup
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

fixup
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/graphql/queries.ts
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fixup
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fixup
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

Show holiday alert on juneteenth
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

date oopsies
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App
