Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

add carrier attribute to fulfillment in order graphql query
  apps/patient/src/graphql/queries.ts
Labels: Patient App

add helper to get order fulfillment tracking link
  apps/patient/src/utils/fulfillmentsHelpers.ts
Labels: Patient App

use getFulfillmentTrackingLink on Status view
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

Include carrier in mail order tracking link (#1498)
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/fulfillmentsHelpers.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

replace low res icons
  apps/patient/src/assets/amazon_pharmacy_logo_small.png
  apps/patient/src/assets/amazon_pharmacy_logo_small_circle.png
  apps/patient/src/assets/capsule_logo_small.png
  apps/patient/src/assets/capsule_logo_small_circle.png
  apps/patient/src/assets/costplus_logo_small_circle.png
  apps/patient/src/assets/cvs_logo_small_circle.png
  apps/patient/src/assets/walgreens_logo_small_circle.png
  apps/patient/src/assets/walgreens_small.png
  apps/patient/src/assets/walmart_logo_small_circle.png
  apps/patient/src/assets/walmart_logo_small_circle.svg
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/utils/general.ts
Labels: Patient App

fix name
  apps/patient/src/components/BrandedPharmacyCard.tsx
Labels: Patient App

High res pharmacy logos 🤓 (#1499)
  apps/patient/src/assets/amazon_pharmacy_logo_small.png
  apps/patient/src/assets/amazon_pharmacy_logo_small_circle.png
  apps/patient/src/assets/capsule_logo_small.png
  apps/patient/src/assets/capsule_logo_small_circle.png
  apps/patient/src/assets/costplus_logo_small_circle.png
  apps/patient/src/assets/cvs_logo_small_circle.png
  apps/patient/src/assets/walgreens_logo_small_circle.png
  apps/patient/src/assets/walgreens_small.png
  apps/patient/src/assets/walmart_logo_small_circle.png
  apps/patient/src/assets/walmart_logo_small_circle.svg
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/utils/general.ts
Labels: Patient App

isDelivery util, add mail pharmacy branding to preparePharmacy, rename param
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

move tracking link to PharmacyInfo, rename pharmacyWithHours -> displayPharmacy
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

gate entire pharmacy display section with `displayPharmacy`
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

Display default info for mail order pharmacy, move tracking link into the pharmcy info section (#1501)
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

only show call pharmacy button if not rerouteable
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

style and text
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

fix unnecessary check
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

remove redundant styling
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

add call pharmacy button (#1503)
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

greater than 0
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/DispenseQuantity.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/utils.ts
Labels: Clinical App

greater than 0 (#1504)
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/DispenseQuantity.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/utils.ts
Labels: Clinical App

show generic price disclaimer on discount card
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
Labels: Patient App

replace counsel health logo
  apps/patient/src/assets/counsel_logo.png
Labels: Patient App

svg logo
  apps/patient/src/assets/counsel_logo.png
  apps/patient/src/assets/counsel_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

show generic price disclaimer on discount card (#1506)
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
Labels: Patient App

Logo refresh for Counsel health (#1507)
  apps/patient/src/assets/counsel_logo.png
  apps/patient/src/assets/counsel_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

only check duplicate orders on non canceled order fills
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
Labels: Components

fix types
  packages/sdk/package.json
  packages/sdk/project.json
Labels: SDK

fix
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

Only check for duplicate order fills on non canceled recent orders (#1510)
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/sdk/package.json
  packages/sdk/project.json
Labels: Elements, SDK, Components

insurance v price fork test
  apps/patient/src/App.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  package-lock.json
  package.json
Labels: Patient App

cleanup
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

🍴 Price v Insurance Fork (#1513)
  apps/patient/src/App.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  package-lock.json
  package.json
Labels: Patient App

copy update
  apps/patient/src/utils/text.tsx
Labels: Patient App

copy update (#1515)
  apps/patient/src/utils/text.tsx
Labels: Patient App

cash price copy
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/PaymentMethod.tsx
Labels: Patient App

copy
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/PaymentMethod.tsx
Labels: Patient App

Update copy on cash price fork test (#1516)
  apps/patient/src/utils/text.tsx
Labels: Patient App

default to patientId in prop
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

??
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Fix Race Condition between getting a patient and creating an order (#1518)
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

mask med name on status page for datadog
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

mask med name on status page for datadog (#1520)
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App
