Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

enabling found for production (#1689)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding found to amazon-pharmacy-elligible-people
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding found to amazon-pharmacy-elligible-people (#1694)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update draft
  packages/components/dev/App.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
Labels: Components

remove effectiveDate
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

remove more
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

log
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

adding ga 4 for photon
  apps/app/.env.photon
  apps/app/public/index.html
Labels: Clinical App

Remove duplicate PhotonClientStore from elements
  packages/components/src/index.ts
  packages/components/src/store.ts
  packages/components/src/systems/Client/index.tsx
  packages/elements/src/context.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-auth-button/photon-auth-button.tsx
  packages/elements/src/photon-authenticated/photon-authenticated-component.tsx
  packages/elements/src/photon-authorized/photon-authorized.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-dispense-units/photon-dispense-units-component.tsx
  packages/elements/src/photon-login/photon-login-component.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PharmacyCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
  packages/elements/src/photon-treatment-select/photon-treatment-select-component.tsx
  packages/elements/src/store.ts
Labels: Elements, Components

Bump versions again
  package.json
  packages/components/package.json
  packages/elements/package.json
Labels: Elements, Components

Update packagelock
  package-lock.json
Labels: none

simply draftRx
  packages/components/dev/App.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements, Components

adding ga 4 for photon (#1698)
  apps/app/.env.photon
  apps/app/public/index.html
Labels: Clinical App

Fix eslint error
  packages/components/src/particles/ComboBox/index.tsx
Labels: Components

Upgrade solid libraries (#1652)
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/particles/ComboBox/index.tsx
  packages/elements/package.json
Labels: Elements, Components

Setup playwright e2e
  README.md
  apps/app/.env.boson
  apps/app/.env.local.sample
  apps/app/.env.tau
  apps/app/.github/workflows/playwright.yml
  apps/app/.gitignore
  apps/app/README.md
  apps/app/e2e/create_prescription.spec.ts
  apps/app/package.json
  apps/app/playwright.config.ts
  apps/app/project.json
  package-lock.json
Labels: Clinical App

Setup e2e github action
  .github/workflows/playwright.yml
  apps/app/.github/workflows/playwright.yml
Labels: Clinical App

wip
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/PrescribeProvider/index.tsx
Labels: Components

Bump elements version
  packages/elements/package.json
Labels: Elements

Remove duplicate PhotonClientStore from elements (#1699)
  packages/components/src/index.ts
  packages/components/src/store.ts
  packages/components/src/systems/Client/index.tsx
  packages/elements/package.json
  packages/elements/src/context.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-auth-button/photon-auth-button.tsx
  packages/elements/src/photon-authenticated/photon-authenticated-component.tsx
  packages/elements/src/photon-authorized/photon-authorized.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-dispense-units/photon-dispense-units-component.tsx
  packages/elements/src/photon-login/photon-login-component.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PharmacyCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
  packages/elements/src/photon-treatment-select/photon-treatment-select-component.tsx
  packages/elements/src/store.ts
Labels: Elements, Components

add everymeds configuration and dania pharmacy id
  apps/patient/src/assets/everymeds_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, Patient App

add everymeds configuration and dania pharmacy id (#1705)
  apps/patient/src/assets/everymeds_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, Patient App

Extract initial PatientForm to components
  apps/app/src/views/routes/PatientForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/particles/SexInput/index.tsx
  packages/components/src/systems/Authorized/Authorized.tsx
  packages/components/src/systems/Authorized/index.ts
  packages/components/src/systems/PatientInfo/PatientFormV2/index.tsx
  packages/components/src/systems/PatientInfo/PatientFormV2/patientStore.ts
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/utils/validators.ts
  packages/elements/src/index.ts
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-patient-page/index.ts
  packages/elements/src/photon-patient-page/photon-patient-page-component.tsx
Labels: Elements, Components, Clinical App

Send aws codebuild completes to playwright workflow
  .github/workflows/playwright.yml
  apps/app/buildspec.yml
Labels: Clinical App

working
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Send codebuild complete before datadog
  apps/app/buildspec.yml
Labels: Clinical App

Playwright CI task setup
  .github/workflows/playwright.yml
  apps/app/e2e/create_prescription.spec.ts
  apps/app/project.json
Labels: Clinical App

Simplify e2e app startup, docs
  apps/app/README.md
  apps/app/playwright.config.ts
  apps/app/project.json
Labels: Clinical App

Move packages to root
  apps/app/package.json
  apps/app/project.json
  package-lock.json
  package.json
Labels: Clinical App

Set base url better
  .github/workflows/playwright.yml
Labels: none

Change workflow name to indicate it is a test
  .github/workflows/e2e-tests.yml
Labels: none

Playwright e2e test setup (#1703)
  .github/workflows/e2e-tests.yml
  README.md
  apps/app/.env.boson
  apps/app/.env.local.sample
  apps/app/.env.tau
  apps/app/.gitignore
  apps/app/README.md
  apps/app/buildspec.yml
  apps/app/e2e/create_prescription.spec.ts
  apps/app/playwright.config.ts
  apps/app/project.json
  package-lock.json
  package.json
Labels: Clinical App

deleting
  packages/components/src/fetch/queries.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Extract initial PatientForm to components
  apps/app/src/views/routes/PatientForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/particles/SexInput/index.tsx
  packages/components/src/systems/Authorized/Authorized.tsx
  packages/components/src/systems/Authorized/index.ts
  packages/components/src/systems/PatientInfo/PatientFormV2/index.tsx
  packages/components/src/systems/PatientInfo/PatientFormV2/patientStore.ts
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/utils/validators.ts
  packages/elements/src/index.ts
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-patient-page/index.ts
  packages/elements/src/photon-patient-page/photon-patient-page-component.tsx
Labels: Elements, Components, Clinical App

Setup vitest in clinical app
  apps/app/src/views/routes/PatientForm.test.tsx
  apps/app/vitest.config.ts
  apps/app/vitestSetup.ts
Labels: Clinical App

fix imports
  packages/components/src/systems/Authorized/Authorized.tsx
  packages/components/src/systems/PatientInfo/PatientFormV2/index.tsx
Labels: Components

fix typo
  .github/workflows/e2e-tests.yml
Labels: none

fix typo (#1709)
  .github/workflows/e2e-tests.yml
Labels: none

WIP: Increase dialog Z; other cleanup
  packages/components/src/particles/Dialog/index.tsx
  packages/components/src/systems/PatientInfo/PatientFormV2/index.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

Use correct base url for playwright startup
  apps/app/playwright.config.ts
Labels: Clinical App
