Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

some more type fixes
  apps/patient/src/components/HorizontalStatusStepper.tsx
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/utils/text.tsx
  package-lock.json
Labels: Patient App

need to actually parse the dates
  apps/patient/src/configs/graphqlClient.ts
  package-lock.json
  package.json
Labels: Patient App

tau comment
  apps/patient/codegen.ts
Labels: Patient App

point codegen at tau if running tau
  apps/patient/codegen.ts
  apps/patient/project.json
Labels: Patient App

codegen the patient app (#1322)
  .eslintignore
  .github/workflows/prettier.yml
  .gitignore
  .prettierignore
  apps/patient/codegen.ts
  apps/patient/package.json
  apps/patient/project.json
  apps/patient/src/api/internal.ts
  apps/patient/src/components/HorizontalStatusStepper.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/configs/graphqlClient.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  package-lock.json
  package.json
Labels: Patient App

add ops to new med search
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

add ops to new med search (#1374)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Allow adding whole organizations to the new medication search
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Allow adding whole organizations to the new medication search (#1376)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

search param
  packages/elements/index.html
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

banner
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/particles/Banner/Banner.stories.tsx
  packages/components/src/particles/Banner/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components, Clinical App

bumper
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

banner name
  packages/components/src/particles/Banner/index.tsx
Labels: Components

fx
  packages/components/src/particles/Banner/index.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

fix banner
  packages/components/src/particles/Banner/Banner.stories.tsx
  packages/components/src/particles/Banner/index.tsx
Labels: Components

fix type
  packages/components/src/particles/Banner/Banner.stories.tsx
Labels: Components

Release med search on clinical app (#1379)
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/particles/Banner/Banner.stories.tsx
  packages/components/src/particles/Banner/index.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components, Clinical App

a comment
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

a comment (#1380)
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

Revert "Allow adding whole organizations to the new medication search (#1376) (#1377)"
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Revert "Allow adding whole organizations to the new medication search (#1376) (#1377)" (#1382)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Revert "Revert "Allow adding whole organizations to the new medication search…"
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

prettier
  apps/patient/src/views/Status.tsx
Labels: Patient App

order details modal
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

have a way to access v2
  apps/patient/src/App.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

faq modal and some more cleanup
  apps/patient/src/components/Card.tsx
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

more cleanup
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

header
  apps/patient/src/api/internal.ts
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/components/statusV2/Step.tsx
  apps/patient/src/utils/dates.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
  package-lock.json
  package.json
Labels: Patient App

more cleanup
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

cleanup and logo fix
  apps/patient/src/components/Logo.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fulfillment order details table
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

wire it up
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

restore old status page
  apps/patient/src/App.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

prettier
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Step.tsx
  apps/patient/src/utils/general.ts
Labels: Patient App

filter out old exceptions
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

prettier
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/utils/fulfillmentsHelpers.ts
  apps/patient/src/utils/general.ts
Labels: Patient App

icon button
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

some cleanup after codegen
  apps/patient/codegen.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/utils/fulfillmentsHelpers.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

just some cleanup
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

derived ready
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App
