Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

hide setting pharmacy behind feature flag (#2718)
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/configs/featureFlags.ts
Labels: Patient App

review use of libphonenumber-js
  apps/app/src/utils.ts
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  package-lock.json
  packages/elements/package.json
Labels: Elements, Clinical App

add phone
  packages/components/src/index.ts
  packages/components/src/utils/validateRealPhoneNumber.ts
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components

rename to PatientAddressForm
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/particles/StateSelect/index.tsx
  packages/components/src/systems/PatientAddressForm/index.tsx
  packages/components/src/systems/PatientAddressForm/states.ts
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

rm copy
  packages/components/src/systems/PatientAddressForm/index.tsx
Labels: Components

use StateSelect
  packages/components/src/particles/Select/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/components/src/particles/StateSelect/states.ts
  packages/components/src/systems/PatientAddressForm/index.tsx
Labels: Components

extract to AddressForm
  packages/components/src/systems/AddressForm.tsx
  packages/components/src/systems/PatientAddressForm/index.tsx
  packages/components/src/utils/regex.ts
Labels: Components

fix required asterisks
  packages/components/src/systems/AddressForm.tsx
  packages/components/src/systems/PatientAddressForm/index.tsx
Labels: Components

add optional autocomplete
  packages/components/src/systems/AddressForm.tsx
  packages/components/src/systems/PatientAddressForm/index.tsx
Labels: Components

add AddressForm to SupervisorCard
  packages/components/src/index.ts
  packages/components/src/systems/AddressForm.tsx
  packages/components/src/systems/PatientAddressForm/index.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components

fix
  packages/components/src/store.ts
Labels: Components

edit gql query
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

fix sort
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

showRequired
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

review zipregex
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  packages/components/src/utils/isZip.ts
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/utils.ts
  packages/elements/src/validators/index.ts
Labels: Elements, Components, Clinical App

don't need phoneRegex
  packages/components/src/utils/regex.ts
Labels: Components

review npiRegex
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
Labels: Clinical App

some comments
  packages/components/src/systems/AddressForm.tsx
  packages/components/src/systems/PatientAddressForm/index.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components

rm console
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

Fixing the store
  packages/components/src/store.ts
Labels: Components

Remove log
  packages/components/src/store.ts
Labels: Components

Fix
  packages/components/src/store.ts
Labels: Components

bump version to carry the change
  package-lock.json
  packages/elements/package.json
Labels: Elements

Removed unused webhook
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App

Add claim assisted login when no Org is passed to the photon-client (#2722)
  package-lock.json
  packages/components/src/store.ts
  packages/elements/package.json
Labels: Elements, Components

Removed unused webhook (#2723)
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App

add SupervisorCard tests
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-card.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
  packages/elements/src/setupTests.ts
  packages/elements/vite.config.ts
Labels: Elements

add phone and address to SupervisorCard (#2721)
  apps/app/src/utils.ts
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  package-lock.json
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/particles/Select/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/components/src/particles/StateSelect/states.ts
  packages/components/src/systems/AddressForm.tsx
  packages/components/src/systems/PatientAddressForm/index.tsx
  packages/components/src/utils/isZip.ts
  packages/components/src/utils/regex.ts
  packages/components/src/utils/validateRealPhoneNumber.ts
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-card.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/setupTests.ts
  packages/elements/src/utils.ts
  packages/elements/src/validators/index.ts
  packages/elements/vite.config.ts
Labels: Elements, Components, Clinical App

add batch
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

rm App
  packages/components/README.md
  packages/components/dev/App.tsx
  packages/components/dev/root.tsx
  packages/components/index.html
  packages/components/package.json
Labels: Components

Revert "hide setting pharmacy behind feature flag (#2718)"
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/configs/featureFlags.ts
Labels: Patient App

move and update query
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
Labels: Elements, SDK

PrescriptionScreeningProvider boilerplate
  packages/components/src/index.ts
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

Revert "hide setting pharmacy behind feature flag (#2718)" (#2727)
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/configs/featureFlags.ts
Labels: Patient App

move screening query into provider
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

add back comments
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
Labels: Components

Fix playground errors
  apps/app/src/views/routes/Playground.tsx
Labels: Clinical App

pass in diagnosisCodesPrefill, add validation
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

add initial test for malformed json
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-diagnosis-codes-prefill.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
Labels: Elements

add test for invalid code type
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-diagnosis-codes-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
Labels: Elements, Components

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
