Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

Optional med history refill button
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/dev/App.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/index.html
  packages/elements/src/photon-med-history/photon-med-history.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components, Clinical App

Debounce refill button
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Add flyout menu component
  packages/components/src/particles/FlyoutMenu/FlyoutMenu.stories.tsx
  packages/components/src/particles/FlyoutMenu/FlyoutMenu.tsx
  packages/components/src/particles/FlyoutMenu/index.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

PatientMedHistory shows refill button
  packages/components/src/particles/IconButton/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Use css grid for med history
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Improve styling for patient med history
  packages/components/src/particles/Card/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

Bump elements version
  packages/elements/package.json
Labels: Elements

Fix function naming
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Add 1 click refill button to med history (#1656)
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/dev/App.tsx
  packages/components/src/particles/Card/index.tsx
  packages/components/src/particles/FlyoutMenu/FlyoutMenu.stories.tsx
  packages/components/src/particles/FlyoutMenu/FlyoutMenu.tsx
  packages/components/src/particles/FlyoutMenu/index.ts
  packages/components/src/particles/IconButton/index.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/README.md
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-med-history/photon-med-history.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components, Clinical App

Fix errors when agent has cached node packages
  .github/workflows/lint.yml
Labels: none

Fix errors when agent has cached node packages (#1665)
  .github/workflows/lint.yml
Labels: none

Attempt to fix publish
  .github/workflows/npm-publish.yml
  packages/elements/package.json
Labels: Elements

Bump version
  packages/elements/package.json
Labels: Elements

fixup
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App, Clinical App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix branch ref
  .github/workflows/npm-publish.yml
Labels: none

bump version
  packages/elements/package.json
Labels: Elements

Try fix of clearing node_modules and packagelock
  .github/workflows/npm-publish.yml
  packages/elements/package.json
Labels: Elements

Remove bad fix; force run to see original error
  .github/workflows/npm-publish.yml
Labels: none

WIP: Lint error Fix
  .github/workflows/npm-publish.yml
Labels: none

Fix optional dep issue
  package-lock.json
  package.json
Labels: none

Fix CI error for npm publish
  package-lock.json
  package.json
  packages/elements/package.json
Labels: Elements

Fix CI error for npm publish (#1666)
  package-lock.json
  package.json
  packages/elements/package.json
Labels: Elements

Add gifthealth mail order to photon test org.
  packages/settings/src/lib/photon.ts
Labels: Settings

Add gifthealth mail order to photon test org. (#1667)
  packages/settings/src/lib/photon.ts
Labels: Settings

Fix expand history row expanding duplicate treatments
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

Reorganize file
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

WIP
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Disable med refill button
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

Disable med refill button (#1670)
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

fixup
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

dats it
  apps/patient/src/views/Main.tsx
Labels: Patient App

dats it (#1672)
  apps/patient/src/views/Main.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

getting time estimate from offers query instead of hardcoded logic check (#1663)
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App, Clinical App

adding a null check so we don't display things that are temporarily unavailable with no delivery estimate
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding a null check so we don't display things that are temporarily unavailable with no delivery estimate (#1677)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

removing now-unneccessary text
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

removing now-unneccessary text (#1678)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add Remedy Meds org settings in neutron
  apps/patient/src/assets/remedymeds_logo.png
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, Patient App
