Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

test using token
  apps/app/buildspec.yml
  tools/codebuild_workflow_dispatch.sh
Labels: Clinical App

request secret conditionally, change file name
  apps/app/buildspec.yml
  tools/codebuild_github_access_token.sh
Labels: Clinical App

send SHA from codebuild instead
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
Labels: Clinical App

use sha instead of branch
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
Labels: Clinical App

some reorg
  apps/app/buildspec.yml
  tools/codebuild_github_access_token.sh
Labels: Clinical App

add check on token
  tools/codebuild_github_access_token.sh
Labels: none

add to patient buildspec
  apps/patient/buildspec.yml
Labels: Patient App

invoke only when patient clicks Change Pharmacy
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix matchMedia test bug
  apps/patient/src/setupTests.ts
Labels: Patient App

get feature flag value only when patient clicks Change Pharmacy (#2529)
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

replace secret name
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

rm sdk prop
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

use github app token in codebuild (#2527)
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
  tools/codebuild_github_access_token.sh
Labels: Patient App, Clinical App

remove triple functions
  packages/components/src/analytics/dispatchAnalyticsTrackEvent.ts
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components

remove triple functions part 2
  packages/components/src/analytics/dispatchAnalyticsTrackEvent.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/components/src/systems/TestMocks/MockPrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components

update claude md
  CLAUDE.md
Labels: none

add user identify (oops), remove jest, update claude
  AGENTS.md
  CLAUDE.md
  apps/app/package.json
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/order-workflow-analytics.test.tsx
Labels: Clinical App

remove jest, fix test missing dependencie on sdk build
  apps/patient/project.json
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  packages/components/project.json
  packages/settings/tsconfig.lib.json
Labels: Components, Settings, Patient App

refactor PatientStore for setup and teardown along with PatientCard
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
  packages/elements/src/stores/patient.ts
Labels: Elements

rm deprecated photon-update-patient-dialog
  packages/elements/src/index.ts
  packages/elements/src/photon-update-patient-dialog/index.ts
  packages/elements/src/photon-update-patient-dialog/photon-update-patient-dialog-component.tsx
  packages/elements/types.d.ts
Labels: Elements

remove Minor/Major CTA split
  CLAUDE.md
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/Order.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components, Clinical App

rm patient-select as web component
  packages/elements/src/index.ts
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientSelect.tsx
  packages/elements/src/photon-patient-select/index.ts
  packages/elements/src/photon-patient-select/style.css
  packages/elements/types.d.ts
Labels: Elements

add Combobox, get option select working
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientSelect.tsx
  packages/elements/src/stores/patient.ts
Labels: Elements, Components

rename signature attestation for consistency
  CLAUDE.md
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Components

get search working
  packages/components/src/particles/ComboBox/index.tsx
  packages/elements/src/photon-multirx-form/components/PatientSelect.tsx
Labels: Elements, Components

fix e2e test asserts
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/utils/analytics_expect.ts
Labels: Clinical App

rm PhotonDropdown, misc cleanup
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientSelect.tsx
Labels: Elements

don't need InputGroup
  packages/components/src/particles/InputGroup/index.tsx
  packages/elements/src/photon-multirx-form/components/PatientSelect.tsx
Labels: Elements, Components

add loading and no results states
  packages/components/src/particles/ComboBox/index.tsx
  packages/elements/src/photon-multirx-form/components/PatientSelect.tsx
Labels: Elements, Components

fix signature attestation analytics event timing
  CLAUDE.md
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/components/src/systems/TestMocks/MockPrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Components, Clinical App

update Claude.md
  CLAUDE.md
Labels: none

fix displayValue not updating
  packages/components/src/particles/ComboBox/index.tsx
Labels: Components

minimize use of pStore in photon-patient-form
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

pass in patient through photon-patient-dialog
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

remove pActions
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

reshape to match updated offerBundles endpoint for mixed med pricing
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/deliveryPromise.test.ts
  apps/patient/src/utils/deliveryPromise.test.tsx
  apps/patient/src/utils/deliveryPromise.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

PatientCard passes patient to photon-patient-dialog
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

actually load in patient
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

PatientSelect doesn't access patientStore directly
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientSelect.tsx
Labels: Elements

move PatientSelect into components
  packages/components/src/index.ts
  packages/components/src/systems/PatientSelect.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components
