Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

publish job oops
  .github/workflows/npm-publish.yml
Labels: none

bump to @datadog/datadog-ci@4.4.0
  package-lock.json
  package.json
Labels: none

rm cypress
  package-lock.json
  package.json
Labels: none

bump to graphql-request@6.1.0
  apps/patient/src/graphql/mutations.ts
  package-lock.json
  package.json
Labels: Patient App

review .prettierignore, format json files
  .prettierignore
  packages/react/project.json
Labels: none

override for react-scripts
  package-lock.json
  package.json
Labels: none

reset publish
  .github/workflows/npm-publish.yml
Labels: none

update deps with form-data dep to fix vulnerability (#2311)
  .prettierignore
  apps/patient/src/graphql/mutations.ts
  package-lock.json
  package.json
  packages/react/project.json
Labels: Patient App

sentence case ctaText
  apps/app/src/views/routes/Orders.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateTable.tsx
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentTable.tsx
Labels: Clinical App

clean up TablePage
  apps/app/src/views/components/TablePage.tsx
Labels: Clinical App

Persist self signup rum flag during redirect
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
Labels: Clinical App

rm unused useLoadingOverlay prop
  apps/app/src/views/components/TablePage.tsx
Labels: Clinical App

Persist self signup rum flag during redirect (#2314)
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
Labels: Clinical App

preferred pharm
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PreferredTag.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

revert
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PreferredTag.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
Labels: Patient App

preferred pharm
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

test
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

key tag
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

type
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

revert
  apps/patient/src/components/offers/OfferInfo.tsx
Labels: Patient App

no array
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

revert
  apps/patient/src/components/offers/OfferInfo.tsx
Labels: Patient App

Display Patients' Preferred Pharmacies (#2317)
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

infinite scroll working
  apps/app/src/views/components/TablePage.tsx
Labels: Clinical App

adding track event to determine every time someone clicks the search for pharmacy CTA
  apps/patient/src/views/Review.tsx
Labels: Patient App

add empty state
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/components/empty-state.svg
Labels: Clinical App

adding track event to determine every time someone clicks the search for pharmacy CTA (#2319)
  apps/patient/src/views/Review.tsx
Labels: Patient App

add empty state copy
  apps/app/src/views/routes/Orders.tsx
  apps/app/src/views/routes/Patients.tsx
  apps/app/src/views/routes/Prescriptions.tsx
Labels: Clinical App

cleanup Templates table
  apps/app/src/views/routes/Settings/components/templates/TemplateTable.tsx
  apps/app/src/views/routes/Settings/views/TemplateTab.tsx
Labels: Clinical App

TemplateTable copy
  apps/app/src/views/routes/Settings/components/templates/TemplateTable.tsx
Labels: Clinical App

Refactor components from Signup Page
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
  apps/app/src/views/routes/SelfSignup/views/UnverifiedUserAlert.tsx
Labels: Clinical App

set preferred
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

full pharm
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Preferred Pharmacies Always in Pharmacy List (#2322)
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Refactor components from Signup Page (#2321)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
  apps/app/src/views/routes/SelfSignup/views/UnverifiedUserAlert.tsx
Labels: Clinical App

Use native select for State address prefill accessibility
  apps/app/src/views/routes/SelfSignup/components/StateSelect.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
Labels: Clinical App

cleanup TreatmentTab comparing to TemplateTab
  apps/app/src/views/routes/Settings/components/treatments/TreatmentTable.tsx
  apps/app/src/views/routes/Settings/views/TemplateTab.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
Labels: Clinical App

TreatmentTable copy
  apps/app/src/views/routes/Settings/components/treatments/TreatmentTable.tsx
Labels: Clinical App

Use native select for State address prefill accessibility (#2324)
  apps/app/src/views/routes/SelfSignup/components/StateSelect.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
Labels: Clinical App

add for no search results
  apps/app/src/views/components/TablePage.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
