Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

bump ver
  packages/elements/package.json
Labels: Elements

bump ver (#2170)
  packages/elements/package.json
Labels: Elements

add nx dev target (#2168)
  apps/app/README.md
  apps/app/project.json
Labels: Clinical App

provider rudderstack metrics (#2166)
  apps/app/.env.boson
  apps/app/.env.neutron
  apps/app/.env.photon
  apps/app/.env.tau
  apps/app/src/App.tsx
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

rm unused optional prop
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-gender-input/photon-gender-input-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-sex-input/photon-sex-input-component.tsx
  packages/elements/src/photon-state-input/photon-state-input-component.tsx
  packages/elements/src/photon-text-input/photon-text-input-component.tsx
Labels: Elements

trusted publishing
  .github/workflows/npm-publish.yml
  packages/elements/package.json
Labels: Elements

rm (optional) copy
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

move dnfb field down
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

misc styles
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

add minimum date
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

rm initial date
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

add error display for non verified prescriber on the self signup page
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Remove hardcoded strings
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

globally make all alerts have rounded corners
  apps/app/src/configs/theme.ts
Labels: Clinical App

photon only
  .github/workflows/npm-publish.yml
  packages/elements/package.json
Labels: Elements

Copy adjustments
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Switch npm to trusted publishing (#2171)
  .github/workflows/npm-publish.yml
Labels: none

signup form text styling
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

make datepicker a controlled component
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

use standard date format
  packages/components/src/systems/PatientInfo/index.tsx
Labels: Components

Add error display for npi verification and license confirmation check on self signup page (#2172)
  apps/app/src/configs/theme.ts
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

show N/A in Prescription
  apps/app/src/views/routes/Prescription.tsx
Labels: Clinical App

allow effectiveDate to be undefined in validation
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

review use of effectiveDate
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/util/repopulateForm.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components

Center dialog in the the middle of the page for mobile and desktop
  packages/components/src/particles/Dialog/index.tsx
Labels: Components

revert flex-col, just default prop to center. bottom isn't used anywhere
  packages/components/src/particles/Dialog/index.tsx
Labels: Components

Centering the duplicate prescription modal, and all other modals in mobile (#2175)
  packages/components/src/particles/Dialog/index.tsx
Labels: Components

Remove constraint on mail order tab to have partner pharm ids in settings
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
Labels: Components

Bump elements version
  packages/elements/package.json
Labels: Elements

Remove constraint on mail order tab to have partner pharm ids in settings (#2177)
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/package.json
Labels: Elements, Components

Set repository value in package json to fix trustedpublishing action
  package.json
  packages/elements/package.json
Labels: Elements

Set repository value in package json to fix trustedpublishing action (#2179)
  package.json
  packages/elements/package.json
Labels: Elements

remove unnecessary zindex on new prescriptions page
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

prevent overflow of `invite user` button
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

Fix nav bar to the top, add top margin in the main layout.
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

App sticky header (#2182)
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

more review of effectiveDate
  apps/app/src/gql/graphql.ts
  apps/app/src/views/components/FillsSelect.tsx
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

update copy
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

revert to non-nullable date
  apps/app/src/gql/graphql.ts
  package-lock.json
  packages/components/package.json
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components, Clinical App

handle weirdness around editing a draft prescription with no chosen effectiveDatE
  packages/components/src/fetch/mutations.ts
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/utils/formatDate.ts
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/validators/index.ts
Labels: Elements, Components

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
