Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fixup
  packages/elements/package.json
Labels: Elements

remove generic medicaiton coupon copy for glp1
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

remove generic medicaiton coupon copy for glp1 (#1579)
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

z
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/tailwind.config.js
Labels: Elements

bottom
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

bump
  packages/elements/package.json
Labels: Elements

?
  packages/elements/package.json
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

add openloop pharmacy to test telehealth org
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

add openloop pharmacy to test telehealth org (#1582)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

whoops
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

Dropdown position in elements (#1581)
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/tailwind.config.js
Labels: Elements

wip
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/src/photon-advanced-medication-search-dialog/photon-advanced-medication-search-dialog-component.tsx
  packages/elements/src/photon-advanced-medication-search/components/MedicationConceptDropdown.tsx
  packages/elements/src/photon-advanced-medication-search/components/MedicationFilterDropdown.tsx
  packages/elements/src/photon-advanced-medication-search/photon-advanced-medication-search-component.tsx
  packages/elements/src/photon-advanced-medication-search/style.css
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

cleanup
  packages/components/src/index.ts
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/src/photon-advanced-medication-search-dialog/photon-advanced-medication-search-dialog-component.tsx
  packages/elements/src/photon-advanced-medication-search/photon-advanced-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

block dme
  packages/elements/src/photon-advanced-medication-search-dialog/photon-advanced-medication-search-dialog-component.tsx
  packages/elements/src/photon-advanced-medication-search/photon-advanced-medication-search-component.tsx
  packages/elements/src/photon-advanced-medication-search/style.css
  packages/elements/src/photon-dialog/photon-dialog-component.tsx
Labels: Elements

remove add med to catalog
  packages/elements/src/photon-advanced-medication-search-dialog/photon-advanced-medication-search-dialog-component.tsx
  packages/elements/src/photon-advanced-medication-search/photon-advanced-medication-search-component.tsx
Labels: Elements

spacing
  packages/elements/src/photon-advanced-medication-search-dialog/photon-advanced-medication-search-dialog-component.tsx
Labels: Elements

rename comp
  packages/elements/src/index.ts
  packages/elements/src/photon-add-medication-history-dialog/index.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-advanced-medication-search-dialog/index.ts
  packages/elements/src/photon-advanced-medication-search-dialog/photon-advanced-medication-search-dialog-component.tsx
  packages/elements/src/photon-advanced-medication-search/index.ts
  packages/elements/src/photon-advanced-medication-search/photon-advanced-medication-search-component.tsx
  packages/elements/src/photon-advanced-medication-search/style.css
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/types.d.ts
Labels: Elements

unused styling
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
Labels: Elements

cleanup
  packages/components/src/particles/Dialog/index.tsx
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
Labels: Elements, Components

fix width thingy omg
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-add-medication-history-dialog/styles.css
Labels: Elements

remove comment
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

comments
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

comment
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

bump elements version
  packages/elements/package.json
Labels: Elements

Add neutron config for precision
  packages/settings/src/lib/neutron.ts
Labels: Settings

Add neutron config for precision (#1586)
  packages/settings/src/lib/neutron.ts
Labels: Settings

remove glp1s from sesame
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/utils/isGLP.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

remove glp1s from sesame (#1588)
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/utils/isGLP.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

Revive add med history (#1585)
  packages/components/src/index.ts
  packages/components/src/particles/Dialog/index.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/package.json
  packages/elements/src/index.ts
  packages/elements/src/photon-add-medication-history-dialog/index.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-add-medication-history-dialog/styles.css
  packages/elements/src/photon-advanced-medication-search-dialog/index.ts
  packages/elements/src/photon-advanced-medication-search-dialog/photon-advanced-medication-search-dialog-component.tsx
  packages/elements/src/photon-advanced-medication-search/components/MedicationConceptDropdown.tsx
  packages/elements/src/photon-advanced-medication-search/components/MedicationFilterDropdown.tsx
  packages/elements/src/photon-advanced-medication-search/index.ts
  packages/elements/src/photon-advanced-medication-search/photon-advanced-medication-search-component.tsx
  packages/elements/src/photon-dialog/photon-dialog-component.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/types.d.ts
Labels: Elements, Components

shorten prescription not covered copy
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

add order exceptions
  apps/app/src/views/routes/Order.tsx
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App, Clinical App

temp stash order exception data
  apps/patient/src/components/InsuranceAlert.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

update status page and insurance alert
  apps/patient/src/components/InsuranceAlert.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

add an error toast if draft prescription already exists in order
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

rollback
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

rollback (#1592)
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

add an error toast if draft prescription already exists in order (#1591)
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

insurance alert colors and hide progress bar for external transfers
  apps/patient/src/components/InsuranceAlert.tsx
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

fix insurance alert component
  apps/patient/src/components/InsuranceAlert.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

Order exceptions (#1590)
  apps/app/src/views/routes/Order.tsx
  apps/patient/src/components/InsuranceAlert.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App, Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
