Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

rm unused graphql
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
Labels: Clinical App

make it easier to run codegen pointing at tau schema
  .gitignore
  apps/app/codegen.ts
  apps/app/project.json
  apps/app/src/gql/fragment-masking.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/gql/index.ts
  package.json
Labels: Clinical App

fix state validation blocking EditRolesAction
  apps/app/src/views/routes/SelfSignup/views/form.ts
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/utils/States.tsx
Labels: Clinical App

fax required based on fromFaxPreference
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
Labels: Clinical App

misc cleanup
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  package.json
Labels: Clinical App

revert codegen changes
  .gitignore
  apps/app/README.md
  apps/app/codegen.ts
  apps/app/project.json
  apps/app/src/gql/fragment-masking.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/gql/index.ts
  package.json
Labels: Clinical App

fix codegen files
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
Labels: Clinical App

WIP: fix amazon showing twice
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix navigation title
  apps/patient/src/components/Nav.tsx
  apps/patient/src/utils/text.tsx
Labels: Patient App

remove unused nav props
  apps/patient/src/components/Nav.tsx
Labels: Patient App

Fix branded option in demo
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

rm unnecessary dependencies patient
  .github/workflows/prettier.yml
  apps/patient/project.json
Labels: Patient App

Refactor offers to have a pharmacy with fulfillmentTypes for consistency
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

ensure patient and app commands are similar
  apps/app/project.json
  apps/patient/project.json
Labels: Patient App, Clinical App

Demo Mail order selection uses Order placed status
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix warning
  apps/patient/src/views/Status.tsx
Labels: Patient App

use .env files, codegen and tsc for other envs
  apps/app/codegen.ts
  apps/app/project.json
  apps/patient/codegen.ts
  apps/patient/project.json
Labels: Patient App, Clinical App

remove comments
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix command modifier order
  apps/app/README.md
  apps/app/project.json
  apps/patient/project.json
  package.json
Labels: Patient App, Clinical App

update readme
  apps/app/README.md
  apps/patient/README.md
Labels: Patient App, Clinical App

misc refactor
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
Labels: Clinical App

rm package.json changes I ended up not using
  package.json
Labels: none

add boson branch to some github actions for testing
  .github/workflows/lint.yml
  .github/workflows/prettier.yml
  .github/workflows/type-check.yml
Labels: none

Add fax to provider invite PHO-50 (#2221)
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/SelfSignup/views/form.ts
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/utils/States.tsx
  package.json
Labels: Clinical App

add codegen in e2e test
  .github/workflows/pr-e2e-tests.yml
Labels: none

build jobs actually do need codegen
  apps/app/project.json
  apps/patient/project.json
Labels: Patient App, Clinical App

start and dev also need codegen
  apps/app/project.json
  apps/patient/project.json
Labels: Patient App, Clinical App

fix logo not showing on status page
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fix mail order button spinner
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Allow mail order in STP demo (#2220)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

Add retail price to analytics
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

run tsc depending on env
  .github/workflows/type-check.yml
  apps/app/project.json
  apps/patient/project.json
Labels: Patient App, Clinical App

test fix
  .github/workflows/type-check.yml
Labels: none

use on key instead in merge-bot
  .github/workflows/merge-bot.yml
Labels: none

rm push event that duplicates jobs
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  .github/workflows/prettier.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
Labels: none

rm code for testing on boson
  .github/workflows/lint.yml
  .github/workflows/prettier.yml
  .github/workflows/type-check.yml
  apps/app/project.json
  apps/patient/project.json
Labels: Patient App, Clinical App

Add retail price to analytics (#2225)
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

Analytics for patient address; fix rerender triggering duplicate page views
  apps/patient/src/hooks/usePageAnalytics.test.tsx
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

add type-check on boson
  .github/workflows/type-check.yml
Labels: none

run lint and prettier against boson
  .github/workflows/lint.yml
  .github/workflows/prettier.yml
Labels: none
