Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Use correct base url for playwright startup (#1710)
  apps/app/playwright.config.ts
Labels: Clinical App

edit
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements, Components

Fix z-indexes of prescription and patient forms
  package-lock.json
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

Dialog appears on top
  packages/components/src/particles/Dialog/index.tsx
  packages/components/tailwind.config.cjs
  packages/elements/tailwind.config.js
Labels: Elements, Components

Fix double scroll bar
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

bump elements version
  packages/elements/package.json
Labels: Elements

Fix z-indexes of prescription and patient forms (#1711)
  package-lock.json
  packages/components/src/particles/Dialog/index.tsx
  packages/components/tailwind.config.cjs
  packages/elements/package.json
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/tailwind.config.js
Labels: Elements, Components

Run playwright e2e on PRs
  .github/workflows/pr-e2e-tests.yml
  apps/app/playwright.config.ts
Labels: Clinical App

Check if timeout is reason for failure
  apps/app/playwright.config.ts
Labels: Clinical App

Set env vars for playwright from secrets
  .github/workflows/pr-e2e-tests.yml
Labels: none

debugging workflow by increasing timeout
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App

WIP: fix password enter fail
  apps/app/.gitignore
  apps/app/e2e/auth.setup.ts
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/tsconfig.json
  apps/app/playwright.config.ts
Labels: Clinical App

disable zepbound test
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

filter out resolved exceptions
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

filter out resolved exceptions (#1715)
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

Turn on Gifthealth for Found and Measured.
  packages/settings/src/lib/photon.ts
Labels: Settings

Turn on Gifthealth for Found and Measured. (#1717)
  packages/settings/src/lib/photon.ts
Labels: Settings

Close rx form after editing
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

disable zepbound test (#1714)
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

wip
  packages/components/src/fetch/queries.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

twentyeight configs
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

Close rx form after editing (#1720)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Bump elements
  packages/elements/package.json
Labels: Elements

Bump elements (#1725)
  packages/elements/package.json
Labels: Elements

twentyeight configs (#1723)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

wip
  packages/components/src/particles/IconButton/IconButton.stories.tsx
  packages/components/src/particles/IconButton/index.tsx
  packages/components/src/particles/Spinner/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

refill working
  packages/components/src/particles/IconButton/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

bump lock
  package-lock.json
Labels: none

add strive to measured maile order pharmacies
  packages/settings/src/lib/photon.ts
Labels: Settings

Use auth0 db login instead of google
  apps/app/e2e/auth.setup.ts
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/tsconfig.json
  apps/app/playwright.config.ts
  apps/app/project.json
  package.json
Labels: Clinical App

Increase timeout for login redirect
  apps/app/e2e/auth.setup.ts
Labels: Clinical App

adding org id to tracking rum action
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding org id to tracking rum action (#1728)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

e2e test for create patient
  apps/app/e2e/create_prescription.spec.ts
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-datepicker/style.css
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-dropdown/style.css
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-phone-input/photon-phone-input-component.tsx
  packages/elements/src/photon-phone-input/style.css
  packages/elements/src/photon-text-input/photon-text-input-component.tsx
  packages/elements/src/photon-text-input/style.css
Labels: Elements, Clinical App

Add Strive to Measured's mail order pharmacies (#1727)
  package-lock.json
  packages/settings/src/lib/photon.ts
Labels: Settings

Fix dropdown label click menu flicker
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
Labels: Elements

Update setup instructions
  apps/app/.env.local.sample
  apps/app/README.md
Labels: Clinical App

cleanup config
  apps/app/.gitignore
  apps/app/e2e/auth.setup.ts
  apps/app/playwright.config.ts
Labels: Clinical App

Disable smoke test AWS codebuild trigger
  .github/workflows/smoke-tests.yml
Labels: none

enable pricing for sesame non-glp1s
  .gitignore
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
