Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

refactoring offers in client (#2055)
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptionsHeader.tsx
  apps/patient/src/components/pharmacy-card-list/index.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

disablelist
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

disabled NDCs
  packages/elements/index.html
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

disabled treatments
  packages/elements/index.html
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

template
  packages/elements/index.html
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

better
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

memo
  packages/elements/index.html
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

pass disabled check as props to views, call isTreatmentDisabled in one spot
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

pass disabled check as props to views, call isTreatmentDisabled in one spot (#2066)
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

Block Medications in catalog for Form (#2065)
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Rename truepill constants to fuzerx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

Add patient api getPharmacies, rename old one to getPharmaciesByLocation
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Show different copy in the status page header for mail orders or integrated orders
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

mail order select component
  apps/patient/src/components/mail-order-select/MailOrderSelectCard.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/components/mail-order-select/index.ts
Labels: Patient App

add mail modal, attempt to refactor submit handler to support it
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix mail order select modal loading state
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

Need to wrap these nasty setTimeouts in a promise to prevent it from ending the loading spinner too soon
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix test mock expected behavior
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

add mail order select test
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Allow sso login with orgId and connection
  apps/app/src/App.tsx
  apps/app/src/views/routes/SSOLogin.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

Cleanup
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

Cleanup2
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

Sso login by connection (#2070)
  apps/app/src/App.tsx
  apps/app/src/views/routes/SSOLogin.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

removing default address setting
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Rename truepill constants to fuzerx (#2068)
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

making Jake happy
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

SSO page with popup option
  apps/app/src/views/routes/SSOLogin.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

Patient Mail Order Selection Modal (#2069)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/mail-order-select/MailOrderSelectCard.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/components/mail-order-select/index.ts
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Remove the extra single quote from the status page copy
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

Remove the extra single quote from the status page copy (#2074)
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

Fix the optimistic update before status page to include the proper fulfillment type
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix the optimistic update before status page to include the proper fulfillment type (#2075)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

max width on the column, bottom padding to not hide items behind the footer
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

make pharmacy card text overflow ellipsis and show full name on hover
  apps/patient/src/components/mail-order-select/MailOrderSelectCard.tsx
Labels: Patient App

Adjust mail order modal formatting (#2076)
  apps/patient/src/components/mail-order-select/MailOrderSelectCard.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

Add datadog rum actions in the patient mail order select modal
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

SSO page with returnTo post auth
  apps/app/src/views/routes/SSOLogin.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
