Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

await login
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

bump
  packages/elements/package.json
Labels: Elements

Auth0 login async (#1856)
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Use a local pharmacy for RTBC if the patient doesn't have a preferred pharmacy set (#1853)
  packages/components/src/fetch/queries.ts
  packages/components/src/index.ts
  packages/components/src/systems/GoogleServiceProvider/GoogleServiceProvider.tsx
  packages/components/src/systems/GoogleServiceProvider/index.tsx
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements, Components

Disable un-routable mail order pharmacies (#1852)
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

show alert on un-routable mail order pharmacies
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/RoutingConstraints/PharmacyRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
  packages/elements/index.html
Labels: Elements, Components

check unroutablePharmacyIds for each mail order pharmacy
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
Labels: Components

pass org and invite to auth component
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

pass org and invite to auth component (#1858)
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

revert mail-order-ids
  packages/elements/index.html
Labels: Elements

Add neutron org for testing non-honeybee partner prescriber
  packages/settings/src/lib/neutron.ts
Labels: Settings

Add neutron org for testing non-honeybee partner prescriber (#1860)
  packages/settings/src/lib/neutron.ts
Labels: Settings

show alert on un-routable mail order pharmacies (#1859)
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/RoutingConstraints/PharmacyRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
Labels: Components

bump elements to 0.16.7 to include alerts for and disable unroutable pharmacies
  packages/elements/package.json
Labels: Elements

bump elements to 0.16.7 to disable & show alerts for unroutable pharmacies
  packages/elements/package.json
Labels: Elements

fix
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/utils.ts
Labels: Clinical App

fix (#1864)
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/utils.ts
Labels: Clinical App

revert auth0 changes
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

revert auth0 changes (#1865)
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

add epiq pharmacy to fifty410's mail order tab
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

update costco radius from 15 to 30
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

constants
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update costco radius from 15 to 30 miles (#1868)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Disable toasts for prescribe flow
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/utils/toastTriggers.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Bump elements to 0.16.8
  packages/elements/package.json
Labels: Elements

Fix TS error
  packages/components/dev/App.tsx
Labels: Components

Add Truepill, Carepoint, and Honeybee to Test Telehealth org in photon
  packages/settings/src/lib/photon.ts
Labels: Settings

Add Truepill, Carepoint, and Honeybee to Test Telehealth org in photon (#1872)
  packages/settings/src/lib/photon.ts
Labels: Settings

nullable phone type on patient
  apps/app/src/gql/graphql.ts
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

Refactor prop to disableToasts
  packages/components/dev/App.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

nullable phone type on patient (#1875)
  apps/app/src/gql/graphql.ts
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

WIP
  packages/components/src/index.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/ToastProvider/ToastProvider.tsx
  packages/components/src/systems/ToastProvider/index.tsx
  packages/components/src/utils/toastTriggers.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

Prefill via embed hides success toasts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

Bump elements to 0.16.8
  packages/elements/package.json
Labels: Elements

Configure mail order for twenty eight neutron provider app
  packages/settings/src/lib/neutron.ts
Labels: Settings

Configure mail order for twenty eight neutron provider app (#1879)
  packages/settings/src/lib/neutron.ts
Labels: Settings

add epiq pharmacy to fifty410's mail order tab (#1867)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

skip auth check
  packages/react/src/provider.tsx
Labels: none

remove logs
  packages/react/src/provider.tsx
Labels: none

remove whoops
  packages/react/src/provider.tsx
Labels: none

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
