Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

fix test
  apps/app/src/test-utils/fixtures.ts
Labels: Clinical App

add supervisor to order page (#2746)
  apps/app/src/queries/lambda-api/orders.ts
  apps/app/src/test-utils/fixtures.ts
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

fixup
  apps/patient/src/components/PharmacyCard.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacyCardSentHereStyles.test.ts
  apps/patient/src/components/pharmacyCardSentHereStyles.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyCard.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacyCardSentHereStyles.test.ts
  apps/patient/src/components/pharmacyCardSentHereStyles.ts
Labels: Patient App

add july 4
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

fixup
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyCard.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
Labels: Patient App

add july 4 (#2748)
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

fixup
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/components/PharmacyCard.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyCard.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.test.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacyCardSentHereStyles.test.ts
  apps/patient/src/components/pharmacyCardSentHereStyles.ts
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyCardSentHereFrame.tsx
  apps/patient/src/components/SentHereBadge.test.tsx
  apps/patient/src/components/SentHereBadge.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/configs/theme.ts
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
  packages/sdk/src/graphql/clinical-api/mutation.ts
Labels: SDK, Patient App

fixup
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.test.tsx
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacy-card/sent-here/PharmacyCardSentHereFrame.test.tsx
  apps/patient/src/components/pharmacy-card/sent-here/PharmacyCardSentHereFrame.tsx
  apps/patient/src/components/pharmacy-card/sent-here/SentHereBadge.test.tsx
  apps/patient/src/components/pharmacy-card/sent-here/SentHereBadge.tsx
  apps/patient/src/components/pharmacy-card/sent-here/pharmacyCardSentHereStyles.test.ts
  apps/patient/src/components/pharmacy-card/sent-here/pharmacyCardSentHereStyles.ts
Labels: Patient App

fixup
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

ixup
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

dedup med names in title of screening alert; use same ui in prescription card as send order acknowledgement modal
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByPrescription.tsx
Labels: Components

Supervisor requires Address and Phone. Marking them as such
  packages/sdk/src/graphql/clinical-api/mutation.ts
Labels: SDK

adding logic to show marketplace when only routing is auto routed; cute lil "sent here" top bubble for pharamcies (#2739)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/components/PharmacyCard.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.test.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacy-card/sent-here/PharmacyCardSentHereFrame.test.tsx
  apps/patient/src/components/pharmacy-card/sent-here/PharmacyCardSentHereFrame.tsx
  apps/patient/src/components/pharmacy-card/sent-here/SentHereBadge.test.tsx
  apps/patient/src/components/pharmacy-card/sent-here/SentHereBadge.tsx
  apps/patient/src/components/pharmacy-card/sent-here/pharmacyCardSentHereStyles.test.ts
  apps/patient/src/components/pharmacy-card/sent-here/pharmacyCardSentHereStyles.ts
  apps/patient/src/configs/theme.ts
  apps/patient/src/utils/autoroutedPharmacyConfirmationStorage.test.ts
  apps/patient/src/utils/autoroutedPharmacyConfirmationStorage.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.test.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  packages/sdk/src/graphql/clinical-api/mutation.ts
Labels: SDK, Patient App

bump ver
  packages/elements/package.json
Labels: Elements

Supervisor requires Address and Phone. Marking them as such (#2752)
  packages/elements/package.json
Labels: Elements

add test
  packages/components/src/particles/Dialog/index.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-screening-alerts.test.tsx
Labels: Elements, Components

updates to screening alerts (#2751)
  packages/components/src/particles/Dialog/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByPrescription.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-screening-alerts.test.tsx
Labels: Elements, Components

fixing issue with rerouting to same place as autoroute
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/utils/autoroutedPharmacyConfirmationStorage.test.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.test.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Filter out canceled fills/prescriptions/fulfillments on the order for patients
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Main.tsx
Labels: Patient App

fix typing issues for fill state
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/test-utils/generators.ts
Labels: Patient App

Filter out canceled fills/prescriptions/fulfillments on the order for patients (#2760)
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Main.tsx
Labels: Patient App

Add checks for Provider routed and Mail order pharmacies
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
Labels: Patient App

Comment
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
Labels: Patient App

Comment
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
Labels: Patient App

Add some tests
  apps/patient/src/utils/getOrderFetchRedirectPath.test.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
Labels: Patient App

Expand marketplace views to non-mail in prescriber selected Pharmacies (#2764)
  apps/patient/src/utils/getOrderFetchRedirectPath.test.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
Labels: Patient App

set isPreferred property
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

set isConfirmation property
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix isConfirmation
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

set isMailOrder and isLocalPickup properties
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

clarify event names
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add isConfirmation value to isReroute
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add properties to Pharmacy Selection Submitted event
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App
