Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

check patient's address before skipping review page
  apps/patient/src/views/Main.tsx
Labels: Patient App

updated query name
  apps/patient/src/api/internal.ts
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/graphql/queries.ts
Labels: Patient App

exclude addressless patients from experiment
  apps/patient/src/views/Main.tsx
Labels: Patient App

bypass experiment on pharmacy page
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

rm AWSPhone from queries and types
  packages/sdk/src/clinical/patient.ts
  packages/sdk/src/types.ts
Labels: SDK

fix typecheck
  apps/app/src/views/routes/Orders.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/utils/storybookUtils.ts
Labels: Components, Clinical App

rm AWSPhone from queries and types (#2666)
  apps/app/src/views/routes/Orders.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/utils/storybookUtils.ts
  packages/sdk/src/clinical/patient.ts
  packages/sdk/src/types.ts
Labels: SDK, Components, Clinical App

move faqs to backend (#2664)
  apps/patient/src/api/internal.ts
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/graphql/queries.ts
Labels: Patient App

check patient's address before skipping review page (#2665)
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add test org for checking coverages in prod
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

Add test org for checking coverages in prod (#2669)
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

Revert "rm AWSPhone from queries and types (#2666)"
  apps/app/src/views/routes/Orders.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/utils/storybookUtils.ts
  packages/sdk/src/clinical/patient.ts
  packages/sdk/src/types.ts
Labels: SDK, Components, Clinical App

Revert "rm AWSPhone from queries and types (#2666)" (#2670)
  apps/app/src/views/routes/Orders.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/utils/storybookUtils.ts
  packages/sdk/src/clinical/patient.ts
  packages/sdk/src/types.ts
Labels: SDK, Components, Clinical App

standardize mail order tab label styles
  packages/components/src/systems/PharmacySearch/MailOrderPharmacySearch.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
Labels: Components

rename current REROUTE_ORDER to its proper name ROUTE_ORDER to avoid naming collision
  apps/app/src/mutations/index.ts
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

create clinical-api specific codegen destination for gql mutations. Define rerouteOrder on clinical-api
  apps/app/codegen.ts
  apps/app/src/mutations/clinical-api/index.ts
  apps/app/src/mutations/clinical-api/orders.ts
Labels: Clinical App

next steps copy just for ap
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

display pharmacy logo in order details
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

update copy
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

Initial test backfill
  packages/components/src/fetch/queries.ts
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
Labels: Elements, Components

refactor tests
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/test-utils/msw-handlers.ts
Labels: Elements, SDK, Components

fix some apollo test warnings about object schema
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/sdk/src/test-utils/fixtures.ts
  packages/sdk/src/test-utils/msw-handlers.ts
Labels: Elements, SDK

use new test helper in other tests
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
Labels: Elements

cleanup comments
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
Labels: Elements

fix type import
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
Labels: Elements

refactor google maps stub
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/stub-google-maps.ts
Labels: Elements

cleanup
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
  packages/elements/src/photon-multirx-form/test-utils/stub-google-maps.ts
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
Labels: Elements

cleanup comments
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
Labels: Elements

cleanup runtime google type
  packages/elements/src/photon-multirx-form/test-utils/stub-google-maps.ts
Labels: Elements

next steps copy for AP orders (#2676)
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Backfill RTPB test coverage (#2677)
  packages/components/src/fetch/queries.ts
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
  packages/elements/src/photon-multirx-form/test-utils/stub-google-maps.ts
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/test-utils/fixtures.ts
  packages/sdk/src/test-utils/msw-handlers.ts
Labels: Elements, SDK, Components

match font style for local pickup tab
  packages/components/src/systems/PharmacySearch/index.tsx
Labels: Components

Use fixed position and solid Portal to place the combobox dropdown outside of any overflow/scroll containers to avoid clipping while it's in a small modal
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/utils/getScrollAncestors.ts
Labels: Components

Move order page lambda queries to a shared file
  apps/app/src/queries/index.ts
  apps/app/src/queries/lambda-api/index.ts
  apps/app/src/queries/lambda-api/orders.ts
  apps/app/src/queries/lambda-api/pharmacies.ts
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Rename order page component to get around naming collision on type ORder
  apps/app/src/App.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Initial stand-alone photon-pharmacy-select web component
  packages/elements/src/index.ts
  packages/elements/src/photon-pharmacy-select/index.ts
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
Labels: Elements

Add a dialog component that doesn't use Chakra Modal with clipping
  apps/app/src/views/components/Dialog.tsx
Labels: Clinical App

Initial reroute order button functionality. Add order typing on order detail page
  apps/app/src/views/components/RerouteOrderButton.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

only show next steps for order places status
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

rename variable for clarity
  apps/patient/src/views/Status.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
