Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

add test for status page rerouting
  apps/patient/src/views/Status.test.tsx
Labels: Patient App

fix tests, use Dynamic pattern instead
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/systems/PatientSelect.tsx
Labels: Components

silence noisy css logs
  packages/components/vite.config.ts
Labels: Components

redo button
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

still track when user reroutes due to order error
  apps/patient/src/views/Status.tsx
Labels: Patient App

more ComboBox tests
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/systems/PatientSelect.test.tsx
Labels: Components

misc refactor
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements

bump ver
  packages/elements/package.json
Labels: Elements

fix Add Prescription btn always hidden when creating a refill (#2554)
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

ComboBox test for render prop
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
Labels: Components

refactor photon-patient-select into Solid (#2560)
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/setupTests.ts
  packages/components/src/systems/PatientSelect.test.tsx
  packages/components/src/systems/PatientSelect.tsx
  packages/components/vite.config.ts
  packages/elements/src/index.ts
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-patient-select/index.ts
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
  packages/elements/src/photon-patient-select/style.css
  packages/elements/types.d.ts
  packages/sdk/src/test-utils/fixtures.ts
Labels: Elements, SDK, Components

turn PatientForm into solid
  packages/elements/src/index.ts
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/index.ts
  packages/elements/types.d.ts
Labels: Elements

rm pActions as much as possible
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

fix tracking
  apps/patient/src/views/Status.tsx
Labels: Patient App

rm pStore as much as possible
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

rm last of pActions
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

hide change pharmacy reasons for order error (#2561)
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

misc cleanup
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
Labels: Elements

set masking for provider and existing rum session masking
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/views/components/ContactView.tsx
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/routes/NewOrder/components/PatientCard.tsx
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
  packages/components/src/systems/PatientInfo/index.tsx
Labels: Components, Patient App, Clinical App

masking provider info in session replays
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/components/UserProfile.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/users/UserItem.tsx
Labels: Clinical App

use formatDate util
  packages/components/src/systems/PatientSelect.tsx
Labels: Components

swapping incorrect events titles
  apps/patient/src/components/PharmacyFilters.tsx
Labels: Patient App

refactor feature flag usage.
  apps/patient/src/configs/analytics.ts
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

Update PharmacyFilters.tsx
  apps/patient/src/components/PharmacyFilters.tsx
Labels: Patient App

use feature flag to determine landing page of /review or /pharmacy when pharmacy selection needed
  apps/patient/src/views/Main.tsx
Labels: Patient App

allow fallback override for noop patient analytics feature flagging in tests
  apps/patient/src/configs/analytics.ts
Labels: Patient App

Mixpanel replay masking (#2566)
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/views/components/ContactView.tsx
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/components/UserProfile.tsx
  apps/app/src/views/routes/NewOrder/components/PatientCard.tsx
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/users/UserItem.tsx
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
  packages/components/src/systems/PatientInfo/index.tsx
Labels: Components, Patient App, Clinical App

bump ver
  packages/elements/package.json
Labels: Elements

swapping incorrect events titles (#2568)
  apps/patient/src/components/PharmacyFilters.tsx
Labels: Patient App

fix off by one error on PatientSelect DOB (#2567)
  packages/components/src/systems/PatientSelect.tsx
  packages/elements/package.json
Labels: Elements, Components

add mixpanel token to app buildspec
  apps/app/buildspec.yml
Labels: Clinical App

disable autocapture in mixpanel
  apps/app/src/configs/providerAnalytics.ts
  apps/patient/src/configs/analytics.ts
Labels: Patient App, Clinical App

adding anotehr eevent and some cleanup
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fixup
  apps/patient/src/hooks/usePageAnalytics.ts
Labels: Patient App

Fix feature flag fallbacks
  apps/patient/src/configs/analytics.ts
Labels: Patient App

Create prescription review components
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
  apps/patient/src/components/prescription-summary/index.ts
Labels: Patient App

gate rx review display behind feature flag on pharmacies page
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

await the feature flag fetch on navigation decision
  apps/patient/src/views/Main.tsx
Labels: Patient App

update buildspec for mixpanel on clinical app (#2571)
  apps/app/buildspec.yml
  apps/app/src/configs/providerAnalytics.ts
  apps/patient/src/configs/analytics.ts
Labels: Patient App, Clinical App

Add feature flag test
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
