Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Refactor Patient Pharmacy page - extract methods (#1997)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

remove (#2000)
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

making extra order propreties all consistent
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

fixup
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

making extra order propreties all consistent (#2002)
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Revert "Photon: Merge neutron into photon"
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Revert "Photon: Merge neutron into photon" (#2005)
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Revert "Revert "Photon: Merge neutron into photon" (#2005)"
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Revert "Revert "Revert "Photon: Merge neutron into photon"""
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Make auxillary components testable
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

Couple test utils
  apps/patient/package.json
  apps/patient/src/test-utils/generators.ts
Labels: Patient App

Add optimistic update to set new pharmacy and clear order exceptions on reroute
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Test the reroute flow
  apps/patient/src/Reroute.test.tsx
Labels: Patient App

fix order context type usage
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

Optimistically update order context w new pharmacy and exceptions resolved on reroute (#2009)
  apps/patient/package.json
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

Allow glp1 coupons
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix tests
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Move public to top
  apps/patient/src/utils/shouldShowPriceToggle.tsx
Labels: Patient App

Allow glp1 coupons (#2011)
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Gate the Message Support button for only orders that are not noshore
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Main.tsx
Labels: Patient App

Gate the Message Support button for only orders that are not noshore (#2013)
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Main.tsx
Labels: Patient App

Lib imports and extract vars
  packages/sdk/src/lib.ts
Labels: SDK

Add instrumentation to clinical embed
  apps/app/src/App.tsx
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-client/embed-datadog-config.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/sdk/src/instrumentation.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Clinical App

re add patient id
  packages/elements/index.html
Labels: Elements

disable resource tracking to focus on gql calls, for now
  packages/sdk/src/instrumentation.ts
Labels: SDK

fix mutation operationType not logging
  packages/sdk/src/instrumentation.ts
Labels: SDK

Renaming SDK to embed
  packages/sdk/src/instrumentation.ts
  packages/sdk/src/lib.ts
Labels: SDK

Replace broken endpoint attribute with apiTarget; remove invalid cache_status
  packages/sdk/src/instrumentation.ts
  packages/sdk/src/lib.ts
Labels: SDK

rename apitarget back to endpoint
  packages/sdk/src/instrumentation.ts
Labels: SDK

Clinical app datadog logs graphql operations
  apps/app/src/App.tsx
  apps/app/src/index.tsx
  apps/app/src/vendor/types.d.ts
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/sdk/src/instrumentation/apolloLink.ts
  packages/sdk/src/instrumentation/beforeSend.ts
  packages/sdk/src/instrumentation/datadog.d.ts
  packages/sdk/src/instrumentation/embed-datadog-config.ts
  packages/sdk/src/instrumentation/index.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Clinical App

Replace embed action logs with resource logs
  packages/sdk/src/instrumentation/apolloLink.ts
  packages/sdk/src/instrumentation/beforeSend.ts
  packages/sdk/src/instrumentation/embed-datadog-rum.ts
  packages/sdk/src/lib.ts
Labels: SDK

"Reach out to provider" for canceled, "Reach out to support" for 404
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/NoMatch.tsx
Labels: Patient App

Refactor cleanup
  packages/sdk/src/instrumentation/beforeSend.ts
  packages/sdk/src/instrumentation/index.ts
Labels: SDK

init
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/utils/isMailOrderPharmacy.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

send pharmacy after ready by
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

Fix tsc
  apps/app/src/vendor/types.ts
  package-lock.json
  packages/sdk/src/instrumentation/beforeSend.ts
  packages/sdk/src/instrumentation/datadog.ts
  packages/sdk/src/instrumentation/embed-datadog-rum.ts
Labels: SDK, Clinical App

minor cleanup
  apps/app/src/index.tsx
  apps/app/src/vendor/types.ts
  packages/sdk/src/instrumentation/config.ts
  packages/sdk/src/instrumentation/datadog.ts
  packages/sdk/src/instrumentation/embed-datadog-rum.ts
Labels: SDK, Clinical App

turns green on ready by
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
