Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

cleanup
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix distance showing on status page
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

Make show price configurable in settings (#1615)
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings, Patient App

fixup
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix top ranked costco for sesame glp1
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add Remo org settings/branding to photon settings file
  apps/patient/src/assets/remo_logo.svg
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

fix top ranked costco for sesame glp1 (#1616)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add Remo org settings/branding to photon settings file (#1617)
  apps/patient/src/assets/remo_logo.svg
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

wip
  apps/patient/src/components/Coupons.tsx
  package-lock.json
Labels: Patient App

update modern pediatrics logo
  apps/patient/src/assets/modern_pediatrics_logo.png
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update modern pediatrics logo (#1618)
  apps/patient/src/assets/modern_pediatrics_logo.png
Labels: Patient App

smaller font
  apps/patient/src/components/Coupons.tsx
Labels: Patient App

cleanup
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/graphql/queries.ts
Labels: Patient App

Show strikethrough retail price on status page (#1619)
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/graphql/queries.ts
  package-lock.json
Labels: Patient App

limit glp prices to zepbound
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

limit glp prices to zepbound (#1620)
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

enable sesame pricing
  packages/settings/src/lib/photon.ts
Labels: Settings

neutron
  packages/settings/src/lib/neutron.ts
Labels: Settings

fix stale patient med history
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
Labels: Components

bump version
  packages/elements/package.json
Labels: Elements

Turn on Sesame pricing (#1621)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

wip
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

cleanup
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

remove unused types
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

fix type
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

Fix stale med history (#1624)
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

quick n dirty experiment pass (#1603)
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

showing branded options if `amazonPharmacyEndOfPharmacyTestSegment` experiment is active
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

showing branded options if `amazonPharmacyEndOfPharmacyTestSegment` experiment is active (#1629)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

mock
  packages/components/src/systems/DraftPrescriptions/index.tsx
Labels: Components

Add oepnloop mail order to our photon test org
  packages/settings/src/lib/photon.ts
Labels: Settings

make readonly inputs look uneditable
  apps/app/src/views/routes/Settings/components/client-credentials/AppNameView.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/ClientIdView.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/ClientSecretView.tsx
Labels: Clinical App

codegen
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
Labels: Clinical App

Add oepnloop mail order to our photon test org (#1632)
  packages/settings/src/lib/photon.ts
Labels: Settings
