Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Logout user before attempting SSO login (#2111)
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

Setup phone and fax fields for signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
Labels: Clinical App

debounce the mail order pharmacy search by name
  packages/components/src/systems/PharmacySearch/MailOrderPharmacySearch.tsx
Labels: Components

debounce mail order pharmacy search
  packages/components/src/systems/PharmacySearch/MailOrderPharmacySearch.tsx
Labels: Components

only default select a preferred pharmacy if it is in the local list
  packages/components/src/systems/PharmacySearch/index.tsx
Labels: Components

Setup phone and fax fields for signup (#2113)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/form.ts
Labels: Clinical App

remove
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove (#2115)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

capture DME
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components

version
  packages/elements/package.json
Labels: Elements

Capture DME in the Front End Med History card (#2117)
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components

Hide the mail order dropdown when there are no results, opt to client side name filtering rather than server side name filtering for now
  packages/components/src/systems/PharmacySearch/MailOrderPharmacySearch.tsx
Labels: Components

Change copy to "Choose a partner pharmacy" for now
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
Labels: Components

allow prefill of preferred pharmacy in update patient form
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

Replace sales with support email
  apps/app/src/views/routes/Login.tsx
  packages/elements/src/photon-login/photon-login-component.tsx
Labels: Elements, Clinical App

refactor component up; rename returnTo for react router to make it less confusing with photon auth0 returnTo params
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Replace sales with support email (#2120)
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/Main.tsx
  packages/elements/src/photon-login/photon-login-component.tsx
Labels: Elements, Clinical App

Prescribe Flow Mail Order Pharmacy Search (#2110)
  apps/app/src/gql/graphql.ts
  packages/components/dev/App.tsx
  packages/components/src/fetch/queries.ts
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/ComboBox.stories.tsx
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/InputGroup/InputGroup.stories.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/systems/DoseCalculator/components/DoseCalculator.tsx
  packages/components/src/systems/DoseCalculator/components/UnitSelect.tsx
  packages/components/src/systems/PharmacySearch/MailOrderPharmacySearch.tsx
  packages/components/src/systems/PharmacySearch/PharmacySearch.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components, Clinical App

Release MailOrder Dropdown in Elements - v.0.17.0
  packages/elements/package.json
Labels: Elements

Release MailOrder Dropdown in Elements - v.0.17.0 (#2122)
  packages/elements/package.json
Labels: Elements

pass groupid through
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

bump
  packages/elements/package.json
Labels: Elements

testing group id
  packages/elements/index.html
Labels: Elements

schema
  packages/sdk/src/types.ts
Labels: SDK

update schema
  packages/sdk/src/clinical/order.ts
Labels: SDK

groups
  packages/elements/index.html
  packages/sdk/src/clinical/order.ts
Labels: Elements, SDK

Add ability to create an order with a Group Id (#2124)
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/sdk/src/clinical/order.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK

Add automated ops tag to patient analytics context so we can filter noshore events in the analytics db
  apps/patient/src/configs/analytics.ts
Labels: Patient App

Add automated ops tag to patient analytics context so we can filter noshore events in the analytics db (#2125)
  apps/patient/src/configs/analytics.ts
Labels: Patient App

Add tracking events when a user clicks Help buttons
  apps/patient/src/components/Nav.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Fix spacing between branded options on the pharmacy list page
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add tracking events when a user clicks Help buttons (#2127)
  apps/patient/src/components/Nav.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

move to subfolder
  apps/app/src/App.tsx
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
Labels: Clinical App

optimize imports
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

require patient address fields
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

fix adding and removing an email not saving
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

bump elements
  package-lock.json
Labels: none

fix e2e test
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App

Patient address required in New Patient form (#2129)
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/App.tsx
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  package-lock.json
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Clinical App

Capture controlled substance token on main page and route to /info
  apps/patient/src/Routes.tsx
  apps/patient/src/views/Info.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
