Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Add Remedy Meds org settings in neutron (#1679)
  apps/patient/src/assets/remedymeds_logo.png
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, Patient App

Precision Telemed branding and mail order settings
  apps/patient/src/assets/precision_telemed_logo.png
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

Precision Telemed branding and mail order settings (#1681)
  apps/patient/src/assets/precision_telemed_logo.png
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

Remove datadogrum logs because they dont work in components right now
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Fix expand history row expanding duplicate treatments
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

Fix z-index conflicts, re-enable refill button
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/particles/Dialog/index.tsx
Labels: Components, Clinical App

Disable refill button while recent orders are loading
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
Labels: Components

Collect metrics for med history buttons
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Reorganize file
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Center refill button horizontally
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Bump elements
  packages/elements/package.json
Labels: Elements

Cleanup storybook
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
Labels: Components

Fix typescript in elements tsc
  packages/components/src/particles/Dialog/index.tsx
  packages/components/types/zendesk.d.ts
Labels: Components

Fix isLoading default
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
Labels: Components

Remove toggle button; fix padding
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Fix wonkiness in 1 click refill
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/utils/storybookUtils.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-multirx-form/util/repopulateForm.ts
Labels: Elements, Components

Remove unused field
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

Remove redundant bool
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Show no medication history message
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
Labels: Components

Hide med history rows during loads
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

Reorganize onMount
  packages/components/src/systems/DraftPrescriptions/index.tsx
Labels: Components

Emit draft prescription created event for 1 click refill
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Refactor chronological into asc, desc vals
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

wip
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

Enable med history refill button (#1673)
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/particles/Dialog/index.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/utils/storybookUtils.ts
  packages/components/types/zendesk.d.ts
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-multirx-form/util/repopulateForm.ts
Labels: Elements, Components, Clinical App

adding test mail order pharmacy in neutron
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

adding test mail order pharmacy in neutron (#1685)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

activating found for amazon offers
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix z-index of Edit Patient dialog
  packages/components/src/particles/Dialog/index.tsx
Labels: Components

Fix z-index of Edit Patient dialog (#1686)
  packages/components/src/particles/Dialog/index.tsx
Labels: Components

test
  package-lock.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

dont submit while loading
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

basic works
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

test
  packages/elements/index.html
Labels: Elements

enabling found for production
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix up (made it prettier)
  packages/components/src/systems/DoseCalculator/components/DoseCalculator.tsx
Labels: Components

fix up
  packages/components/src/systems/DoseCalculator/components/DoseCalculator.tsx
Labels: Components

Sets min value for dose calculator inputs
  package-lock.json
  packages/components/README.md
  packages/components/src/systems/DoseCalculator/components/DoseCalculator.tsx
Labels: Components

Sets min value for dose calculator inputs (#1688)
  package-lock.json
  packages/components/README.md
  packages/components/src/systems/DoseCalculator/components/DoseCalculator.tsx
Labels: Components

Fix zindex of edit patient
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
