Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Bump elements
  packages/elements/package.json
Labels: Elements

Cleanup a bit
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

Cleanup state
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

RTBC MVP via Arrive (#1802)
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/dev/App.tsx
  packages/components/src/fetch/index.ts
  packages/components/src/fetch/mutations.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Divider/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/utils/formatRxString.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components, Clinical App

Hide RTBC API error toasts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

Hide RTBC API error toasts (#1818)
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

re-delete DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
Labels: Components

show prescription routing alerts for Zepbound (#1811)
  packages/components/dev/App.tsx
  packages/components/src/fetch/mutations.ts
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Update pharmacy selection for RTBC
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/stores/pharmacy.ts
Labels: Elements, Components

enable sourcemap for components
  packages/components/vite.config.ts
Labels: Components

fix mock typing
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

update comment
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

Fix google.maps typescript error
  packages/components/src/systems/LocationSelect/index.tsx
Labels: Components

Bump elements
  packages/elements/package.json
Labels: Elements

revert sourcemap to skip ci error
  packages/components/vite.config.ts
Labels: Components

Update pharmacy selection for RTBC (#1821)
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/stores/pharmacy.ts
Labels: Elements, Components

adding openloop to novocare experiment
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

adding openloop to novocare experiment (#1822)
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

revert
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/patient/src/views/pharmacy.utils.tsx
  packages/components/dev/App.tsx
  packages/components/src/fetch/index.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/fetch/queries.tsx
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Divider/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/utils/formatRxString.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/stores/pharmacy.ts
Labels: Elements, Components, Patient App, Clinical App

revert (#1823)
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/patient/src/views/pharmacy.utils.tsx
  packages/components/dev/App.tsx
  packages/components/src/fetch/index.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/fetch/queries.tsx
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Divider/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/utils/formatRxString.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/stores/pharmacy.ts
Labels: Elements, Components, Patient App, Clinical App

Revert "revert (#1823)"
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/patient/src/views/pharmacy.utils.tsx
  packages/components/dev/App.tsx
  packages/components/src/fetch/index.ts
  packages/components/src/fetch/mutations.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Divider/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/utils/formatRxString.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/stores/pharmacy.ts
Labels: Elements, Components, Patient App, Clinical App

Fix pharmacyID null error
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Fix pharmacyID null error (#1825)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Bump elements
  packages/elements/package.json
Labels: Elements

Bump elements to 0.16.2 (#1827)
  packages/elements/package.json
Labels: Elements

Fix edit reselecting old treatment data
  packages/elements/src/photon-medication-dropdown/photon-medication-dropdown.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

Fix input not resetting on edit overwrite
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

add curex to kopelman hair org
  packages/settings/src/lib/photon.ts
Labels: Settings

add curex to kopelman hair org (#1829)
  packages/settings/src/lib/photon.ts
Labels: Settings

Fix mobile not resetting on edit overwrite
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
Labels: Elements

Slightly less radical change to fix cataog null error
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

Fix scrolling during edit
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

Fix edit reselecting old treatment data (#1828)
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-medication-dropdown/photon-medication-dropdown.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

Use brand variant for ready time day selector buttons
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

Use brand variant for ready time day selector buttons (#1833)
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

improve cancel order UI response time pt 3
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

clean-up
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

improve cancel order UI response time
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

improve cancel order UI response time pt 2
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

clean-up
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
