Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

fix tests
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
Labels: Patient App

WIP: PoC to hide Send button until draft is added
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

Add "Sponsored" text to OfferInfo (#2250)
  apps/patient/project.json
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
Labels: Patient App

adding additional offer data to impressions
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

fixup
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

rename file to PrescribeWorkflow
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

fixup
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

test PrescribeEventDispatchProvider
  packages/elements/src/photon-multirx-form/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

Disable google tag manager
  apps/app/public/index.html
Labels: Clinical App

Disable google tag manager (#2254)
  apps/app/public/index.html
Labels: Clinical App

fixup
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
Labels: Patient App

misc refactor
  packages/elements/src/photon-multirx-form/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

Add fix for race condition and logs
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

add dispatch event to createPrescriptionOnApi
  packages/components/src/index.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

adding additional offer data to impressions (#2253)
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

Add fix for race condition and logs (#2258)
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

fixing critical vuln
  package.json
Labels: none

fixup
  package-lock.json
Labels: none

show error
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

fixing critical vuln (#2260)
  package-lock.json
  package.json
Labels: none

fix test
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

one more vuln fix
  package-lock.json
  package.json
Labels: none

Display Error From Routing Orders (#2262)
  apps/app/src/views/routes/Order.tsx
  apps/patient/src/Navigation.test.tsx
Labels: Patient App, Clinical App

extract createPrescriptionsOnApi
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/sdk/src/types.ts
Labels: SDK, Components

Use logs that show in datadog rum
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

move shoelace out of PrescribeWorkflow
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/PrescribeWorkflow.stories.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

fix transforming rx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/sdk/src/types.ts
Labels: SDK, Components

rm console log
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
Labels: Components

photon-order-error event
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

Use logs that show in datadog rum (#2265)
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

photon-draft-prescription-deleted event
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements, Components

photon-prescriptions-created event
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

photon-order-created event
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

photon-prescriptions-error event
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

one more vuln fix (#2264)
  package-lock.json
  package.json
Labels: none

'photon-form-validate event
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

Revert race condition change
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

add back usePrescribeOptional
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

fixing anoher form-data vuln
  package.json
Labels: none

photon-clinical-alert events
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components
