Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

use specific controlled substance error message; default to general error (#2426)
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

use tailwind plugin for vite CSS building
  packages/components/project.json
  packages/components/src/index.ts
  packages/components/src/test-setup.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-dialog/photon-dialog-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

fix sdk package.json
  packages/components/package.json
Labels: Components

fix missed style.css
  packages/components/package.json
  packages/elements/src/photon-dialog/photon-dialog-component.tsx
  packages/elements/src/photon-med-history/photon-med-history.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Components

new Collapsible particle, load tailwind styles into vitest (#2418)
  packages/components/package.json
  packages/components/project.json
  packages/components/src/index.ts
  packages/components/src/particles/Collapsible/Collapsible.test.tsx
  packages/components/src/particles/Collapsible/index.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/test-setup.ts
  packages/components/vite.config.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-dialog/photon-dialog-component.tsx
  packages/elements/src/photon-med-history/photon-med-history.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

misc cleanup
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/stores/form.ts
Labels: Elements

Upgrade Nx 20→22, ESLint 8→9, fix minimatch ReDoS vulnerability
  .eslintignore
  .eslintrc.json
  apps/app/.eslintrc.json
  apps/app/project.json
  apps/app/src/views/components/LocationSearch.tsx
  apps/app/src/views/components/PharmacySearch.tsx
  apps/patient/.eslintrc.json
  apps/patient/package.json
  apps/patient/project.json
  apps/patient/src/views/Pharmacy.tsx
  eslint.config.mjs
  jest.config.ts
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/components/.eslintrc.json
  packages/components/.storybook/main.js
  packages/components/project.json
  packages/components/src/store.ts
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/elements/.eslintrc.json
  packages/elements/package.json
  packages/elements/project.json
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-medication-dropdown/photon-medication-dropdown.tsx
  packages/react/project.json
  packages/sdk/project.json
  packages/sdk/src/auth.ts
  packages/sdk/src/types.ts
  packages/settings/project.json
Labels: Elements, SDK, Components, Settings, Patient App, Clinical App

fix prettier lint
  eslint.config.mjs
Labels: none

Upgrade Nx 20→22, ESLint 8→9, fix minimatch ReDoS vulnerability (#2428)
  .eslintignore
  .eslintrc.json
  apps/app/.eslintrc.json
  apps/app/project.json
  apps/app/src/views/components/LocationSearch.tsx
  apps/app/src/views/components/PharmacySearch.tsx
  apps/patient/.eslintrc.json
  apps/patient/package.json
  apps/patient/project.json
  apps/patient/src/views/Pharmacy.tsx
  eslint.config.mjs
  jest.config.ts
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/components/.eslintrc.json
  packages/components/.storybook/main.js
  packages/components/project.json
  packages/components/src/store.ts
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/elements/.eslintrc.json
  packages/elements/package.json
  packages/elements/project.json
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-medication-dropdown/photon-medication-dropdown.tsx
  packages/react/project.json
  packages/sdk/project.json
  packages/sdk/src/auth.ts
  packages/sdk/src/types.ts
  packages/settings/project.json
Labels: Elements, SDK, Components, Settings, Patient App, Clinical App

separate Supervising Physician Card (#2420)
  packages/components/src/particles/Card/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/sdk/src/graphql/clinical-api/fragment.ts
  packages/sdk/src/graphql/clinical-api/index.ts
  packages/sdk/src/graphql/clinical-api/mutation.ts
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components

resolve more vulns, bump elements
  package-lock.json
  package.json
  packages/elements/package.json
  packages/sdk/src/auth.ts
Labels: Elements, SDK

resolve immutable vuln
  package-lock.json
  package.json
Labels: none

Fixing several vulns by updating packages (#2431)
  package-lock.json
  package.json
  packages/elements/package.json
  packages/sdk/src/auth.ts
Labels: Elements, SDK

Add permissions to workflows to fix codescan vulns
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
  .github/workflows/lint.yml
  .github/workflows/merge-bot.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/prettier.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
Labels: none

attempt to fix login issues for SSO
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

Add permissions to workflows to fix codescan vulns (#2434)
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
  .github/workflows/lint.yml
  .github/workflows/merge-bot.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/prettier.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
Labels: none

improve comment
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

setup sso e2e test
  apps/app/e2e/sso_login.spec.ts
  apps/app/playwright.config.ts
Labels: Clinical App

update local env sample
  apps/app/.env.local.sample
Labels: Clinical App

PR e2e test uses boson env config
  .github/workflows/pr-e2e-tests.yml
Labels: none

fix env config
  .github/workflows/pr-e2e-tests.yml
Labels: none

refactor connection name var
  apps/app/e2e/sso_login.spec.ts
Labels: Clinical App

Fixing login issues for SSO (#2436)
  .github/workflows/pr-e2e-tests.yml
  apps/app/.env.local.sample
  apps/app/e2e/sso_login.spec.ts
  apps/app/playwright.config.ts
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

remove unused s3 deployment and dependencies
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
  packages/elements/package.json
Labels: Elements

remove unused s3 deployment and dependencies (#2441)
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
  packages/elements/package.json
Labels: Elements

Initial iteration of demo v2 payload
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/Nav.tsx
  apps/patient/src/utils/demoQueryParams.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

add goodrx and rxsense offer types and costs to offer impression event
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

undo change to retailAmount and costAmount
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

extract Offer interface to common OfferDetails type in models
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

common getOfferType func and added details to Offer Selected event
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix typecheck
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

mostRecentSupervisor endpoint
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
Labels: Elements, SDK

send supervisorId on order
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/clinical/order.ts
Labels: Elements, SDK

add selectedFrom property on Offer Selected event
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Use `numberOfMeds` instead of `medCount`
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Track `hasRefills` on impression and selection
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Default to None for offerType
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

send buttonText property along with impression selected events
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

standardized/consistent naming
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add Clear button
  packages/components/src/particles/ComboBox/index.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components
