Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fix query
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

rename to preferredPharmacyId
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

use globalError, misc refactor
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

bump ver
  packages/elements/package.json
Labels: Elements

merge Add Prescription and Draft Prescriptions into one card (#2621)
  .github/workflows/pr-e2e-tests.yml
  apps/app/.env.local.sample
  apps/app/e2e/create_prescription.spec.ts
  apps/patient/.env.local.sample
  apps/patient/e2e/setup-new-order.spec.ts
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/particles/Card/index.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/clearForm.ts
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/formatPatientWeight.ts
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/repopulateForm.ts
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
Labels: Elements, Components, Patient App, Clinical App

Use credentials instead of title
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  package-lock.json
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/test-utils/fixtures.ts
  packages/sdk/src/test-utils/msw-handlers.ts
Labels: Elements, SDK, Clinical App

adding back wrapper prop to tooltip
  apps/patient/src/components/offers/OfferInfo.tsx
Labels: Patient App

cleanup
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

Use credentials instead of title (#2629)
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  package-lock.json
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/test-utils/fixtures.ts
  packages/sdk/src/test-utils/msw-handlers.ts
Labels: Elements, SDK, Clinical App

fix behavior on edit button
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
Labels: Elements

revise copy
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
Labels: Elements

stop showing ready in 30 mins badge for walgreens
  apps/patient/src/utils/general.ts
Labels: Patient App

update tooltip on patient app (#2625)
  apps/patient/src/components/Tooltip.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/prescription-summary/FillSummary.tsx
Labels: Patient App

stop showing ready in 30 mins badge for walgreens (#2631)
  apps/patient/src/utils/general.ts
Labels: Patient App

hide Cancel button on DraftPrescriptionForm if in-progress draft (#2630)
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
Labels: Elements

use playwright docker image
  .github/workflows/pr-e2e-tests.yml
Labels: none

refactor photon-patient-form into Solid (#2603)
  packages/elements/src/index.ts
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/index.ts
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/types.d.ts
  tools/bookmarklets/patient-form-filler-with-address.txt
  tools/bookmarklets/patient-form-filler.txt
Labels: Elements

use playwright docker image (#2634)
  .github/workflows/pr-e2e-tests.yml
Labels: none

update copy and permish
  apps/app/src/views/routes/Disallowed.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

fix permish
  packages/sdk/src/types.ts
Labels: SDK

Add Checks for Disallowing Prescriptions on the WebApp (#2617)
  apps/app/src/App.tsx
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/Disallowed.tsx
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

Hide headers on iOS Webkit
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/elements/src/PhotonFormWrapper/PhotonFormWrapper.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Clinical App

another option where customer opts into hiding headers
  packages/elements/src/PhotonFormWrapper/PhotonFormWrapper.tsx
Labels: Elements

Fix redirect on login
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

better checker
  packages/elements/src/PhotonFormWrapper/PhotonFormWrapper.tsx
Labels: Elements

fix removal comment
  packages/elements/src/PhotonFormWrapper/PhotonFormWrapper.tsx
Labels: Elements

Support hiding headers on WebViews (#2638)
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/elements/src/PhotonFormWrapper/PhotonFormWrapper.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Clinical App

fix
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Update E2E test
  apps/app/e2e/sso_login.spec.ts
Labels: Clinical App

fix
  apps/app/e2e/sso_login.spec.ts
Labels: Clinical App

Revert "Add Checks for Disallowing Prescriptions on the WebApp (#2617)"
  apps/app/src/App.tsx
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/Disallowed.tsx
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

Revert "Add Checks for Disallowing Prescriptions on the WebApp (#2617)" (#2640)
  apps/app/src/App.tsx
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/Disallowed.tsx
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

Hide send button in embed when drafts are empty
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements

Rename "add to drafts"
  apps/app/e2e/create_prescription.spec.ts
  apps/patient/e2e/setup-new-order.spec.ts
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
Labels: Elements, Patient App, Clinical App

Bump elements version
  packages/elements/package.json
Labels: Elements

Hide "Send" button in prescribe element, when drafts are empty (#2641)
  apps/app/e2e/create_prescription.spec.ts
  apps/patient/e2e/setup-new-order.spec.ts
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
Labels: Elements, Patient App, Clinical App

Fix
  apps/app/src/App.tsx
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/AppOverride.tsx
  apps/app/src/views/routes/Disallowed.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

Fixer
  apps/app/src/App.tsx
Labels: Clinical App

Revert main
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Allow settings, support, and playground
  apps/app/src/App.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
