Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

big ole dang ole
  apps/app/src/App.tsx
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/Disallowed.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
Labels: Clinical App

remove dd rum init, actions and mocks (#2608)
  apps/patient/buildspec.yml
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
  apps/patient/src/index.tsx
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.test.tsx
Labels: Patient App

Fix
  apps/app/src/views/routes/Disallowed.tsx
Labels: Clinical App

misc refactor
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements, Components

copy components config into elements
  packages/elements/tailwind.config.js
Labels: Elements

PhotonFormWrapper is not a webcomponent
  packages/elements/src/PhotonFormWrapper/PhotonFormWrapper.tsx
  packages/elements/src/PhotonFormWrapper/index.ts
  packages/elements/src/photon-form-wrapper/index.ts
Labels: Elements

remove photonStyles imports
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-dialog/photon-dialog-component.tsx
  packages/elements/src/photon-med-history/photon-med-history.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

fix row style on AddPrescriptionCard
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

don't need exclamation anymore
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

add basic fix
  apps/app/src/views/routes/Main.tsx
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

init
  apps/app/src/views/routes/Main.tsx
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

style Cancel button
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
Labels: Elements

test Cancel handler
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
Labels: Elements

fixer
  apps/app/src/views/routes/Disallowed.tsx
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

move hook up so it's not conditional
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

scroll to last draft when form closed
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements, Components

lint
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

fix showForm for refill flow
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements

pkg lock?
  package-lock.json
Labels: none

pkg
  package-lock.json
Labels: none

fix unreliable scrollIntoView
  packages/components/src/particles/Card/index.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements, Components

fix test
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
Labels: Elements

create shared base config
  packages/components/tailwind.base.cjs
  packages/components/tailwind.config.cjs
  packages/elements/tailwind.config.js
Labels: Elements, Components

fix
  apps/app/src/App.tsx
Labels: Clinical App

fox
  apps/app/src/App.tsx
Labels: Clinical App

fix
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

WIP
  apps/app/src/configs/providerAnalytics.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Clinical App

Stop adding photonhealth/ packages as direct deps
  packages/components/package.json
  packages/elements/package.json
Labels: Elements, Components

try fix checks
  apps/app/.env.local.sample
  apps/app/e2e/create_prescription.spec.ts
  apps/patient/.env.local.sample
  apps/patient/e2e/setup-new-order.spec.ts
  packages/components/dev/App.tsx
Labels: Components, Patient App, Clinical App

fixing high vulnerabilities for client repo
  package-lock.json
  package.json
  packages/sdk/package.json
Labels: SDK

bump ver
  packages/elements/package.json
Labels: Elements

fixing high vulnerabilities for client repo (#2623)
  package-lock.json
  package.json
  packages/sdk/package.json
Labels: SDK

update tooltip to close on scroll and tap; add tooltip to fillsummary
  apps/patient/src/components/Tooltip.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/prescription-summary/FillSummary.tsx
Labels: Patient App

fix pr-e2e-tests for patient app always pointing at app.boson
  .github/workflows/pr-e2e-tests.yml
Labels: none

unified tailwind build for elements + components (#2619)
  packages/components/tailwind.base.cjs
  packages/components/tailwind.config.cjs
  packages/elements/package.json
  packages/elements/src/PhotonFormWrapper/PhotonFormWrapper.tsx
  packages/elements/src/PhotonFormWrapper/index.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-dialog/photon-dialog-component.tsx
  packages/elements/src/photon-form-wrapper/index.ts
  packages/elements/src/photon-med-history/photon-med-history.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/tailwind.config.js
Labels: Elements, Components

fix little styling burgs
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements

Stop adding photonhealth/ packages as direct deps (#2622)
  packages/components/package.json
  packages/elements/package.json
Labels: Elements, Components

rm styles regression
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
Labels: Elements

rm PatientStore
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

error toast
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
