Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

Remove old test workflow in favor of e2e-tests
  .github/workflows/pr-e2e-tests.yml
Labels: none

Remove old test workflow in favor of e2e-tests (#2470)
  .github/workflows/pr-e2e-tests.yml
Labels: none

forgot this
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

bump elements ver
  packages/elements/package.json
Labels: Elements

supervising physician UI (#2471)
  CLAUDE.md
  packages/components/src/particles/Card/index.tsx
  packages/components/src/particles/Collapsible/index.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/validators/index.ts
  packages/sdk/src/clinical/order.ts
  packages/sdk/src/graphql/clinical-api/fragment.ts
  packages/sdk/src/graphql/clinical-api/index.ts
  packages/sdk/src/graphql/clinical-api/mutation.ts
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components

stringify value
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

stringify value (#2474)
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

Dependabot auto approves and merges security PRs
  .github/workflows/dependabot-auto-merge.yml
Labels: none

only boson PRs
  .github/workflows/dependabot-auto-merge.yml
Labels: none

Dependabot auto approves and merges security PRs (#2479)
  .github/workflows/dependabot-auto-merge.yml
Labels: none

set up displaying price per medication and total for AP but only tracking offer bundles responses
  apps/patient/src/api/internal.ts
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/shouldShowPriceToggle.test.tsx
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

move delivery promise logic to helper and add tests; hide toggle for multi meds for now
  apps/patient/src/api/internal.ts
  apps/patient/src/utils/deliveryPromise.ts
  apps/patient/src/utils/shouldShowPriceToggle.test.tsx
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/pharmacy.utils.test.ts
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

marking up
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

moved delivery promise test file closer to helper
  apps/patient/src/utils/deliveryPromise.test.tsx
Labels: Patient App

Multi meds pricing ap (#2480)
  apps/patient/src/api/internal.ts
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/deliveryPromise.test.tsx
  apps/patient/src/utils/deliveryPromise.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/shouldShowPriceToggle.test.tsx
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

adding page view events
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/views/Info.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Info.tsx
Labels: Patient App

fixup
  apps/patient/src/hooks/usePageAnalytics.ts
Labels: Patient App

fixup
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/hooks/usePageAnalytics.test.tsx
Labels: Patient App

fixup
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

fixup
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

fixup
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

fixup
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

fix plus lint
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Update "Don't see Pharmacy" div to match pharmacies below (#2481)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix dependabot automerge
  .github/workflows/dependabot-auto-merge.yml
Labels: none

init fix invite check
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
Labels: Clinical App

clean up comments
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

clean up comments
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

genericize regex
  apps/app/src/views/routes/SelfSignup/views/form.ts
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/utils/Validation.tsx
Labels: Clinical App

use squash not merge
  .github/workflows/dependabot-auto-merge.yml
Labels: none

misc cleanup
  apps/patient/src/configs/analytics.ts
Labels: Patient App

install mixpanel
  package-lock.json
  package.json
Labels: none

init mixpanel and identify user
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/.env.tau
  apps/patient/src/index.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

mock mixpanel in unit tests
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/Status.test.tsx
Labels: Patient App

fix spacing
  apps/patient/src/views/Status.tsx
Labels: Patient App

load in flag
  apps/patient/src/index.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

adding page view events (#2483)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/hooks/usePageAnalytics.test.tsx
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/views/Info.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Enforce 10 digit NPI validation during onboarding (#2489)
  apps/app/src/views/routes/SelfSignup/views/form.ts
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
  apps/app/src/views/routes/Settings/components/utils/Validation.tsx
Labels: Clinical App

basic Drawer functionality
  apps/patient/src/views/Status.tsx
Labels: Patient App
