Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

delete unused chromatic workflow
  .github/workflows/chromatic.yml
Labels: none

typecheck apps against each environment's graphql schema PHO-104 (#2222)
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  .github/workflows/merge-bot.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/prettier.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
  .gitignore
  README.md
  apps/app/README.md
  apps/app/codegen.ts
  apps/app/project.json
  apps/app/src/gql/fragment-masking.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/gql/index.ts
  apps/patient/README.md
  apps/patient/codegen.ts
  apps/patient/project.json
  package.json
Labels: Patient App, Clinical App

pick up and mail order
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

types
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

codegen
  apps/app/src/gql/graphql.ts
Labels: Clinical App

preferred pharmamcy
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

preferred
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

WIP: fixing extra page view metric
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

enforce address
  packages/elements/package.json
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

Address optional prescribe flow (#2212)
  apps/app/codegen.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  package-lock.json
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/sdk/src/clinical/order.ts
Labels: Elements, SDK, Components, Clinical App

hide or show optional
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

media call outs
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

hide
  packages/elements/package.json
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

Desktop optional info (#2233)
  packages/elements/package.json
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

fix rudderstack error on sso page
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
Labels: Clinical App

fix rudderstack error on sso page (#2236)
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
Labels: Clinical App

Fix extra page navigation
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

remove unnecessary dependency in useEffect
  apps/patient/src/hooks/usePageAnalytics.ts
Labels: Patient App

remove bad code
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix Page View Analytics for patient app (#2228)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/hooks/usePageAnalytics.test.tsx
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

address id for create order
  apps/app/src/model/fragments.ts
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/stores/patient.ts
  packages/sdk/src/clinical/order.ts
  packages/sdk/src/fragments.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components, Clinical App

create order
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
Labels: Clinical App

create order
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
Labels: Clinical App

add phone to potential self signup prefill data
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

format phone number
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

updotae address
  packages/components/src/particles/ListBox/index.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
Labels: Elements, Components

optional address in create and update
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

add phone to potential self signup prefill data (#2241)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

update spread
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  packages/elements/index.html
Labels: Elements, Clinical App

bump version
  packages/elements/package.json
Labels: Elements

Create order with address id (#2242)
  apps/app/src/model/fragments.ts
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  packages/components/src/particles/ListBox/index.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/stores/patient.ts
  packages/sdk/src/clinical/order.ts
  packages/sdk/src/fragments.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components, Clinical App

fixin form-data dependency
  package-lock.json
Labels: none

fixup
  package-lock.json
Labels: none

fixup
  package-lock.json
  package.json
Labels: none

fixin form-data dependency (#2248)
  package-lock.json
  package.json
Labels: none

add dev commands to patient
  apps/patient/project.json
Labels: Patient App

add sponsored text
  apps/patient/src/components/offers/OfferInfo.tsx
Labels: Patient App

fix whitespace
  apps/patient/project.json
Labels: Patient App

Fix effect warnings for analytics
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

only show text for amazon
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.tsx
Labels: Patient App
