Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Bump package version
  packages/elements/package.json
Labels: Elements

lint
  packages/elements/package.json
Labels: Elements

Expose connection param in photon-client (#1419)
  packages/components/src/systems/Client/index.tsx
  packages/elements/package.json
Labels: Elements, Components

save patientSelectedPrice
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

cleanup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update status page to ensure we have the right discount card showing
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

cleanup
  apps/patient/src/components/Coupons.tsx
Labels: Patient App

nx update to latest and also update pa language
  .gitignore
  .husky/pre-commit
  .prettierignore
  apps/app/config-overrides.js
  apps/app/project.json
  apps/patient/config-overrides.js
  apps/patient/project.json
  apps/patient/src/components/order-summary/OrderSummary.tsx
  jest.config.ts
  jest.preset.js
  lint-staged.config.js
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/components/project.json
  packages/elements/project.json
  packages/react/project.json
  packages/sdk/project.json
  packages/settings/project.json
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
  tools/generators/.gitkeep
Labels: Elements, SDK, Components, Settings, Patient App, Clinical App

fix stupid vscode settings
  .vscode/settings.json
  apps/patient/src/components/order-summary/OrderSummary.tsx
  lint-staged.config.js
Labels: Patient App

ci
  .github/workflows/type-check.yml
  package-lock.json
Labels: none

move types into dev dependencies and see if that fixes typecheck
  package-lock.json
  package.json
Labels: none

ts 5.1
  package-lock.json
  package.json
Labels: none

cleanup
  apps/patient/src/components/Card.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/FAQ.tsx
Labels: Patient App

hide coupons header if no price selected
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

use correct variable
  apps/patient/src/components/Coupons.tsx
Labels: Patient App

use sortby to determine if patient selected price
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Save patientSelectedPrice flag (#1420)
  apps/patient/src/api/internal.ts
  apps/patient/src/components/Card.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

PA language for sesame plus precommit fix
  .husky/pre-commit
  .vscode/settings.json
  apps/patient/src/components/order-summary/OrderSummary.tsx
  package-lock.json
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings, Patient App

adding prescription screening to drafting prescription
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fixup
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fixup
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

fixup
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/components/src/systems/ScreeningAlerts/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

PA language for sesame plus precommit fix (#1422)
  .husky/pre-commit
  .vscode/settings.json
  apps/patient/src/components/order-summary/OrderSummary.tsx
  package-lock.json
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings, Patient App

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
Labels: Components

fixup
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

fixup
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
Labels: Components

fixup
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
Labels: Components

fixup
  packages/components/src/systems/DraftPrescriptions/index.tsx
Labels: Components

fixup
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
Labels: Components

Update packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
Labels: Components

fixup
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

show banner for hurricane
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

show banner for hurricane (#1425)
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

passing in types
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Add catalog-id param to photon-prescribe-workflow
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/stores/catalog.ts
Labels: Elements

typo
  packages/elements/src/stores/catalog.ts
Labels: Elements

enable sana mail order options
  apps/patient/.env.boson
  apps/patient/.env.photon
  apps/patient/src/assets/cost_plus_logo_small.webp
  apps/patient/src/assets/cost_plus_logo_small_1.svg
  apps/patient/src/assets/walmart_logo_small.jpg
  apps/patient/src/components/BrandedPharmacyCard.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
