Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

test checks API
  .github/workflows/pr-e2e-tests-trigger.yml
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
  apps/patient/.env.tau
Labels: Patient App, Clinical App

adding customer id and name to all patient front end data (#2502)
  apps/patient/src/configs/analytics.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

test checks API in e2e gha
  .github/scripts/add-e2e-test-checks.js
  .github/workflows/pr-e2e-tests-trigger.yml
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
Labels: Clinical App

run playwright against deployed app
  .github/scripts/add-e2e-test-checks.js
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
Labels: Clinical App

test splitting based on app
  .github/scripts/add-e2e-test-checks.js
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
Labels: Clinical App

add permission
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

try adding check to PR
  .github/scripts/add-e2e-test-checks.js
  .github/workflows/pr-e2e-tests.yml
Labels: none

try reporting test status
  .github/scripts/add-e2e-test-checks.js
  .github/workflows/pr-e2e-tests.yml
Labels: none

add dispatch to patient buildspec
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

mixpanel token patient buildspec
  apps/patient/buildspec.yml
Labels: Patient App

create check-in progress, try linking to workflow
  .github/scripts/add-e2e-test-checks.js
  .github/workflows/pr-e2e-tests.yml
Labels: none

rm .env.neutron, .env.photon mentions
  apps/app/project.json
  apps/patient/project.json
Labels: Patient App, Clinical App

improve pullenv commands, update docs
  CLAUDE.md
  apps/app/README.md
  apps/app/package.json
  apps/app/project.json
  apps/patient/README.md
  apps/patient/package.json
  apps/patient/project.json
Labels: Patient App, Clinical App

setup for .env.tau
  CLAUDE.md
  apps/app/.env.tau
  apps/app/project.json
  apps/patient/.env.tau
  apps/patient/project.json
Labels: Patient App, Clinical App

remove getOffers and update tests; add new coupon tag size for single meds
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fix type errors
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

Add Partner Value Dashboard tab to Settings
  apps/app/src/App.tsx
  apps/app/src/views/routes/Settings/index.tsx
  apps/app/src/views/routes/Settings/views/DashboardTab.tsx
Labels: Clinical App

Fix lint: remove non-standard allowTransparency attribute
  apps/app/src/views/routes/Settings/views/DashboardTab.tsx
Labels: Clinical App

default env photon
  apps/app/codegen.ts
  apps/patient/codegen.ts
  packages/sdk/codegen.clinical-api.ts
Labels: SDK, Patient App, Clinical App

update README
  apps/app/README.md
  apps/patient/README.md
Labels: Patient App, Clinical App

check aws login in pullenv
  apps/app/package.json
  apps/patient/package.json
Labels: Patient App, Clinical App

Allow PR app domains for e2e sso test
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

rm rest of .env files
  apps/app/.env.neutron
  apps/app/.env.photon
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

Fix for double logout
  apps/app/src/hooks/useProviderAnalytics.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

add comment for race condition fix
  apps/app/src/hooks/useProviderAnalytics.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

update novocare offers to fit offerBundle shape
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

move out of client (#2500)
  .github/scripts/add-e2e-test-checks.js
  .github/workflows/pr-e2e-tests.yml
  .gitignore
  CLAUDE.md
  apps/app/.env.boson
  apps/app/.env.neutron
  apps/app/.env.photon
  apps/app/.env.tau
  apps/app/README.md
  apps/app/buildspec.yml
  apps/app/codegen.ts
  apps/app/package.json
  apps/app/project.json
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/views/routes/SSOLogin.tsx
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/.env.tau
  apps/patient/README.md
  apps/patient/buildspec.yml
  apps/patient/codegen.ts
  apps/patient/package.json
  apps/patient/project.json
  packages/sdk/.env.boson
  packages/sdk/.env.tau
  packages/sdk/codegen.clinical-api.ts
  packages/sdk/project.json
  packages/sdk/src/auth.ts
Labels: SDK, Patient App, Clinical App

Single med ap promos (#2507)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

update README
  apps/app/README.md
  apps/patient/README.md
Labels: Patient App, Clinical App

only run in boson
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

fix novocare check
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

debugging github token
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

don't dispatch on neutron photon merge
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

Single med ap promos (#2511)
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

rm token echo
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

weird typo
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

branch name can't go in base_url with slashes
  .github/workflows/pr-e2e-tests.yml
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

codebuild workflow dispatch only on boson (#2510)
  .github/workflows/pr-e2e-tests.yml
  apps/app/README.md
  apps/app/buildspec.yml
  apps/patient/README.md
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

add methods to PatientAnalytics interface
  apps/patient/src/configs/analytics.ts
Labels: Patient App

add permission (#2505)
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
