Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fix eslint
  packages/sdk/.eslintrc.json
Labels: SDK

"Reach out to provider" for canceled, "Reach out to support" for 404 (#2016)
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/NoMatch.tsx
Labels: Patient App

minor cleanup
  packages/sdk/src/instrumentation/beforeSend.ts
  packages/sdk/src/instrumentation/index.ts
  packages/sdk/src/instrumentation/initializer.ts
Labels: SDK

no green
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add comment
  packages/sdk/src/instrumentation/initializer.ts
Labels: SDK

test
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

comment
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

Standardize rx writtenAt date between clinical app and sdk components package
  packages/components/src/utils/formatDate.ts
Labels: Components

fix orgId and user; add orgId to embed logs
  apps/app/src/views/routes/Main.tsx
  packages/sdk/src/instrumentation/initializer.ts
  packages/sdk/src/lib.ts
Labels: SDK, Clinical App

Standardize rx writtenAt date between clinical app and sdk components package (#2018)
  packages/components/src/utils/formatDate.ts
Labels: Components

enable price
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

query
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

extract datadog to instrumentation folder
  apps/app/src/index.tsx
  apps/app/src/instrumentation/beforeSendHandler.ts
  apps/app/src/instrumentation/index.ts
Labels: Clinical App

extract datadog function to instrumentation folder
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Add graphql to datadog context
  apps/app/src/index.tsx
  apps/app/src/instrumentation/beforeSendHandler.ts
  apps/app/src/instrumentation/index.ts
Labels: Clinical App

type
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

type
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

test
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

comment
  apps/patient/src/views/Main.tsx
Labels: Patient App

util
  apps/patient/src/utils/isMailOrderPharmacy.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Improve datadog resource logs (#2020)
  apps/app/src/index.tsx
  apps/app/src/instrumentation/beforeSendHandler.ts
  apps/app/src/instrumentation/index.ts
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

test title
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

jake test
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

remove
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

comments
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

comment
  apps/patient/src/views/Review.tsx
Labels: Patient App

metadatas
  apps/patient/src/views/Main.tsx
Labels: Patient App

Switch ready by and pharm select (#2017)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

Allow zepbound 12.5 and 15 ml....
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
Labels: Components

Allow zepbound 12.5 and 15 ml.... (#2025)
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
Labels: Components

Delete unused login components
  packages/elements/src/index.ts
  packages/elements/src/photon-auth-button/index.tsx
  packages/elements/src/photon-auth-button/photon-auth-button.tsx
  packages/elements/src/photon-authenticated/index.ts
  packages/elements/src/photon-authenticated/photon-authenticated-component.tsx
  packages/elements/src/photon-login/index.ts
  packages/elements/src/photon-login/photon-login-component.tsx
  packages/elements/types.d.ts
Labels: Elements

Fix defaultProps error
  apps/app/src/views/components/Auth.tsx
Labels: Clinical App

Remove unused logout code - the org settings query triggered redirection by checking for auth token
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Fix login page auto-redirecting
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Fix e2e test
  apps/app/e2e/auth.setup.ts
Labels: Clinical App

Remove unreachable logout button
  apps/app/src/views/components/Auth.tsx
Labels: Clinical App

Fix login page auto-redirecting (#2029)
  apps/app/e2e/auth.setup.ts
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Add typesafety to auth state
  packages/react/src/provider.tsx
Labels: none

Remove duplicative, erroneous handleRedirect
  packages/react/src/provider.tsx
Labels: none

Fix error being cleared preventing alert from showing
  apps/app/src/views/routes/Main.tsx
  packages/react/src/provider.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
