Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

rm ref for photon-analytics-track-event
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
Labels: Clinical App

photon-client-analytics.test.tsx
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-client/test-utils/test-element-setup.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-diagnosis-codes-prefill.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-screening-alerts.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-card.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
  packages/elements/src/test-utils/stub-google-maps.ts
  packages/sdk/src/test-utils/msw-handlers.ts
Labels: Elements, SDK

pass orderWorkflowId into photon-client
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements, Components

update claude.md with new analytics pattern
  CLAUDE.md
Labels: none

actually these values are used
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
Labels: Clinical App

intercept events in e2e to analytics-api
  apps/app/e2e/utils/analytics_intercept.ts
Labels: Clinical App

pass properties from app to elements
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/views/routes/Main.tsx
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements, Components, Clinical App

promote to e2e tests
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/order-workflow-analytics.test.tsx
Labels: Clinical App

update claude.md
  CLAUDE.md
Labels: none

add try catch, console.error
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/sdk/src/analytics/AnalyticsClient.ts
Labels: SDK, Components

switch to warn, document some edge cases
  packages/components/src/analytics/AnalyticsEventListener.tsx
Labels: Components

another warn
  packages/sdk/src/analytics/AnalyticsClient.ts
Labels: SDK

fix test
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
Labels: Elements

remove dependency from useEffect causing redundant GetPharmaciesByLocation call
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

bump package ver
  packages/elements/package.json
Labels: Elements

rm :8080 mentions
  .graphqlrc.yml
  apps/app/.env.tau
  apps/app/codegen.ts
  apps/patient/.env.tau
  apps/patient/codegen.ts
  packages/sdk/codegen.clinical-api.ts
  packages/sdk/src/test-utils/msw-handlers.ts
  packages/sdk/src/utils.ts
Labels: SDK, Patient App, Clinical App

send photon-analytics-track-events to the analytics api (#2777)
  CLAUDE.md
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/utils/analytics_intercept.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/test-utils/harness.tsx
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/components/src/index.ts
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-client/test-utils/test-element-setup.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-diagnosis-codes-prefill.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-screening-alerts.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-card.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/test-utils/stub-google-maps.ts
  packages/sdk/src/analytics/AnalyticsClient.ts
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/lib.ts
  packages/sdk/src/test-utils/msw-handlers.ts
  packages/sdk/src/utils.ts
Labels: Elements, SDK, Components, Clinical App

rm :8080 mentions (#2781)
  .graphqlrc.yml
  apps/app/.env.tau
  apps/app/codegen.ts
  apps/patient/.env.tau
  apps/patient/codegen.ts
  packages/sdk/codegen.clinical-api.ts
  packages/sdk/src/test-utils/msw-handlers.ts
  packages/sdk/src/utils.ts
Labels: SDK, Patient App, Clinical App

remove dependency from useEffect causing redundant GetPharmaciesByLocation call (#2780)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

upgrade to node 22
  .github/workflows/lint.yml
  .github/workflows/npm-publish-test.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/prettier.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
  packages/elements/index.html
Labels: Elements

test removing matrix from vitest
  .github/workflows/vitest.yml
Labels: none

test upgrading actions/setup-node
  .github/workflows/lint.yml
  .github/workflows/npm-publish-test.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/prettier.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
Labels: none

oops
  packages/elements/index.html
Labels: Elements

test upgrading actions/checkout
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
  .github/workflows/lint.yml
  .github/workflows/merge-bot.yml
  .github/workflows/npm-publish-test.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/prettier.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
Labels: none

upgrade to node 22 (#2784)
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
  .github/workflows/lint.yml
  .github/workflows/merge-bot.yml
  .github/workflows/npm-publish-test.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/prettier.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
Labels: none

add workflow_dispatch
  .github/workflows/npm-publish.yml
Labels: none

test cleaning up publish
  .github/workflows/npm-publish.yml
Labels: none

fix punctuation
  .github/workflows/npm-publish.yml
Labels: none

replace generate-token action
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/merge-bot.yml
Labels: none

update create-pull-request
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
Labels: none

update dependabot/fetch-metadata
  .github/workflows/dependabot-auto-merge.yml
Labels: none

update actions/labeler
  .github/workflows/labeler.yml
Labels: none

update actions/upload-artifact
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/smoke-tests.yml
Labels: none

update actions/github-script
  .github/workflows/add-comment.yml
Labels: none

upgrade more reusable workflows for node 20 deprecation (#2789)
  .github/workflows/add-comment.yml
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/merge-bot.yml
  .github/workflows/pr-e2e-tests.yml
  .github/workflows/smoke-tests.yml
Labels: none

app-id > client-id
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/merge-bot.yml
Labels: none

whitespace change for test
  packages/elements/index.html
Labels: Elements

whitespace change for test (#2792)
  packages/elements/index.html
Labels: Elements

update from v1 > v5 needs additional fetch-depth
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
Labels: none

update from v1 > v5 needs additional fetch-depth (#2793)
  .github/workflows/auto-bump-neutron.yml
  .github/workflows/auto-bump-photon.yml
Labels: none
