Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

handle Clear button edge case
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
Labels: Elements

add comment
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
Labels: Components

hide column when patients have no external ID
  apps/app/src/views/routes/Patients.tsx
Labels: Clinical App

update copy (#2186)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

hide column when patients have no external ID (#2187)
  apps/app/src/views/routes/Patients.tsx
Labels: Clinical App

use nx affected instead of hard-coded projects
  apps/app/project.json
Labels: Clinical App

hide org name if same as provider name
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

use nx affected instead of hard-coded projects (#2190)
  apps/app/project.json
Labels: Clinical App

hide org name if same in settings dropdown
  apps/app/src/views/components/Nav.tsx
Labels: Clinical App

Add new years day holiday warning
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

Hide org name if same as provider name (#2192)
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

rm misc comments
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

rm misc comments (#2194)
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

Add new years day holiday warning (#2193)
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

add dev:tau command
  apps/app/project.json
Labels: Clinical App

mobile hide
  packages/components/src/systems/PatientInfo/index.tsx
Labels: Components

version bump
  packages/components/src/systems/PatientInfo/index.tsx
  packages/elements/package.json
Labels: Elements, Components

Collapse Patient Card on Mobile (#2196)
  packages/components/src/systems/PatientInfo/index.tsx
  packages/elements/package.json
Labels: Elements, Components

copy changes
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements, Components

more order copy
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

"Order" Copy removal from the prescribe Element (#2198)
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

review DNFB date usage
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Prescription.tsx
  packages/components/src/fetch/mutations.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/utils/storybookUtils.ts
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-multirx-form/util/repopulateForm.ts
  packages/sdk/src/clinical/prescription.ts
  packages/sdk/src/fragments.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components, Clinical App

rm effectiveDate fix
  apps/app/src/views/components/FillsSelect.tsx
Labels: Clinical App

do not fill before date fixes (#2185)
  apps/app/project.json
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Prescription.tsx
  package-lock.json
  packages/components/package.json
  packages/components/src/fetch/mutations.ts
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/utils/formatDate.ts
  packages/components/src/utils/storybookUtils.ts
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-gender-input/photon-gender-input-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-multirx-form/util/repopulateForm.ts
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-sex-input/photon-sex-input-component.tsx
  packages/elements/src/photon-state-input/photon-state-input-component.tsx
  packages/elements/src/photon-text-input/photon-text-input-component.tsx
  packages/elements/src/validators/index.ts
  packages/sdk/src/clinical/prescription.ts
  packages/sdk/src/fragments.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components, Clinical App

Add send to patient demo test; fix endless loop
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

fix preloadImage breaking test
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/utils/preloadImage.ts
  apps/patient/src/views/Main.tsx
Labels: Patient App

fix missing token errors in demo
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

reorder form fields to match display
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
Labels: Clinical App

Add send to patient demo test; fix endless loop (#2201)
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/utils/preloadImage.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

clean up existing OrganizationEditForm, add error messages
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
Labels: Clinical App

org phone and fax validation
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
Labels: Clinical App

clean up existing ProfileEditForm
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
Labels: Clinical App

review ProfileEditForm validation
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
Labels: Clinical App

misc cleanup
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
Labels: Clinical App

extract hasPrescriberRole
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/utils/Roles.tsx
Labels: Clinical App

extract phoneRegex
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/utils/Validation.tsx
Labels: Clinical App

extract zipCodeRegex
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationEditForm.tsx
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/utils/Validation.tsx
Labels: Clinical App

sentence case
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

review EditRolesAction
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/utils/Roles.tsx
Labels: Clinical App

bump elements and sdk
  packages/elements/package.json
  packages/sdk/package.json
Labels: Elements, SDK

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
