Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

use patientStore patient instead of fetching
  packages/components/dev/App.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

fix patient undefined possibly PatientInfo
  packages/components/src/systems/PatientInfo/index.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

fix checks
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

keep promotions with full medication cost info in impression
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
Labels: Patient App

rename to match other setupTests
  packages/components/src/setupTests.ts
  packages/components/vite.config.ts
Labels: Components

add setupTests file to elements
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/setupTests.ts
  packages/elements/vite.config.ts
Labels: Elements

reshape to match updated offerBundles endpoint for mixed med pricing (#2536)
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/deliveryPromise.test.ts
  apps/patient/src/utils/deliveryPromise.test.tsx
  apps/patient/src/utils/deliveryPromise.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

Change pharmacy unreachable copy on status page, remove pizza tracker when exception exists
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

render dob next to name on pat search
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

hide the "requested pickup time" section if we're hiding the pizza tracker
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

make the DOB grey
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

Change pharmacy unreachable copy on status page, remove pizza tracker when exception exists (#2538)
  apps/patient/src/components/status/Header.tsx
Labels: Patient App

grey out and space content
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

hide retail for pickup if less than cost
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

hide retail for pickup if less than cost (#2543)
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

console log direct mixpanel analytics too
  apps/patient/src/configs/analytics.ts
Labels: Patient App

console log direct mixpanel analytics too (#2546)
  apps/patient/src/configs/analytics.ts
Labels: Patient App

gotta clean up address
  packages/components/src/index.ts
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/utils/hasUsableAddress.ts
  packages/components/src/utils/orderNeedsPatientAddress.ts
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

fix event name duplicating patient app event
  apps/app/src/views/routes/Order.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: SDK, Clinical App

fix event name duplicating patient app event (#2550)
  apps/app/src/views/routes/Order.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: SDK, Clinical App

wip
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/utils/hasUsableAddress.ts
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.test.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

add date formatting
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

render DoB next to Patient name when searching for patients (#2539)
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

Add button on draft prescriptions
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

rm redundant isEditing state
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements

Revert "Photon: Merge neutron into photon"
  apps/app/src/views/routes/Order.tsx
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Clinical App

fix event name duplicating patient app event (#2550)
  apps/app/src/views/routes/Order.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: SDK, Clinical App

new PatientSelect component
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/systems/PatientSelect.tsx
Labels: Components

replace photon-patient-select with PatientSelect
  packages/components/src/index.ts
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

rm photon-patient-select
  packages/elements/src/index.ts
  packages/elements/src/photon-patient-select/index.ts
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
  packages/elements/src/photon-patient-select/style.css
  packages/elements/types.d.ts
Labels: Elements

Fix gorupDisplay for patient rendering
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

bump version
  packages/elements/package.json
Labels: Elements

revert version
  packages/elements/package.json
Labels: Elements

Fix groupDisplay for patient rendering (#2556)
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

rename setupTests file to match others
  packages/components/src/setupTests.ts
  packages/components/vite.config.ts
Labels: Components

onInitialFetch is clearer intent
  packages/components/src/systems/PatientSelect.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

add tests for PatientSelect
  packages/components/src/systems/PatientSelect.test.tsx
  packages/sdk/src/test-utils/fixtures.ts
Labels: SDK, Components

fix date formatting, misc polish
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/systems/PatientSelect.tsx
Labels: Components

hide change pharmacy reasons for order error
  apps/patient/src/views/Status.tsx
Labels: Patient App

add resolvedAt check
  apps/patient/src/views/Status.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
