Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

review other use of dispatchEvent
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
Labels: Components

add provider to components/App
  packages/components/dev/App.tsx
Labels: Components

fixup
  package-lock.json
  package.json
Labels: none

fixing anoher form-data vuln (#2270)
  package-lock.json
  package.json
Labels: none

bump elements ver
  packages/elements/package.json
Labels: Elements

bump ver
  packages/elements/package.json
Labels: Elements

Refactor how we dispatch photon-draft-prescription-created event to (#2266)
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/SSOLogin.tsx
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  package-lock.json
  package.json
  packages/components/src/index.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/PrescribeWorkflow.stories.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components, Patient App, Clinical App

misc refactor
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

undo usePrescribeOptional changes for some reason
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

rm unused span
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
Labels: Components

move more HTML events into PrescribeEventDispatchProvider (#2271)
  packages/components/dev/App.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

fix tests
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

add error toast
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

prescriptionIds
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

fix props
  packages/components/dev/App.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

move all draft prescription CRUD methods
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

fix whitespace
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

fix provider nesting order
  packages/components/dev/App.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

move more code into DraftPrescriptionsProvider (#2275)
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

fix test
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
Labels: Components

Refactor profile usertab and fix title formatting
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/views/UserTab.tsx
Labels: Clinical App

review props for PrescribeWorkflow
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

theoretical elements vitest setup lol
  packages/components/package.json
  packages/components/setupVitest.js
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockSDKProvider.tsx
  packages/elements/project.json
  packages/elements/vite.config.ts
Labels: Elements, Components

extract createPrefillPrescriptionsOnApi
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

fix warning modal showing even when patient is not chosen
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
Labels: Elements

walkback profile user load refactor
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/views/UserTab.tsx
Labels: Clinical App

Refactor profile usertab and fix title formatting (#2277)
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/views/UserTab.tsx
Labels: Clinical App

PrescribeProvider refactor (#2276)
  packages/components/dev/App.tsx
  packages/components/package.json
  packages/components/setupVitest.js
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockSDKProvider.tsx
  packages/elements/package.json
  packages/elements/project.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/PrescribeWorkflow.stories.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/vite.config.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components

fix edit not triggering draft deleted event
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

fix edit not triggering draft deleted event (#2279)
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

new package-lock.json
  package-lock.json
Labels: none

temporarily set to HEAD~2
  .github/workflows/npm-publish.yml
Labels: none

Revert "new package-lock.json"
  package-lock.json
Labels: none

Revert "fixing anoher form-data vuln (#2270)"
  package-lock.json
  package.json
Labels: none

Revert "one more vuln fix (#2264)"
  package-lock.json
  package.json
Labels: none

Revert "fixing critical vuln (#2260)"
  package-lock.json
  package.json
Labels: none

elements ver update
  package-lock.json
Labels: none

revert package vulnerability updates so publish job can run (#2281)
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
Labels: none

edit action
  .github/workflows/npm-publish.yml
Labels: none

Revert "fixin form-data dependency (#2248)"
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
