Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

walmart mail order id empyt for now
  apps/patient/.env.boson
  packages/settings/src/pharmacies.ts
Labels: Settings, Patient App

Bump version
  packages/elements/package.json
Labels: Elements

Add catalog params to photon-prescribe-workflow (#1427)
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/stores/catalog.ts
Labels: Elements

add overnight shipping to walmart
  apps/patient/src/components/BrandedPharmacyCard.tsx
Labels: Patient App

allow ready to merge label
  .github/workflows/merge-bot.yml
Labels: none

circular logos, walmart id
  apps/patient/.env.boson
  apps/patient/src/assets/cost_plus_logo_small.webp
  apps/patient/src/assets/cost_plus_logo_small_1.svg
  apps/patient/src/assets/cost_plus_logo_small_circle.svg
  apps/patient/src/assets/walmart_logo_small_circle.svg
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  packages/settings/src/pharmacies.ts
Labels: Settings, Patient App

neutron env vars
  apps/patient/.env.neutron
  apps/patient/.env.photon
  packages/settings/src/lib/neutron.ts
Labels: Settings, Patient App

allow ready to merge label (#1431)
  .github/workflows/merge-bot.yml
Labels: none

Enable mail order options for Sana Care (#1428)
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/src/assets/cost_plus_logo_small_circle.svg
  apps/patient/src/assets/walmart_logo_small.jpg
  apps/patient/src/assets/walmart_logo_small_circle.svg
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, Patient App

fix bug, cleanup ui
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

fix bug, cleanup ui (#1433)
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

fix missing mail order option for sana
  apps/patient/.env.photon
Labels: Patient App

fix amazon pharmacy missing for Sana
  apps/patient/.env.photon
Labels: Patient App

fix amazon pharmacy missing for Sana (#1436)
  apps/patient/.env.photon
Labels: Patient App

tel in faq
  apps/patient/src/components/FAQ.tsx
Labels: Patient App

tel in faq (#1430)
  apps/patient/src/components/FAQ.tsx
Labels: Patient App

Add healthwarehouse to Photon test org selector
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

Add healthwarehouse to Photon test org selector (#1439)
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

Add Neutron config for berrystreet
  packages/settings/src/lib/neutron.ts
Labels: Settings

adding modal
  packages/components/src/index.ts
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/index.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

remove showing all pharmacies, button cleanup
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

make distance search first
  apps/patient/src/views/Pharmacy.tsx
  package-lock.json
Labels: Patient App

update query
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements, Clinical App

add new exception types
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

add new exception types (#1443)
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

const
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add Neutron config for berrystreet (#1441)
  packages/settings/src/lib/neutron.ts
Labels: Settings

Test: Swap Cash Price with Distance search (#1445)
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  package-lock.json
Labels: Patient App

discount card polishing
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update cash price displayed action
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Discount card test follow-up (#1446)
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements, Clinical App

update
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
Labels: Clinical App

copay
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

copay
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

search treatmnets
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements, Clinical App

type
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

version
  packages/elements/package.json
Labels: Elements

Update Treatments query (#1442)
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements, Clinical App

fixup
  apps/app/src/gql/graphql.ts
  packages/components/src/particles/Banner/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
Labels: Components, Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
