Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

update lock
  README.md
  package-lock.json
Labels: none

lint fix
  apps/app/src/__test__/test-utils.tsx
  apps/app/src/configs/theme.ts
  apps/app/src/gql/fragment-masking.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/gql/index.ts
  apps/app/src/hooks/useIsIntersecting.ts
  apps/app/src/hooks/usePrevious.ts
  apps/app/src/stores/alert.ts
  apps/extension/project.json
Labels: Clinical App, Extension

build and tsc
  apps/extension/project.json
Labels: Extension

pnpm
  .github/workflows/type-check.yml
Labels: none

fix
  .github/workflows/type-check.yml
Labels: none

add additional counsel provider
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

add additional counsel provider (#1358)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

ws for build
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

ws for rebuild
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

plasmo install
  package-lock.json
  package.json
Labels: none

what
  .github/workflows/type-check.yml
  pnpm-lock.yaml
Labels: none

quantity must be positive, but can be less than one
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

bump elements version
  packages/elements/package.json
Labels: Elements

quantity must be positive, but can be less than one (#1362)
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

import sorting, coupon modal
  .prettierrc
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Pharmacy.tsx
  package-lock.json
  package.json
Labels: Patient App

additional med search testers
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

additional med search testers (#1365)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

modal styling
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

ui polishing
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

modal ui polishing
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

wire up to data
  apps/patient/src/api/internal.ts
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

coupon details section
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

slight model change
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

Update order page to use correct address (#1347)
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Update costco logic to always show instead of just for GLP1 orders
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add ognomy provider to new med search users
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

bump elements version
  packages/elements/package.json
Labels: Elements

Update costco logic to always show instead of just for GLP1 orders (#1369)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove import sorting
  .prettierrc
  package.json
Labels: none

Add Ognomy provider to new med search users (#1370)
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

small field matching
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/utils/models.ts
Labels: Patient App

Fix stutter with mail order
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Swap mail order logic to just hide mail orders if we're showing costco
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix stutter with mail order (#1371)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove dependency on the sdk
  apps/patient/package.json
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

codegen and lots of types fixes
  .gitignore
  apps/patient/codegen.ts
  apps/patient/project.json
  apps/patient/src/api/internal.ts
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/configs/graphqlClient.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Status.tsx
  package-lock.json
  package.json
Labels: Patient App

enable watch mode
  apps/patient/project.json
  apps/patient/src/graphql/queries.ts
  package.json
Labels: Patient App

codegen before prettier
  .github/workflows/prettier.yml
Labels: none

ignore generated files
  .eslintignore
  .prettierignore
Labels: none

prettier
  apps/patient/src/utils/general.ts
Labels: Patient App
