Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

rm datadog from claude.md
  CLAUDE.md
Labels: none

rm from buildspec
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Patient App, Clinical App

rm console.warn
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

rm __COMMIT_HASH__
  apps/app/src/globals.d.ts
  apps/app/vite.config.ts
  apps/patient/src/globals.d.ts
  apps/patient/vite.config.mts
  eslint.config.mjs
Labels: Patient App, Clinical App

rm sourcemap
  apps/app/vite.config.ts
  apps/patient/vite.config.mts
Labels: Patient App, Clinical App

rm 8080 from analytics api tau
  CLAUDE.md
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
  packages/sdk/src/test-utils/msw-handlers.ts
  packages/sdk/src/utils.ts
Labels: Elements, SDK

remove datadog RUM session wiring (#2818)
  CLAUDE.md
  apps/app/buildspec.yml
  apps/app/src/globals.d.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/index.tsx
  apps/app/src/instrumentation/beforeSendHandler.ts
  apps/app/src/instrumentation/index.ts
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
  apps/app/src/setupTests.ts
  apps/app/src/views/components/ContactView.tsx
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/components/UserProfile.tsx
  apps/app/src/views/routes/NewOrder/components/PatientCard.tsx
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/SSOLogin.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/users/UserItem.tsx
  apps/app/vite.config.ts
  apps/patient/buildspec.yml
  apps/patient/src/globals.d.ts
  apps/patient/vite.config.mts
  eslint.config.mjs
  package-lock.json
  package.json
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/utils/dispatchDatadogAction.ts
Labels: Components, Patient App, Clinical App

rm 8080 from analytics api tau (#2819)
  CLAUDE.md
  packages/elements/src/photon-client/photon-client-analytics.test.tsx
  packages/sdk/src/test-utils/msw-handlers.ts
  packages/sdk/src/utils.ts
Labels: Elements, SDK

if no order address, use patient address
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

if no order address, use patient address (#2825)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add analytics types
  CLAUDE.md
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: SDK

fix reactivity so analytics fire correctly
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
Labels: Components

more analytics
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: SDK, Components

remove derived isAutoRouted
  packages/components/src/systems/PharmacySelect/PharmacySelectionProvider.tsx
  packages/components/src/systems/TestMocks/MockPharmacySelectionProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

fix submitting order with no selected pharmacy
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements

adding additional events to prescriber app selection
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App

ifixup
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App

Change webhook event from 'patient:order:rerouted' to 'photon:order:rerouted'
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App

normalize Field Interaction event shape
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Components

Update WebhooksForm.tsx
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App

Fix formatting of GraphQL mutation declaration
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App

misc edit
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: SDK, Components

a few more analytics on the Pharmacy card (#2827)
  CLAUDE.md
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelectionProvider.tsx
  packages/components/src/systems/TestMocks/MockPharmacySelectionProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/sdk/src/analytics/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Components

adding additional events to prescriber app selection (#2828)
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App

initial fix
  packages/elements/src/photon-medication-search/excludeCatalogDuplicates.test.ts
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

refactor
  packages/elements/src/photon-medication-search/excludeCatalogDuplicates.test.ts
  packages/elements/src/photon-medication-search/photon-medication-search-component.test.ts
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

naming refactor
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

bump elements version
  packages/elements/package.json
Labels: Elements

Fix disable list duplicate meds (#2831)
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.test.ts
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

Init slop
  apps/app/src/queries/clinical-api/index.ts
  apps/app/src/queries/clinical-api/invites.ts
  apps/app/src/views/routes/SelectOrg.test.tsx
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

Dedupe by join org and ID
  apps/app/src/views/routes/SelectOrg.test.tsx
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

Select Org
  apps/app/src/views/routes/SelectOrg.test.tsx
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

Feature... Flagged
  apps/app/src/configs/featureFlags.ts
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useFeatureFlag.ts
  apps/app/src/setupTests.ts
  apps/app/src/test-utils/harness.tsx
  apps/app/src/views/routes/SelectOrg.test.tsx
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

comment
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

update button
  apps/app/src/views/routes/SelectOrg.test.tsx
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

comment for CI
  apps/app/src/views/routes/SelectOrg.test.tsx
Labels: Clinical App

Add invites to the existing select org page in the clinical app (#2835)
  apps/app/src/configs/featureFlags.ts
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useFeatureFlag.ts
  apps/app/src/queries/clinical-api/index.ts
  apps/app/src/queries/clinical-api/invites.ts
  apps/app/src/setupTests.ts
  apps/app/src/test-utils/harness.tsx
  apps/app/src/views/routes/SelectOrg.test.tsx
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

Remove double login for doximity
  apps/app/src/views/routes/SelectOrg.test.tsx
  package-lock.json
  packages/components/src/analytics/AnalyticsEventListener.tsx
  packages/components/src/store.ts
  packages/elements/package.json
Labels: Elements, Components, Clinical App

flip invites
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

remove hardcoded amazon and novocare offers; wire up new offerBundles fields; new offerPlacement util;
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/utils/offerPlacement.test.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App
