Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

rename another var
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

set up order routing history query from clinical-api
  apps/app/codegen.ts
  apps/app/src/queries/clinical-api/index.ts
  apps/app/src/queries/clinical-api/orders.ts
  apps/app/src/queries/index.ts
Labels: Clinical App

only show "next steps" for AP (#2678)
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Add slightly more graceful error handling in catalog treatment search
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

Handle order status page copy when sent to patient to reroute
  apps/app/src/queries/clinical-api/orders.ts
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Skip change pharmacy reasons dialog when patient is in STP reroute
  apps/patient/src/views/Status.tsx
Labels: Patient App

Parameterize whether or not we display recent/preferred/covered pharmacy in the send to patient tab
  apps/app/src/views/components/RerouteOrderButton.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
Labels: Elements, Components, Clinical App

extract reroute order mutation to its own react hook
  apps/app/src/views/components/RerouteOrderButton.tsx
Labels: Clinical App

Gate reroute order button by update/write/reroute order permissions
  apps/app/src/hooks/usePermissions.ts
  apps/app/src/views/routes/Order.tsx
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

Fill in tracking for reroute order button actions
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/views/components/RerouteOrderButton.tsx
Labels: Clinical App

fetch pharmacy name for tracking on confirmation
  apps/app/src/views/components/RerouteOrderButton.tsx
Labels: Clinical App

Fix reroute selector value for tracking
  apps/app/src/views/components/RerouteOrderButton.tsx
Labels: Clinical App

add treatment id in order fetching
  apps/app/src/queries/lambda-api/orders.ts
Labels: Clinical App

selector type UNKNOWN as default
  apps/app/src/views/components/RerouteOrderButton.tsx
Labels: Clinical App

max out combobx z index so it's always visible
  packages/components/src/particles/ComboBox/index.tsx
Labels: Components

also show next steps with created fulfillment status
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

raw string supervisor prop
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

show next steps for "SENT" AND "CREATED" fulfillment status (#2682)
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

Initial reroute order button test
  apps/app/src/views/components/RerouteOrderButton.test.tsx
  apps/app/src/views/components/RerouteOrderButton.tsx
Labels: Clinical App

add clinical app component test fixtures and harness to use in reroute button component test
  apps/app/src/setupTests.ts
  apps/app/src/test-utils/fixtures.ts
  apps/app/src/test-utils/harness.tsx
  apps/app/src/test-utils/index.ts
  apps/app/src/views/components/RerouteOrderButton.test.tsx
Labels: Clinical App

add comment around new codegen stuff
  apps/app/codegen.ts
Labels: Clinical App

Clarifying comment to explain what `inferSendToPatientPharmacy` means
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
Labels: Components

initial input validation
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/graphql/clinical-api/mutation.ts
Labels: Elements, SDK, Components

Add slightly more graceful error handling in catalog treatment search (#2679)
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

sticky header and footer in reroute order modal
  apps/app/src/views/components/Dialog.tsx
  apps/app/src/views/components/RerouteOrderButton.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
Labels: Elements, Components, Clinical App

fix org id read off of user
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

add unit tests
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
Labels: Elements

move identify call to after order is loaded and we have patient id
  apps/patient/src/views/Main.tsx
Labels: Patient App

Bump graphql for services api compat
  package-lock.json
  package.json
Labels: none

Bump graphql for services api compat (#2688)
  package-lock.json
  package.json
Labels: none

move identify call to after order is loaded and we have patient id (#2687)
  apps/patient/src/views/Main.tsx
Labels: Patient App

Hide "save preferred pharmacy" checkbox in the reroute modal local pickup tab
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
Labels: Elements, Components

implement tests
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
Labels: Elements

Provider side reroutes (#2680)
  apps/app/codegen.ts
  apps/app/src/App.tsx
  apps/app/src/hooks/usePermissions.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/mutations/clinical-api/index.ts
  apps/app/src/mutations/clinical-api/orders.ts
  apps/app/src/mutations/index.ts
  apps/app/src/queries/clinical-api/index.ts
  apps/app/src/queries/clinical-api/orders.ts
  apps/app/src/queries/index.ts
  apps/app/src/queries/lambda-api/index.ts
  apps/app/src/queries/lambda-api/orders.ts
  apps/app/src/queries/lambda-api/pharmacies.ts
  apps/app/src/setupTests.ts
  apps/app/src/test-utils/fixtures.ts
  apps/app/src/test-utils/harness.tsx
  apps/app/src/test-utils/index.ts
  apps/app/src/views/components/Dialog.tsx
  apps/app/src/views/components/RerouteOrderButton.test.tsx
  apps/app/src/views/components/RerouteOrderButton.tsx
  apps/app/src/views/routes/Order.tsx
  apps/patient/src/views/Status.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/systems/PharmacySearch/MailOrderPharmacySearch.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/utils/getScrollAncestors.ts
  packages/elements/src/index.ts
  packages/elements/src/photon-pharmacy-select/index.ts
  packages/elements/src/photon-pharmacy-select/photon-pharmacy-select.tsx
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components, Patient App, Clinical App

refactor to supervisor provider pattern
  packages/components/src/index.ts
  packages/components/src/systems/SupervisorProvider/SupervisorProvider.tsx
  packages/components/src/systems/SupervisorProvider/index.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

WIP: refactor supervisor structure; need tests
  packages/components/src/index.ts
  packages/components/src/systems/SupervisorProvider/SupervisorProvider.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/sdk/src/test-utils/msw-handlers.ts
Labels: Elements, SDK, Components

Improve error message
  packages/components/src/systems/SupervisorProvider/SupervisorProvider.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
Labels: Elements, Components

fix object/string conversion by solid element
  packages/components/src/index.ts
  packages/components/src/systems/SupervisorProvider/SupervisorProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
Labels: Elements, Components

bump package json
  packages/elements/package.json
Labels: Elements

bonus: increase Send button width for mobile
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
