Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Fix for rotate secret temporary error
  apps/app/src/views/routes/Settings/components/client-credentials/ClientInfoCard.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/RotateSecret.tsx
Labels: Clinical App

Fix for rotate secret temporary error (#2839)
  apps/app/src/views/routes/Settings/components/client-credentials/ClientInfoCard.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/RotateSecret.tsx
Labels: Clinical App

update labour day date
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

Fix autoroute pharmacy selection showing bad errors
  packages/components/src/systems/PharmacySelect/PharmacySelectionProvider.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/prescribe-workflow-pharmacy-selection.test.tsx
Labels: Elements, Components

Fix autoroute pharmacy selection showing bad errors (#2845)
  packages/components/src/systems/PharmacySelect/PharmacySelectionProvider.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/prescribe-workflow-pharmacy-selection.test.tsx
Labels: Elements, Components

update labour day date (#2844)
  apps/patient/src/components/HolidayAlert.tsx
Labels: Patient App

fix ordinal positioning between offers and tabs; add TESTS
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/utils/offers.test.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.test.ts
Labels: Patient App

show webhook IDs
  apps/app/src/views/routes/Settings/components/webhooks/WebhookItem.tsx
  apps/app/src/views/routes/Settings/components/webhooks/Webhooks.test.tsx
  apps/app/src/views/routes/Settings/components/webhooks/Webhooks.tsx
Labels: Clinical App

show webhook IDs (#2851)
  apps/app/src/views/routes/Settings/components/webhooks/WebhookItem.tsx
  apps/app/src/views/routes/Settings/components/webhooks/Webhooks.test.tsx
  apps/app/src/views/routes/Settings/components/webhooks/Webhooks.tsx
Labels: Clinical App

type renaming
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/utils/offerPlacement.test.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.test.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.test.ts
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

renaming types one last time
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/utils/offerPlacement.test.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.test.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/pharmacy.utils.test.ts
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fix tests
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerPlacement.test.ts
Labels: Patient App

removing hardcoded offer work (#2838)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/data/demoOffers.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/utils/offerPlacement.test.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.test.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/pharmacy.utils.test.ts
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

wire pickup cards to use logo from pharmacy record not assets
  apps/patient/src/utils/general.ts
Labels: Patient App

wire pickup cards to use logo from pharmacy record not assets (#2857)
  apps/patient/src/utils/general.ts
Labels: Patient App

wire up uk offers and placement logic
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/utils/offerPlacement.test.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update tests
  apps/patient/src/utils/offerPlacement.test.ts
Labels: Patient App

move around tag placement and rename preferred pharmacy
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/utils/text.tsx
Labels: Patient App

offer card updates
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.test.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacy-card/SetPreferredPharmacyFooter.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/general.test.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fix tests
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/utils/general.test.ts
Labels: Patient App

Bump dependencies for vulns
  package-lock.json
  package.json
Labels: none

remove amazon from UK test case
  apps/patient/src/utils/offerPlacement.test.ts
Labels: Patient App

add types to mocks, remove analytics from nx config
  nx.json
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
  packages/components/src/systems/TestMocks/MockSDKProvider.tsx
  packages/elements/src/test-utils/createTestClient.ts
Labels: Elements, Components

Update offer pharmacy cards (#2860)
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.test.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacy-card/SetPreferredPharmacyFooter.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/general.test.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/utils/offerPlacement.test.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

Bump dependencies for vulns (#2861)
  nx.json
  package-lock.json
  package.json
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
  packages/components/src/systems/TestMocks/MockSDKProvider.tsx
  packages/elements/src/test-utils/createTestClient.ts
Labels: Elements, Components

Initial
  apps/app/src/App.tsx
  apps/app/src/views/routes/Link/LinkConfirmation.test.tsx
  apps/app/src/views/routes/Link/LinkConfirmation.tsx
  apps/app/src/views/routes/Link/index.ts
Labels: Clinical App

Init
  apps/app/src/App.tsx
  apps/app/src/configs/auth.ts
  apps/app/src/views/routes/Link/LinkConfirmation.test.tsx
  apps/app/src/views/routes/Link/LinkConfirmation.tsx
Labels: Clinical App

Add Vite for Auth API
  apps/app/buildspec.yml
  apps/app/src/configs/auth.ts
Labels: Clinical App

Fix test
  apps/app/src/views/routes/Link/LinkConfirmation.test.tsx
Labels: Clinical App

bump for CI
  apps/app/src/views/routes/Link/LinkConfirmation.test.tsx
Labels: Clinical App

Expose link confirmation page on the Clinical App (#2864)
  apps/app/buildspec.yml
  apps/app/src/App.tsx
  apps/app/src/configs/auth.ts
  apps/app/src/views/routes/Link/LinkConfirmation.test.tsx
  apps/app/src/views/routes/Link/LinkConfirmation.tsx
  apps/app/src/views/routes/Link/index.ts
Labels: Clinical App

init client side
  .claude/launch.json
  .prettierignore
  apps/app/codegen.network-api.ts
  apps/app/project.json
  apps/app/src/App.tsx
  apps/app/src/network-api/client.ts
  apps/app/src/network-api/documents.ts
  apps/app/src/network-api/gql/gql.ts
  apps/app/src/network-api/gql/graphql.ts
  apps/app/src/network-api/gql/index.ts
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/Requests/RequestDetail.tsx
  apps/app/src/views/routes/Requests/Requests.test.tsx
  apps/app/src/views/routes/Requests/index.tsx
  apps/app/src/views/routes/Requests/requests.test.ts
  apps/app/src/views/routes/Requests/requests.ts
  apps/app/src/views/routes/Requests/testFixtures.ts
  apps/app/vite.config.ts
Labels: Clinical App

more fe
  apps/app/codegen.network-api.ts
  apps/app/project.json
  apps/app/src/App.tsx
  apps/app/src/network-api/documents.ts
  apps/app/src/network-api/gql/gql.ts
  apps/app/src/network-api/gql/graphql.ts
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/Requests/AskPatientDrawer.tsx
  apps/app/src/views/routes/Requests/RequestDetail.tsx
  apps/app/src/views/routes/Requests/Requests.test.tsx
  apps/app/src/views/routes/Requests/components.tsx
  apps/app/src/views/routes/Requests/index.tsx
  apps/app/src/views/routes/Requests/requests.test.ts
  apps/app/src/views/routes/Requests/requests.ts
  apps/app/src/views/routes/Requests/suggestedQuestions.ts
  apps/app/src/views/routes/Requests/testFixtures.ts
  apps/app/vite.config.ts
Labels: Clinical App

minor
  .claude/launch.json
Labels: none

hack
  .npmrc
  apps/patient/src/Routes.tsx
  apps/patient/src/intake/README.md
  apps/patient/src/intake/__tests__/intake.test.tsx
  apps/patient/src/intake/api/client.ts
  apps/patient/src/intake/api/order.ts
  apps/patient/src/intake/api/patient.test.ts
  apps/patient/src/intake/api/patient.ts
  apps/patient/src/intake/api/prescription.test.ts
  apps/patient/src/intake/api/prescription.ts
  apps/patient/src/intake/api/types.ts
  apps/patient/src/intake/components/CodeInput.tsx
  apps/patient/src/intake/components/Layout.tsx
  apps/patient/src/intake/components/pharmacyCardProps.ts
  apps/patient/src/intake/components/pharmacyDetails.ts
  apps/patient/src/intake/conditions/ella.ts
  apps/patient/src/intake/conditions/glp1.ts
  apps/patient/src/intake/conditions/index.ts
  apps/patient/src/intake/conditions/types.ts
  apps/patient/src/intake/intake.css
  apps/patient/src/intake/routes.tsx
  apps/patient/src/intake/screens/Eligibility.tsx
  apps/patient/src/intake/screens/HealthHistory.tsx
  apps/patient/src/intake/screens/Landing.tsx
  apps/patient/src/intake/screens/MedicationChoice.tsx
  apps/patient/src/intake/screens/NewProfile.tsx
  apps/patient/src/intake/screens/PharmacySelect.tsx
  apps/patient/src/intake/screens/RxPreview.tsx
  apps/patient/src/intake/screens/Submitted.tsx
  apps/patient/src/intake/screens/Unresolved.tsx
  apps/patient/src/intake/screens/VerifyCode.tsx
  apps/patient/src/intake/screens/VerifyDetails.tsx
  apps/patient/src/intake/screens/VerifyPhone.tsx
  apps/patient/src/intake/screens/WelcomeBack.tsx
  apps/patient/src/intake/screens/ZipEntry.tsx
  apps/patient/src/intake/state/IntakeContext.tsx
  package-lock.json
  package.json
Labels: Patient App

showing multiple prices on one pharmacy card
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.test.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/coupons/CouponCardList.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacy-card/PaymentOptions.tsx
  apps/patient/src/components/status/WaysToPay.tsx
  apps/patient/src/utils/discountCards.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/utils/offerPlacement.test.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.test.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

add new tests for tracking impressions
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
Labels: Patient App

pick an offer to represent the pharmacy card bc current ui doesn't handle multiple offers
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.test.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding ways to pay to pharmacy selected and pharmacy selection submitted
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

showing multiple prices on one pharmacy card (#2866)
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.test.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/coupons/CouponCardList.tsx
  apps/patient/src/components/mail-order-select/MailOrderSelectList.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacy-card/PaymentOptions.tsx
  apps/patient/src/components/status/WaysToPay.tsx
  apps/patient/src/utils/discountCards.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/offerAnalytics.test.ts
  apps/patient/src/utils/offerAnalytics.ts
  apps/patient/src/utils/offerPlacement.test.ts
  apps/patient/src/utils/offerPlacement.ts
  apps/patient/src/utils/offers.test.ts
  apps/patient/src/utils/offers.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.test.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
