Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

disable on tau (#2376)
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

improve spacing around inputs and button to handle error text popin
  packages/components/src/particles/InputGroup/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

Dose calculator uses Select instead of combobox
  packages/components/src/systems/DoseCalculator/DoseCalculator.test.tsx
  packages/components/src/systems/DoseCalculator/components/UnitSelect.tsx
Labels: Components

bump elements version
  packages/elements/package.json
Labels: Elements

wip
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

add e2e test for adding a draft
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App

Refactor prescription form (#2375)
  apps/app/e2e/create_prescription.spec.ts
  packages/components/src/index.ts
  packages/components/src/particles/Card/index.tsx
  packages/components/src/particles/Checkbox/index.tsx
  packages/components/src/particles/DispenseUnitSelect/index.tsx
  packages/components/src/particles/GenderSelect/index.tsx
  packages/components/src/particles/InputGroup/InputGroup.stories.tsx
  packages/components/src/particles/InputGroup/index.tsx
  packages/components/src/particles/Select/index.tsx
  packages/components/src/particles/SexSelect/index.tsx
  packages/components/src/particles/SmartTooltip/index.tsx
  packages/components/src/particles/StateSelect/index.tsx
  packages/components/src/particles/Textarea/index.tsx
  packages/components/src/systems/DoseCalculator/DoseCalculator.test.tsx
  packages/components/src/systems/DoseCalculator/components/UnitSelect.tsx
  packages/elements/package.json
  packages/elements/src/index.ts
  packages/elements/src/photon-checkbox/index.ts
  packages/elements/src/photon-checkbox/photon-checkbox-component.tsx
  packages/elements/src/photon-datepicker/formatDate.ts
  packages/elements/src/photon-datepicker/index.ts
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-datepicker/style.css
  packages/elements/src/photon-dispense-units/index.ts
  packages/elements/src/photon-dispense-units/photon-dispense-units-component.tsx
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-number-input/index.ts
  packages/elements/src/photon-number-input/photon-number-input-component.tsx
  packages/elements/src/photon-number-input/style.css
  packages/elements/src/photon-text-input/index.ts
  packages/elements/src/photon-text-input/photon-text-input-component.tsx
  packages/elements/src/photon-text-input/style.css
  packages/elements/src/photon-textarea/index.ts
  packages/elements/src/photon-textarea/photon-textarea-component.tsx
  packages/elements/src/photon-textarea/style.css
  packages/elements/types.d.ts
Labels: Elements, Components, Clinical App

add edit and delete test for adding a draft
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App

add edit and delete test for adding a draft
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App

add inputmode for better mobile keyboards
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

add edit and delete test for adding a draft (#2377)
  apps/app/e2e/create_prescription.spec.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Clinical App

WIP: need to test this first draft of analytics
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/components/src/index.ts
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components, Clinical App

Add test prefix to table
  apps/app/src/hooks/useProviderAnalytics.tsx
Labels: Clinical App

fix string
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

fix page load analytics
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Clinical App

rename alert count
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Clinical App

move field interactions to blur
  packages/components/src/particles/Textarea/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

blur interaction for dispense unit
  packages/components/src/particles/DispenseUnitSelect/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

initial setup with one query
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/sdk/codegen.clinical-api.ts
  packages/sdk/package.json
  packages/sdk/project.json
  packages/sdk/src/graphql/clinical-api/gql/fragment-masking.ts
  packages/sdk/src/graphql/clinical-api/gql/gql.ts
  packages/sdk/src/graphql/clinical-api/gql/graphql.ts
  packages/sdk/src/graphql/clinical-api/gql/index.ts
  packages/sdk/src/graphql/clinical-api/query.ts
  packages/sdk/src/lib.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK

git ignore generated files
  packages/sdk/.gitignore
  packages/sdk/src/graphql/clinical-api/gql/fragment-masking.ts
  packages/sdk/src/graphql/clinical-api/gql/gql.ts
  packages/sdk/src/graphql/clinical-api/gql/graphql.ts
  packages/sdk/src/graphql/clinical-api/gql/index.ts
Labels: SDK

.gitignore was the key lol
  packages/sdk/project.json
Labels: SDK

move SearchTreatmentOptionsQuery into query.ts
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
Labels: Elements, SDK

add context in claude.md
  CLAUDE.md
Labels: none

fix schema url
  packages/sdk/codegen.clinical-api.ts
Labels: SDK

more misc cleanup
  CLAUDE.md
  packages/sdk/src/types.ts
Labels: SDK

setup e2e test for rx form analytics
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/utils/analytics_expect.ts
  apps/app/e2e/utils/analytics_intercept.ts
Labels: Clinical App

more cleanup
  CLAUDE.md
  packages/sdk/project.json
Labels: SDK

fix unit test
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/TestMocks/MockPrescribeEventDispatchProvider.tsx
Labels: Components

rename refillsInput to refills for consistency
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/util/clearForm.ts
  packages/elements/src/photon-multirx-form/util/repopulateForm.ts
Labels: Elements, Components

cleanup naming and fix some issues
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/components/src/index.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Components, Clinical App

refactor analytics asserts
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/utils/analytics_expect.ts
Labels: Clinical App

add source for draft, fix default fulfillment type
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components, Clinical App

add combine order analytics
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Components, Clinical App

adding therapeutic classifcations and brand/generic names to analytics metrics
  apps/patient/src/configs/analytics.ts
  apps/patient/src/graphql/queries.ts
Labels: Patient App

fixup
  apps/patient/src/graphql/queries.ts
Labels: Patient App

better name for patient change, some minor refactor
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK, Clinical App

fix patient event not tracked; rename source
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: SDK, Components, Clinical App

add analytic for provider selecting pharmacy; remove test_ prefix
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

remove test_ prefix
  apps/app/e2e/utils/analytics_intercept.ts
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

fix label
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App
