Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

ifixup
  packages/components/src/index.ts
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
Labels: Components

fixup
  packages/components/src/systems/DraftPrescriptions/index.tsx
Labels: Components

fixup
  packages/components/src/systems/DraftPrescriptions/index.tsx
Labels: Components

fix divider
  packages/components/src/particles/Card/index.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

missing dividers
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

missed
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

swap distance with cash price
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

swap distance with cash price (#1451)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

draft created event
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

bump
  packages/elements/package.json
Labels: Elements

Add Event when adding a Draft Prescription (#1454)
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

fixup
  packages/components/src/particles/Banner/index.tsx
Labels: Components

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
Labels: Components

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

applying roch suggesto
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fixup
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
Labels: Components

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
Labels: Components

fixup
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fixup
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

add pa exception messages by organization
  packages/settings/src/lib/photon.ts
Labels: Settings

fixup
  apps/app/src/gql/graphql.ts
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
Labels: Components, Clinical App

update default paExceptionMessage
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
Labels: Components

add type description
  packages/settings/src/types.ts
Labels: Settings

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
Labels: Components

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
Labels: Components

add pa exception messages by organization (#1456)
  apps/patient/src/components/order-summary/OrderSummary.tsx
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings, Patient App

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
Labels: Components

bump ts
  .nvmrc
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/index.tsx
  package-lock.json
  package.json
Labels: Clinical App

bump nx 16
  .nx/workspace-data/d/daemon.log
  .nx/workspace-data/nx_files.nxt
  migrations.json
  package.json
Labels: none

bump nx 17
  .nx/workspace-data/d/daemon.log
  .nx/workspace-data/nx_files.nxt
  migrations.json
  package.json
Labels: none

bump nx 18
  .nx/workspace-data/d/daemon.log
  migrations.json
  package.json
Labels: none

bump nx 19
  .nx/workspace-data/d/daemon.log
  migrations.json
  package.json
Labels: none

fixup
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

removing things
  .nx/workspace-data/7FCDC050-A938-52D4-A8B4-79F5E47E0AC8.db
  .nx/workspace-data/7FCDC050-A938-52D4-A8B4-79F5E47E0AC8.db-shm
  .nx/workspace-data/7FCDC050-A938-52D4-A8B4-79F5E47E0AC8.db-wal
  .nx/workspace-data/d/daemon.log
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  apps/app/src/gql/fragment-masking.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/gql/index.ts
  apps/app/src/views/components/AdvancedDrugSearch.tsx
  apps/app/src/views/components/NavButton.tsx
  apps/app/src/views/components/RadioCardGroup.tsx
  apps/app/src/views/components/TicketModal.tsx
  apps/app/src/views/routes/Settings/components/TreatmentForm.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentForm.tsx
  apps/patient/src/utils/fulfillmentsHelpers.ts
  apps/patient/src/utils/general.ts
  package-lock.json
Labels: Patient App, Clinical App

fixup
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
Labels: Components

fixup
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements
