Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fix refill count
  apps/patient/src/components/prescription-summary/FillSummary.tsx
Labels: Patient App

collapse multimed display into one box of prescription titles
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
  apps/patient/src/components/prescription-summary/index.ts
Labels: Patient App

hide retail price on coupon card
  apps/patient/src/components/coupons/EmbeddedCouponCard.tsx
  apps/patient/src/components/coupons/ExternalLinkCouponCard.tsx
Labels: Patient App

Mask PHI
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
Labels: Patient App

mask for dd rum too just in case
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
Labels: Patient App

hide retail price on coupon card (#2576)
  apps/patient/src/components/coupons/EmbeddedCouponCard.tsx
  apps/patient/src/components/coupons/ExternalLinkCouponCard.tsx
Labels: Patient App

fix feature flag mocking in tests
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Status.test.tsx
Labels: Patient App

Remove FeatureFlag enum. use string literal union type for flag keys
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix width constraint of prescription summary section
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Experiment -- Remove "Review Your Prescriptions" Page in Patient Flow (#2573)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
  apps/patient/src/components/prescription-summary/index.ts
  apps/patient/src/configs/analytics.ts
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Restyle signup page
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
  apps/app/src/views/routes/SelfSignup/views/UnverifiedUserAlert.tsx
Labels: Clinical App

cleanup styles
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
  apps/app/src/views/routes/SelfSignup/views/UnverifiedUserAlert.tsx
Labels: Clinical App

fix font color and copy
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

email editable again; show customer app name powered by photon
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

fix spacing and agreement copy
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

Add customer agreement for tos/baa text customization
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

Fix location search error
  packages/components/dev/App.tsx
  packages/components/src/particles/ComboBox/ComboBox.stories.tsx
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/InputGroup/InputGroup.stories.tsx
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PatientSelect.tsx
  packages/components/src/systems/PharmacySearch/PharmacySearch.tsx
  packages/components/src/utils/autocompleteLocation.ts
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components

Gate remove review page experiment only to newly landed patients without a pharmacy
  apps/patient/src/views/Main.tsx
Labels: Patient App

Gate remove review page experiment only to newly landed patients without a pharmacy (#2585)
  apps/patient/src/views/Main.tsx
Labels: Patient App

improve accessibility of location search
  packages/components/src/particles/Dialog/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
Labels: Components

add e2e test for preferred pharmacy
  apps/app/e2e/set_patient_preferred_pharmacy.spec.ts
Labels: Clinical App

require id on combobox value
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PatientSelect.tsx
Labels: Components

add header for android webview
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
Labels: Clinical App

bump to trigger aws codebuild again
  apps/app/README.md
Labels: Clinical App

Redesign signup page (#2581)
  apps/app/README.md
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
  apps/app/src/views/routes/SelfSignup/views/SignupForm.tsx
  apps/app/src/views/routes/SelfSignup/views/UnverifiedUserAlert.tsx
Labels: Clinical App

Fix location search error (#2584)
  apps/app/e2e/set_patient_preferred_pharmacy.spec.ts
  packages/components/dev/App.tsx
  packages/components/src/particles/ComboBox/ComboBox.stories.tsx
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Dialog/index.tsx
  packages/components/src/particles/InputGroup/InputGroup.stories.tsx
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PatientSelect.tsx
  packages/components/src/systems/PharmacySearch/PharmacySearch.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/utils/autocompleteLocation.ts
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements, Components, Clinical App

Refactor scrollview and fix footer clipping for iOS webview
  apps/app/index.html
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements, Clinical App

fix Edit Patient dialog footer appearing below Send Prescription footer on /new/prescriptions
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

fix Safari getting footer spacing from WebView fix
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

improve error messaging for auth token expiry
  packages/sdk/src/auth.ts
  packages/sdk/src/lib.ts
Labels: SDK

emit user token option
  packages/elements/index.html
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements

Bump elements version
  packages/elements/package.json
Labels: Elements

remove log
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements

Element emits user token (#2569)
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/sdk/src/auth.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK

remove footer spacing change
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

fix ellipsis menu popup clipping behind tableview wrapper
  apps/app/src/views/routes/Patients.tsx
Labels: Clinical App

remove resize layout fix
  apps/app/index.html
Labels: Clinical App

Extra events for frontend (#2579)
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Fix iOS Webview bugs (#2590)
  apps/app/src/views/routes/Patients.tsx
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Clinical App

button
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
