Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

add test for valid codes
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-diagnosis-codes-prefill.test.tsx
Labels: Elements, Components

use type from codegen, get from context instead of prop drilling
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionItem.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements, Components

initial screening alert test
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-screening-alerts.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
Labels: Elements, Components

use recommended dispense units
  packages/components/src/particles/DispenseUnitSelect/index.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
Labels: Elements, SDK, Components

bump elements
  packages/elements/package.json
Labels: Elements

regen the package-lock
  package-lock.json
Labels: none

use recommended dispense units (#2731)
  package-lock.json
  packages/components/src/particles/DispenseUnitSelect/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
Labels: Elements, SDK, Components

condensing vertical space in marketplace
  apps/patient/src/components/marketplace/summary/LocationSelection.test.tsx
  apps/patient/src/components/marketplace/summary/LocationSelection.tsx
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.test.tsx
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.tsx
  apps/patient/src/components/marketplace/summary/PrescriptionSummary.test.tsx
  apps/patient/src/components/marketplace/summary/PrescriptionSummary.tsx
  apps/patient/src/components/marketplace/summary/index.ts
  apps/patient/src/components/pharmacy-card-list/BenefitsBanner.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/setupTests.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/vite.config.mts
Labels: Patient App

fixup
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.tsx
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

fixup
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Add prescription notes char limit
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/formatCharacterCount.ts
Labels: Elements

bump package version
  packages/components/src/particles/InputGroup/index.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
Labels: Elements, Components

bumb package version
  packages/elements/package.json
Labels: Elements

bump package version
  package-lock.json
Labels: none

Limit pharmacy notes to 210 characters In prescribe form (#2735)
  package-lock.json
  packages/components/src/particles/InputGroup/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/formatCharacterCount.ts
Labels: Elements, Components

fixup
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.tsx
  apps/patient/src/components/marketplace/summary/PrescriptionSummary.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.test.tsx
  apps/patient/src/components/marketplace/summary/PrescriptionSummary.test.tsx
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
  apps/patient/src/components/prescription-summary/index.ts
Labels: Patient App

revert to smaller memory size graphiql 2, override vuln package
  apps/app/src/views/routes/Playground.tsx
  package-lock.json
  package.json
Labels: Clinical App

fix undici vuln
  package-lock.json
  package.json
Labels: none

adding logic to show marketplace when only routing is auto routed; cute lil "sent here" top bubble for pharamcies
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyCardSentHereFrame.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/SentHereBadge.test.tsx
  apps/patient/src/components/SentHereBadge.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.test.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacyCardSentHereStyles.test.ts
  apps/patient/src/components/pharmacyCardSentHereStyles.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.test.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyCard.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyCardSentHereFrame.test.tsx
  apps/patient/src/components/PharmacyCardSentHereFrame.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
Labels: Patient App

fix undici vuln (#2738)
  package-lock.json
  package.json
Labels: none

fix ws vuln (CVE-2026-48779)
  package-lock.json
  package.json
Labels: none

fix ws vuln (CVE-2026-48779) (#2741)
  package-lock.json
  package.json
Labels: none

copy for condition alert, add test
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-screening-alerts.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
Labels: Elements, Components

fixup
  apps/patient/e2e/select-pharmacy.spec.ts
Labels: Patient App

fixup
  apps/patient/e2e/select-pharmacy.spec.ts
  apps/patient/e2e/setup-new-order.spec.ts
Labels: Patient App

add some typing
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
Labels: Components

fixup
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.test.tsx
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.tsx
  apps/patient/src/components/marketplace/summary/PrescriptionSummary.test.tsx
  apps/patient/src/components/marketplace/summary/PrescriptionSummary.tsx
Labels: Patient App

condensing vertical space in marketplace (#2733)
  apps/patient/e2e/select-pharmacy.spec.ts
  apps/patient/e2e/setup-new-order.spec.ts
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/marketplace/summary/LocationSelection.test.tsx
  apps/patient/src/components/marketplace/summary/LocationSelection.tsx
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.test.tsx
  apps/patient/src/components/marketplace/summary/MarketplaceSummary.tsx
  apps/patient/src/components/marketplace/summary/PrescriptionSummary.test.tsx
  apps/patient/src/components/marketplace/summary/PrescriptionSummary.tsx
  apps/patient/src/components/marketplace/summary/index.ts
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/pharmacy-card-list/BenefitsBanner.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
  apps/patient/src/components/prescription-summary/index.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/setupTests.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/vite.config.mts
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyCardSentHereFrame.tsx
  apps/patient/src/components/SentHereBadge.tsx
  apps/patient/src/components/pharmacyCardSentHereStyles.test.ts
  apps/patient/src/components/pharmacyCardSentHereStyles.ts
Labels: Patient App

address todos
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-diagnosis-codes-prefill.test.tsx
Labels: Elements, Components

bump elements ver
  package-lock.json
  packages/elements/package.json
Labels: Elements

fix import path
  packages/components/src/index.ts
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

fixup
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/components/PharmacyCard.test.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/offers/OfferCard.test.tsx
  apps/patient/src/components/offers/OfferCard.tsx
  apps/patient/src/components/offers/OfferInfo.tsx
  apps/patient/src/components/offers/OffersList.test.tsx
  apps/patient/src/components/offers/OffersList.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/BrandedPharmacyCard.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/components/pharmacyCardSentHereStyles.test.ts
  apps/patient/src/components/pharmacyCardSentHereStyles.ts
  apps/patient/src/utils/autoroutedPharmacyConfirmationStorage.test.ts
  apps/patient/src/utils/autoroutedPharmacyConfirmationStorage.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.test.ts
  apps/patient/src/utils/getOrderFetchRedirectPath.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add ICD-10 code prescription screening (#2743)
  package-lock.json
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionItem.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/PrescriptionScreeningProvider.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-diagnosis-codes-prefill.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-rtpb.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-screening-alerts.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-supervisor-prefill.test.tsx
  packages/elements/src/photon-multirx-form/test-utils/generators.ts
  packages/elements/src/photon-multirx-form/test-utils/test-element-setup.tsx
  packages/sdk/src/graphql/clinical-api/query.ts
Labels: Elements, SDK, Components

rm App (#2725)
  packages/components/README.md
  packages/components/dev/App.tsx
  packages/components/dev/root.tsx
  packages/components/index.html
  packages/components/package.json
Labels: Components

add to order page
  apps/app/src/queries/lambda-api/orders.ts
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App
