Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fetch org settings in patient experience
  apps/patient/src/graphql/queries.ts
Labels: Patient App

replace getSettings in patient experience, except for mail order pharms list
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

add twentyeight independent retail mail order pharmacies
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

add twentyeight independent retail mail order pharmacies (#1751)
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

trying to get org settings from the sdk
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/sdk/src/fragments.ts
Labels: SDK, Clinical App

Revert "trying to get org settings from the sdk"
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/sdk/src/fragments.ts
Labels: SDK, Clinical App

enableMedHistory for remo
  packages/settings/src/lib/photon.ts
Labels: Settings

enableMedHistory for remo (#1754)
  packages/settings/src/lib/photon.ts
Labels: Settings

remove usage of client side settings in the clinical ux
  apps/app/codegen.ts
  apps/app/src/gql/gql.ts
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  apps/app/src/views/routes/NewOrder/components/SelectPharmacyCard/components/MailOrder.tsx
  apps/app/src/views/routes/NewOrder/index.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

update pa message for measured
  apps/patient/src/components/order-summary/OrderSummary.tsx
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

replace getSettings with getOrgMailOrderPharms, deprecate old OrganizationSettings
  apps/app/src/views/routes/NewOrder/components/SelectPharmacyCard/components/MailOrder.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/index.ts
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings, Patient App, Clinical App

update gql
  apps/app/src/gql/graphql.ts
Labels: Clinical App

update pa message for measured (#1757)
  apps/patient/src/components/order-summary/OrderSummary.tsx
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

Temporarily remove support input fields from org settings form
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

remove preferred pharmacy input temporarily
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

add dependabot config
  .github/dependabot.yml
Labels: none

ignore patch version updates
  .github/dependabot.yml
Labels: none

ny timezone
  .github/dependabot.yml
Labels: none

Make the org settings form switch inputs changeable by clicking the label
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

fix action failure
  .github/workflows/add-comment.yml
Labels: none

expose enableDeliveryPharmacies prop in elements and pass org settings through that in app
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components, Clinical App

Remove gating for organization settings
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
Labels: Clinical App

Replace client side org settings (#1753)
  apps/app/codegen.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  apps/app/src/views/routes/NewOrder/components/SelectPharmacyCard/components/MailOrder.tsx
  apps/app/src/views/routes/NewOrder/index.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
  apps/patient/project.json
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/settings/src/index.ts
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Elements, Components, Settings, Patient App, Clinical App

hardcoding novo pharmacy pilot
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/src/assets/novo_circle.png
  apps/patient/src/assets/novo_square.png
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

WIP: figure out how to call new mutation
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/sdk/src/clinical/prescription.ts
Labels: Elements, SDK

Set drafts to active for disable order customers
  packages/components/src/fetch/queries.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/sdk/src/clinical/prescription.ts
Labels: Elements, SDK, Components

fixup
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

Fix mobile responsive layout for org settings switches
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

Fix mobile responsive layout for org settings switches (#1765)
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

fixup
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fixup
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

Gate OrganizationSettings with manage:organization permission check
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
Labels: Clinical App

Gate OrganizationSettings with manage:organization permission check (#1767)
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
Labels: Clinical App

Delete event includes full rx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

delete old comment
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
Labels: Components

peer review feedback
  apps/app/src/views/routes/Prescriptions.tsx
  packages/components/dev/App.tsx
  packages/sdk/src/clinical/prescription.ts
Labels: SDK, Components, Clinical App

Fix null phone crashing patients page
  apps/app/src/utils.ts
Labels: Clinical App

Fix null phone crashing patients page (#1770)
  apps/app/src/utils.ts
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
