Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Remove settings
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings

Remove settings (#1772)
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings

add prior auth exception message field to patient ux settings ui for now
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

add prior auth exception message field to patient ux settings ui for now (#1773)
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

fixup
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

adding sesame and river to amazon pharm pilot
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding sesame and river to amazon pharm pilot (#1775)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Bump elements version
  packages/elements/package.json
Labels: Elements

Fix previous patient getting prescription for second patient
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

Create Draft Rx (RTBC prep) (#1683)
  .prettierignore
  apps/app/src/views/routes/Prescriptions.tsx
  packages/components/dev/App.tsx
  packages/components/src/context.ts
  packages/components/src/fetch/queries.tsx
  packages/components/src/index.ts
  packages/components/src/particles/IconButton/IconButton.stories.tsx
  packages/components/src/particles/IconButton/index.tsx
  packages/components/src/particles/Spinner/index.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/PrescribeProvider/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/SDKProvider/index.tsx
  packages/components/src/utils/createMutation.ts
  packages/components/src/utils/storybookUtils.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/sdk/src/clinical/prescription.ts
  packages/sdk/src/types.ts
Labels: Elements, SDK, Components, Clinical App

Add dependabot config (#1760)
  .github/dependabot.yml
  .github/workflows/add-comment.yml
Labels: none

wip
  packages/components/src/fetch/index.ts
  packages/components/src/fetch/mutations.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

initial sso toggle update and read calls
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/client-credentials/ClientInfoCard.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

fix auth and nav components logout returnTo
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/components/Nav.tsx
Labels: Clinical App

codegen
  apps/app/src/gql/graphql.ts
Labels: Clinical App

use enum for connection options
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

Client SSO toggles - Google and Microsoft OAuth options (#1784)
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/client-credentials/ClientInfoCard.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

fix auth and nav components logout returnTo (#1783)
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/components/Nav.tsx
Labels: Clinical App

Setup RTBC API calls
  packages/components/src/fetch/mutations.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Refactor DraftPrescription list
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/Coverage/CoverageOptionsAlternatives.tsx
  packages/components/src/systems/DraftPrescriptions/Coverage/CoverageSummary.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements, Components

Rename Coverage to CoverageOptions
  packages/components/src/systems/DraftPrescriptions/Coverage/CoverageSummary.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/AlternativeCoverageOptionList.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

remove sesame-only price limitation
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

remove sesame-only price limitation (#1786)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

hardcoding novo pharmacy pilot (#1764)
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/src/assets/novo_circle.png
  apps/patient/src/assets/novo_square.png
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

fixing issue with duplicate branded options and typo in novocare env var
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Display styled coverage options info
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/AlternativeCoverageOptionList.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

fixing issue with duplicate branded options and typo in novocare env var (#1788)
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Revert "remove sesame-only price limitation (#1786)"
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Revert "remove sesame-only price limitation (#1786)" (#1789)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Revert "Revert "remove sesame-only price limitation (#1786)" (#1789)"
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Revert "Revert "remove sesame-only price limitation (#1786)" (#1789)" (#1791)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

enabling novocare branded pharmacy override for measured
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

Select alternate coverage option
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/AlternativeCoverageOptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Show alerts, handle null copay price
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

remove logs
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

trim template ids and prescription ids with whitespace
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

trim template ids and prescription ids with whitespace (#1795)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Fix initial alert presentation
  packages/components/src/fetch/mutations.ts
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

fixup
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
