Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

fix patientAnalytics usage
  apps/patient/src/components/ChangePharmacyReasons.tsx
  apps/patient/src/configs/analytics.ts
Labels: Patient App

script to convert shortlink to patient URL
  tools/tau_patient_url.sh
Labels: none

fix tsc check
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

misc cleanup
  apps/patient/src/views/Status.tsx
Labels: Patient App

use script file, don't sso if already logged in
  apps/app/package.json
  apps/app/project.json
  apps/patient/package.json
  apps/patient/project.json
  tools/pullenv.sh
Labels: Patient App, Clinical App

fix tests
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/setupTests.ts
Labels: Patient App

use script file, don't sso if already logged in (#2514)
  apps/app/package.json
  apps/app/project.json
  apps/patient/package.json
  apps/patient/project.json
  tools/pullenv.sh
Labels: Patient App, Clinical App

add npm command
  package.json
  tools/patient_tau_url.sh
Labels: none

Initial refactor commit
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/utils/analytics_expect.ts
  apps/app/e2e/utils/analytics_intercept.ts
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.test.ts
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/UpdatePatientForm.tsx
  packages/components/src/analytics/dispatchAnalyticsTrackEvent.ts
  packages/components/src/index.ts
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PrescribeEventDispatchProvider.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/SignatureAttestation/SignatureAttestationModal.tsx
  packages/components/src/systems/TestMocks/MockPrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/analytics.test.ts
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components, Clinical App

fix return in PatientAnalytics constructor
  apps/patient/src/configs/analytics.ts
Labels: Patient App

add tracking in rudderstack for mail order modal open/close
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

add to providerAnalytics
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
Labels: Clinical App

add to app buildspect
  apps/app/buildspec.yml
Labels: Clinical App

remove unused datadog rum actions in mail order select modal
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

add tracking in rudderstack for mail order modal open/close (#2516)
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

add test for analytics
  packages/elements/src/photon-multirx-form/analytics.test.ts
  packages/elements/src/photon-multirx-form/analytics.test.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

remove price toggle logic and tests
  CLAUDE.md
  apps/patient/src/utils/shouldShowPriceToggle.test.tsx
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

improve tests for analytics
  package-lock.json
  package.json
  packages/elements/src/photon-multirx-form/analytics.test.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/test-utils/createTestClient.ts
  packages/elements/src/test-utils/msw-handlers.ts
Labels: Elements

cleanup
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/test-utils/mock-medication-search.element.tsx
Labels: Elements

setup pharmacy card test; cleanup
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/test-utils/createTestClient.ts
  packages/elements/src/test-utils/msw-handlers.ts
Labels: Elements

fix typo
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

fix typo (#2518)
  apps/patient/src/components/mail-order-select/MailOrderSelectModal.tsx
Labels: Patient App

better helper methods; cleanup
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK

patient_tau_url misc improvements
  tools/patient_tau_url.sh
Labels: none

Change pharmacy reason feature flag (#2496)
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/ChangePharmacyReasons.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/tsconfig.base.json
  package.json
  tools/patient_tau_url.sh
Labels: Patient App

remove price toggle logic and tests (#2517)
  CLAUDE.md
  apps/patient/src/utils/shouldShowPriceToggle.test.tsx
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

setup app analytics tests; add to workflow
  .github/workflows/vitest.yml
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.test.ts
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/setupTests.ts
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-analytics.test.tsx
  packages/elements/src/test-utils/createTestClient.ts
  packages/sdk/package.json
  packages/sdk/src/test-utils/fixtures.ts
  packages/sdk/src/test-utils/index.ts
  packages/sdk/src/test-utils/msw-handlers.ts
  tsconfig.base.json
Labels: Elements, SDK, Clinical App

fix error
  packages/elements/src/test-utils/mock-medication-search.element.tsx
Labels: Elements

cleanup
  apps/app/src/order-workflow-analytics.test.tsx
Labels: Clinical App

rm unused props
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
Labels: Elements

cleanup analytics more
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Clinical App

fix broken user page
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

fix broken user page (#2525)
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

move prescribe page view back up to avoid solidjs issue
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Clinical App

fix elements test not having components built
  apps/app/project.json
  packages/elements/project.json
Labels: Elements, Clinical App

fix elements test not having codegen
  apps/app/project.json
Labels: Clinical App

fix elements test not having codegen v2
  apps/app/project.json
Labels: Clinical App

removed old default test; fix settings not having ENV in CI by mocking (like patient app does)
  apps/app/src/__test__/App.test.tsx
  apps/app/src/__test__/__snapshots__/App.test.tsx.snap
  apps/app/src/__test__/test-utils.tsx
  apps/app/src/setupTests.ts
Labels: Clinical App

test generating JWT
  apps/app/buildspec.yml
  tools/codebuild_workflow_dispatch.sh
Labels: Clinical App

test requesting access token
  tools/codebuild_workflow_dispatch.sh
Labels: none
