Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

smaller button
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

remove unnecessary mixpanel specific tracking for now
  apps/app/src/configs/providerAnalytics.ts
Labels: Clinical App

Fix double track; use provider email for analytics
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
Labels: Clinical App

fix unit test
  apps/app/src/order-workflow-analytics.test.tsx
Labels: Clinical App

Fix double track; use provider email for analytics (#2597)
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/order-workflow-analytics.test.tsx
Labels: Clinical App

Fix bookmarklet broken due to solid portals
  tools/bookmarklets/patient-form-filler-with-address.txt
  tools/bookmarklets/patient-form-filler.txt
Labels: none

extract validators
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
Labels: Elements

misc cleanup
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

Fix bookmarklet broken due to solid portals (#2601)
  tools/bookmarklets/patient-form-filler-with-address.txt
  tools/bookmarklets/patient-form-filler.txt
Labels: none

lift form store to photon-patient-dialog
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

fix source maps for elements/components/react packages
  apps/app/vite.config.ts
  package-lock.json
  package.json
  packages/components/vite.config.ts
  packages/elements/vite.config.ts
  packages/react/vite.config.ts
Labels: Elements, Components, Clinical App

fix bookmarklet
  packages/elements/src/photon-patient-dialog/PatientForm.tsx
  tools/bookmarklets/patient-form-filler-with-address.txt
  tools/bookmarklets/patient-form-filler.txt
Labels: Elements

Disable mixpanel for patient end-to-end tests
  apps/patient/playwright.config.ts
  apps/patient/src/configs/analytics.ts
Labels: Patient App

Actually only disable feature flags in e2e tests
  apps/patient/src/configs/analytics.ts
Labels: Patient App

Remove feature flag for `change_pharmacy_reasons`. Add it as default behavior now
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix source maps for elements/components/react packages (#2604)
  apps/app/vite.config.ts
  package-lock.json
  package.json
  packages/components/vite.config.ts
  packages/elements/vite.config.ts
  packages/react/vite.config.ts
Labels: Elements, Components, Clinical App

undo changes
  apps/patient/playwright.config.ts
  apps/patient/src/configs/analytics.ts
Labels: Patient App

optionally do review page actions in e2e test
  apps/patient/e2e/select-pharmacy.spec.ts
Labels: Patient App

remove dd rum init, actions and mocks
  apps/patient/buildspec.yml
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/SendToPatientDemo.test.tsx
  apps/patient/src/index.tsx
  apps/patient/src/setupTests.ts
  apps/patient/src/views/Info.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.test.tsx
  apps/patient/src/views/Status.test.tsx
Labels: Patient App

Add new patient button (#2596)
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

Fix failling e2e test for patient (#2605)
  apps/patient/e2e/select-pharmacy.spec.ts
Labels: Patient App

Fix combobox error when storing another store object
  packages/components/src/particles/ComboBox/index.tsx
Labels: Components

Fix double minify of published packages obscuring function names
  packages/components/vite.config.ts
  packages/elements/package.json
  packages/elements/vite.config.ts
  packages/react/vite.config.ts
Labels: Elements, Components

Remove feature flag for `change_pharmacy_reasons`. Add it as default behavior now (#2606)
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/views/Status.test.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

Fix double minify of published packages obscuring function names (#2610)
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/vite.config.ts
  packages/elements/package.json
  packages/elements/vite.config.ts
  packages/react/vite.config.ts
Labels: Elements, Components

Attempt to fix Script Error in logs
  apps/app/index.html
Labels: Clinical App

prettier
  apps/app/index.html
Labels: Clinical App

edit patient photon-patient-dialog updates when selected patient changes
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

clean up AddPrescriptionCard
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

clean up DraftPrescriptionCard
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements, Components

lift up add another button, toggle form
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
Labels: Elements

move everything into PrescriptionCard
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/clearForm.ts
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/formatPatientWeight.ts
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/repopulateForm.ts
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

rm cards around subcomponents
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements

show form when no prescriptions
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements

rename files
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/PrescriptionCard.tsx
Labels: Elements

remove data-dd-privacy prop on patient app
  apps/patient/src/components/AddressForm.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/prescription-summary/FillSummary.tsx
  apps/patient/src/components/prescription-summary/PrescriptionsSummary.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

readd removed eslint comment
  apps/patient/src/setupTests.ts
Labels: Patient App

misc refactor
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptions.tsx
Labels: Elements

rm redundant clearkeys
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/DraftPrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/components/PrescriptionCard/util/clearForm.ts
Labels: Elements

Attempt to fix Script Error in logs (#2614)
  apps/app/index.html
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
