Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

fixing an issue that sometimes caused amazon to show up as an option when it shouldn't (#1948)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

adding novo to openloop for prod and demo versions for neutron and photon
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

fixup
  packages/settings/src/lib/photon.ts
Labels: Settings

adding novo to openloop for prod and demo versions for neutron and ph… (#1950)
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

amazon offers will show price if they come back from the endpoint now
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

amazon offers will show price if they come back from the endpoint now (#1952)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Revert "Photon: Merge neutron into photon"
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Revert "Photon: Merge neutron into photon" (#1955)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Revert "Revert "Photon: Merge neutron into photon" (#1955)"
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

branded options in the patient experience cannot be selected if they're already attached to the order
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

branded options in the patient experience cannot be selected if they're already attached to the order (#1957)
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add
  apps/app/public/favicon.ico
  apps/app/public/logo256.png
  apps/app/src/views/components/Logo.tsx
  apps/patient/public/favicon.ico
  apps/patient/public/logo256.png
  apps/patient/src/components/Logo.tsx
  apps/patient/src/components/PoweredBy.tsx
Labels: Patient App, Clinical App

nav color
  apps/app/src/views/components/Nav.tsx
Labels: Clinical App

color
  apps/patient/src/components/Logo.tsx
Labels: Patient App

colors
  apps/app/src/configs/theme.ts
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/components/NavButton.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

nav
  apps/app/src/views/components/Nav.tsx
Labels: Clinical App

whitespace change
  apps/app/src/App.tsx
Labels: Clinical App

New logo in Clinical and Patient apps (#1960)
  apps/app/public/favicon.ico
  apps/app/public/logo256.png
  apps/app/src/App.tsx
  apps/app/src/configs/theme.ts
  apps/app/src/views/components/Logo.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/components/NavButton.tsx
  apps/app/src/views/routes/Order.tsx
  apps/patient/public/favicon.ico
  apps/patient/public/logo256.png
  apps/patient/src/components/Logo.tsx
  apps/patient/src/components/PoweredBy.tsx
Labels: Patient App, Clinical App

Update copy for delayed provider-selected pharmacy orders
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Update copy for delayed provider-selected pharmacy orders (#1962)
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

init
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/.env.tau
  apps/patient/package.json
  apps/patient/src/configs/analytics.ts
  package-lock.json
Labels: Patient App

Move Patient details into folder
  apps/app/src/App.tsx
  apps/app/src/views/routes/PatientDetails/Patient.tsx
  apps/app/src/views/routes/PatientDetails/index.ts
Labels: Clinical App

Optimize imports
  apps/app/src/views/routes/PatientDetails/Patient.tsx
Labels: Clinical App

Extract PatientPrescriptions component
  apps/app/src/views/routes/PatientDetails/Patient.tsx
  apps/app/src/views/routes/PatientDetails/PatientPrescriptions.tsx
Labels: Clinical App

setup components folder
  apps/app/src/views/routes/PatientDetails/Patient.tsx
  apps/app/src/views/routes/PatientDetails/components/PatientPrescriptions.tsx
Labels: Clinical App

follow other folder pattern for index
  apps/app/src/views/routes/PatientDetails/index.ts
  apps/app/src/views/routes/PatientDetails/index.tsx
Labels: Clinical App

Move Patient details into folder (#1965)
  apps/app/src/App.tsx
  apps/app/src/views/routes/PatientDetails/components/PatientPrescriptions.tsx
  apps/app/src/views/routes/PatientDetails/index.tsx
Labels: Clinical App

Add local pagination to patient rx list
  apps/app/src/views/routes/PatientDetails/components/PatientPrescriptions.tsx
Labels: Clinical App

Add local pagination to patient rx list (#1967)
  apps/app/src/views/routes/PatientDetails/components/PatientPrescriptions.tsx
Labels: Clinical App

update
  apps/patient/src/configs/analytics.ts
Labels: Patient App

announce page
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

pages
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

oh, need that
  apps/patient/src/views/Main.tsx
Labels: Patient App

blocking test
  apps/patient/src/configs/analytics.ts
Labels: Patient App

test
  apps/patient/src/views/Canceled.test.tsx
Labels: Patient App

Barebones Patient Analytics (via Rudderstack) (#1969)
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/.env.tau
  apps/patient/package.json
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
  package-lock.json
Labels: Patient App

hook
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/utils/useStep.ts
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

track and identify
  apps/patient/src/configs/analytics.ts
  apps/patient/src/hooks/usePageAnalytics.ts
  apps/patient/src/views/Main.tsx
Labels: Patient App
