Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fixup
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

pretier
  .nx/workspace-data/7FCDC050-A938-52D4-A8B4-79F5E47E0AC8.db-shm
  .nx/workspace-data/7FCDC050-A938-52D4-A8B4-79F5E47E0AC8.db-wal
  .nx/workspace-data/d/daemon.log
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/file-map.json
  .nx/workspace-data/nx_files.nxt
  .prettierignore
  apps/patient/src/utils/fulfillmentsHelpers.ts
  apps/patient/src/utils/general.ts
Labels: Patient App

remove
  .gitignore
  .nx/workspace-data/7FCDC050-A938-52D4-A8B4-79F5E47E0AC8.db
  .nx/workspace-data/7FCDC050-A938-52D4-A8B4-79F5E47E0AC8.db-shm
  .nx/workspace-data/7FCDC050-A938-52D4-A8B4-79F5E47E0AC8.db-wal
  .nx/workspace-data/d/daemon.log
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  apps/app/src/gql/fragment-masking.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/gql/index.ts
Labels: Clinical App

components built
  .gitignore
  package-lock.json
  package.json
Labels: none

Add prescription screening (#1423)
  apps/app/src/gql/graphql.ts
  packages/components/src/index.ts
  packages/components/src/particles/Banner/index.tsx
  packages/components/src/particles/Card/index.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlerts.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertsByEntity.tsx
  packages/components/src/systems/ScreeningAlerts/index.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components, Clinical App

chipping away at type errors in elements
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/store.ts
  packages/elements/src/stores/catalog.ts
  packages/elements/src/stores/dispenseUnit.ts
  packages/elements/src/stores/patient.ts
  packages/elements/src/stores/pharmacy.ts
  packages/elements/tsconfig.json
Labels: Elements

remove console logs and unnecessary comment
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

triggering build
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

remove console logs and unnecessary comment (#1459)
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fixing an issue where having alerts would skip combining orders
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fixup
  packages/components/src/particles/Banner/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
Labels: Components

fixup
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
Labels: Components

fixup
  packages/components/src/particles/Banner/index.tsx
Labels: Components

fixup
  packages/components/src/particles/Banner/index.tsx
Labels: Components

Fix issue with combine orders with clinical alerting (#1461)
  packages/components/src/particles/Banner/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

incrementing version of elements
  packages/elements/package.json
Labels: Elements

incrementing version of elements (#1463)
  packages/elements/package.json
Labels: Elements

only elements and components remaining to be typechecked
  apps/app/src/index.tsx
  apps/patient/src/views/Main.tsx
  packages/components/tsconfig.json
  packages/react/package.json
  packages/react/src/provider.tsx
  packages/react/tsconfig.json
  packages/sdk/package.json
  packages/sdk/tsconfig.json
Labels: SDK, Components, Patient App, Clinical App

fix sana missing mail order options
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

copiy
  package-lock.json
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

revert
  packages/elements/index.html
Labels: Elements

bump
  package-lock.json
Labels: none

and droft
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements, Components

Setting "Enable Order" to false has bad copy (#1465)
  package-lock.json
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

Add two more configs for Xyon orgs
  packages/settings/src/lib/photon.ts
Labels: Settings

Add two more configs for Xyon orgs (#1467)
  packages/settings/src/lib/photon.ts
Labels: Settings

fix sana missing mail order options (#1464)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

white bg on select org and settings catalog
  apps/app/src/views/components/Page.tsx
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

cleanup
  apps/app/src/views/components/Page.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

Fix missing white bg on select org and /settings/catalog cards (#1470)
  apps/app/src/views/routes/SelectOrg.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

Show fulfillment exceptions on the order page.
  apps/app/src/views/components/MedicationStack.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

Fix exception tag text.
  apps/app/src/views/components/MedicationStack.tsx
Labels: Clinical App

fix from path + search params
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

store returnTo in appState
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/Main.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

remove console log
  packages/react/src/provider.tsx
Labels: none

template literal
  apps/app/src/views/components/Auth.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

persist url search params when session expires (#1466)
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/Main.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: SDK, Clinical App

updaet
  packages/elements/README.md
Labels: Elements

updaet (#1473)
  packages/elements/README.md
Labels: Elements

Add more xyon config
  packages/settings/src/lib/photon.ts
Labels: Settings

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
