Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

show price flag in all situations
  apps/patient/src/components/PharmacyFilters.tsx
Labels: Patient App

cleanup
  apps/patient/src/components/PharmacyFilters.tsx
Labels: Patient App

cleanup
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

ui polish
  apps/patient/src/views/PaymentMethod.tsx
Labels: Patient App

Show price flag in for all patients that saw the fork 🍴 (#1521)
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

Revert "Photon: Merge neutron into photon"
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/ReadyBy.tsx
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Patient App

Revert "Fix Race Condition between getting a patient and creating an order (#1518)"
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Revert "Fix Race Condition between getting a patient and creating an order (#1518)" (#1524)
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

fix pharmacy closed exception subheader
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

ui polishing
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/components/statusV2/Step.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

font color
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

Fix incorrect text on order placed sub-header (#1525)
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/components/statusV2/Step.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

add mounting and effect logic to load patient data into form store
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

Use formStore.patient as source of truth for id
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

test prescribe workflow with external patient id
  packages/elements/index.html
Labels: Elements

remove patient fetching from photon-prescribe-workflow-component
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

move patient fetching in PatientCard to be in an effect on props.patientId rather than onMount
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

revert PatientCard to fetch patient onMount instaed of in effect
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

reset the form store state onCleanup in prescribe workflow web component
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

remove paul external id from index.html
  packages/elements/index.html
Labels: Elements

revert patientcard changes
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

bump patch version
  packages/elements/package.json
Labels: Elements

Clean form store between prescribe workflows via onCleanup (#1528)
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

rewrite package lock
  package-lock.json
Labels: none

rewrite package lock (#1530)
  package-lock.json
Labels: none

new exceptions
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

new exceptions (#1532)
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

dep
  package-lock.json
  packages/elements/package.json
Labels: Elements

provider and date
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
Labels: Components

provider and date (#1535)
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
Labels: Components

fixed an issue with pharmacies not loading in the demo
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixed an issue with pharmacies not loading in the demo (#1536)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixing issue with demo loading pharmacies [manually applied on neutron branch]
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

ro
  apps/patient/src/assets/ro_logo.svg
  packages/settings/src/lib/neutron.ts
Labels: Settings, Patient App

ro (#1539)
  apps/patient/src/assets/ro_logo.svg
  packages/settings/src/lib/neutron.ts
Labels: Settings, Patient App

a change
  packages/settings/src/lib/neutron.ts
Labels: Settings

a change (#1541)
  packages/settings/src/lib/neutron.ts
Labels: Settings

aoeu
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

aoeu (#1542)
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
