Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

Prefill NPI if available during self signup
  apps/app/project.json
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Put sex input before gender input, make dropdown options title case (#2139)
  apps/app/e2e/create_prescription.spec.ts
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-sex-input/photon-sex-input-component.tsx
Labels: Elements, Clinical App

Standardize the blue theme color across tailwind and chakra themes (#2138)
  apps/app/src/configs/theme.ts
  apps/patient/src/configs/theme.ts
  apps/patient/src/views/Info.tsx
  apps/patient/src/views/Status.tsx
  packages/components/tailwind.config.cjs
  packages/elements/tailwind.config.js
Labels: Elements, Components, Patient App, Clinical App

Prefill NPI if available during self signup (#2140)
  apps/app/project.json
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Fix med name clearing on selection in mobile
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

Fix med name clearing on selection in mobile (#2142)
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

Bump elements to 0.17.3
  packages/elements/package.json
Labels: Elements

Update copy, swap button order
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/views/routes/Patients.tsx
  apps/app/src/views/routes/Prescriptions.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Clinical App

Bump elements to 0.17.3 (#2145)
  apps/app/e2e/create_prescription.spec.ts
  apps/app/src/views/routes/Patients.tsx
  apps/app/src/views/routes/Prescriptions.tsx
  packages/elements/package.json
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Clinical App

adding rudderstack events for starting/completing self signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

fixup
  apps/app/src/configs/analytics.ts
Labels: Clinical App

fixup
  apps/app/src/configs/analytics.ts
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Update tracking event names for self signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

adding rudderstack events for starting/completing self signup (#2148)
  apps/app/src/configs/analytics.ts
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Improve scrolling on ios
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/src/photon-medication-dropdown-full-width/style.css
Labels: Elements

Fix touch bleed through to content behind scrollable area
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
Labels: Elements

Fix Medication Search scrolling on ios (#2151)
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/src/photon-medication-dropdown-full-width/style.css
Labels: Elements

Polish self signup page
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Polish self signup page (#2153)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

clear searchTerm on close dialog
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
Labels: Elements

clarify READMEs
  apps/app/README.md
  packages/elements/README.md
Labels: Elements, Clinical App

misc cleanup
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

bump version
  packages/elements/package.json
Labels: Elements

reset med history input after adding new med (#2156)
  apps/app/README.md
  packages/elements/README.md
  packages/elements/package.json
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Clinical App

Adjust address heading size
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Adjust address heading size (#2159)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

update copy
  packages/components/src/systems/PatientInfo/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Components

fix tests
  apps/app/e2e/create_prescription.spec.ts
Labels: Clinical App

fix copy for Edit patient modal via Create Prescription flow (#2161)
  apps/app/e2e/create_prescription.spec.ts
  packages/components/src/systems/PatientInfo/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements, Components, Clinical App

Add version params to self signup
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Add version params to self signup (#2163)
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

provider rudderstack metrics
  apps/app/.env.boson
  apps/app/.env.neutron
  apps/app/.env.photon
  apps/app/.env.tau
  apps/app/src/App.tsx
  apps/app/src/configs/providerAnalytics.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/views/routes/NewPatient/PatientForm.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

place all fields in one card
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

use sentence case
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

fixup
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/setInstrumentationUserContext.tsx
Labels: Clinical App

fixup
  apps/app/src/hooks/useProviderAnalytics.tsx
Labels: Clinical App

clean up html
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements

toggle showing optional fields
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

add nx dev target
  apps/app/README.md
  apps/app/project.json
Labels: Clinical App

move optional New patient/Edit patient form fields to the bottom, hide by default (#2167)
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components
