Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

add farm2functional, kuros, unger
  apps/patient/src/assets/farm_to_functional_medicine_logo.png
  apps/patient/src/assets/kuros_medical_logo.png
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

logo name
  packages/settings/src/lib/photon.ts
Labels: Settings

Add Farm to Functional, Kuros, Unger (#1596)
  apps/patient/src/assets/farm_to_functional_medicine_logo.png
  apps/patient/src/assets/kuros_medical_logo.png
  packages/settings/src/lib/photon.ts
Labels: Settings, Patient App

allow us to test glp1s on boson
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

allow us to test glp1s on boson (#1597)
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

fix
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

bump
  packages/elements/index.html
  packages/elements/package.json
Labels: Elements

Fix stale patient data being sent with new orders (#1599)
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

disable sesame discount cards
  apps/patient/src/utils/general.ts
Labels: Patient App

disable sesame discount cards (#1601)
  apps/patient/src/utils/general.ts
Labels: Patient App

quick n dirty experiment pass
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

2000
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/tailwind.config.js
Labels: Elements

remove old z
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
Labels: Elements

Fix overlapping header (#1604)
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/tailwind.config.js
Labels: Elements

cleanup
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add call pharmacy button when pharmacy is unreachable or closed
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

make directions clickable and display change pharmacy for pharmacy exceptions
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

fix button display
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

fixup
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fixup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

update button display logic
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

make pharmacy address blue
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

make pharmacy address link to directions, display call pharmacy for order exceptions (#1606)
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

only display clickable address link to directions on status page
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

pass in isStatus
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

only display clickable address link to directions on status page (#1608)
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

pass status from PharmacyInfo
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

Status page address link (#1610)
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

cleanup tracking
  apps/patient/src/App.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

codegen
  apps/patient/src/graphql/queries.ts
Labels: Patient App

reformat for chakra pattern
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

add include price booelan
  apps/patient/src/graphql/queries.ts
Labels: Patient App

Add price switch and handle updated price query (#1611)
  apps/patient/src/App.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

remove-residual-zipcode-code
  apps/patient/src/api/external.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

allow for show more
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

prettier
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

cleanup residual zipcode prop (#1614)
  apps/patient/src/api/external.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

add price setting and do some ui polishing
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings, Patient App
