Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Remove enchanced med search optional flag
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

Remove enchanced med search optional flag (#1393)
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

dc on order gql, cleanup, dc model
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

fetching
  apps/app/codegen.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/components/MedicationSelect.tsx
Labels: Clinical App

gql refining
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

get it working
  apps/patient/src/api/internal.ts
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

cleanup
  apps/patient/src/api/internal.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

cleanup
  apps/patient/src/components/CouponDetails.tsx
Labels: Patient App

hm
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/components/MedicationSelect.tsx
  apps/app/src/views/components/SelectField.tsx
Labels: Clinical App

price in results and prettier
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

lint hook
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: none

add template name
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

lint fix
  package.json
Labels: none

says to get rid of husky?
  .husky/pre-commit
Labels: none

add template name (#1394)
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

consistent widths
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

incrementing package version
  packages/elements/package.json
Labels: Elements

card consistency
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

Disable cancel button on combine order dialog (#1339)
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/package.json
Labels: Elements, Components

fixes
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

hide local delivery
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

fix loading
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

ui working
  apps/app/codegen.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/MedicationSelect.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/Treatment.tsx
Labels: Clinical App

modal ui polishing
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

modal padding
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

spacing
  apps/patient/src/components/FAQModal.tsx
Labels: Patient App

lots of cleanup
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

comment
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Mrochlin/precommit hook (#1395)
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: none

fix date format
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

prettier
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

Add additional configuration for Xyon customer and disable sending order for allx yon customers
  packages/settings/src/lib/photon.ts
Labels: Settings

turn sendOrder on for california
  packages/settings/src/lib/photon.ts
Labels: Settings

Add additional configuration for Xyon customer and disable sending or… (#1261)
  packages/settings/src/lib/photon.ts
Labels: Settings

hide price toggle if no prices
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

comment
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

cleanup
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

card consistency
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
Labels: Patient App

check initial load
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

revert
  apps/app/src/views/components/SelectField.tsx
Labels: Clinical App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
