Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'

Fix "specified account not allowed to accept" error not clearing query params
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Simplify auth error alert presentation
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Delete previouslyAuthed flag that could trigger infinite login spinner page
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

Delete inaccessible condition
  packages/react/src/provider.tsx
Labels: none

Delete unused Alert system
  apps/app/src/App.tsx
  apps/app/src/stores/alert.ts
  apps/app/src/views/components/Alert.tsx
  apps/app/src/views/components/AlertDisplay.tsx
Labels: Clinical App

Remove duplicative, erroneous handleRedirect (#2034)
  apps/app/src/App.tsx
  apps/app/src/stores/alert.ts
  apps/app/src/views/components/Alert.tsx
  apps/app/src/views/components/AlertDisplay.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/Main.tsx
  packages/react/src/provider.tsx
Labels: Clinical App

Handle invitation errors better
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

rename vars
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

copy change
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Fixup post-rebase
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Add error log for datadog to track on
  packages/react/src/provider.tsx
Labels: none

Fix noisy defaultProps console error
  apps/app/src/__test__/test-utils.tsx
  apps/app/src/views/components/FillsSelect.tsx
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/OptionalText.tsx
  apps/app/src/views/components/Page.tsx
  apps/app/src/views/components/PharmacyNameView.tsx
  apps/app/src/views/components/SimpleTable.tsx
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/routes/NewOrder/components/SelectPharmacyCard/components/Pharmacy.tsx
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/index.tsx
  apps/patient/src/components/FixedFooter.tsx
  apps/patient/src/components/StatusStepper.tsx
Labels: Patient App, Clinical App

Fix alignments
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Center photon logo
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Fix noisy defaultProps console error (#2036)
  apps/app/src/__test__/test-utils.tsx
  apps/app/src/views/components/FillsSelect.tsx
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/OptionalText.tsx
  apps/app/src/views/components/Page.tsx
  apps/app/src/views/components/PharmacyNameView.tsx
  apps/app/src/views/components/SimpleTable.tsx
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/routes/NewOrder/components/SelectPharmacyCard/components/Pharmacy.tsx
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/index.tsx
  apps/patient/src/components/FixedFooter.tsx
  apps/patient/src/components/StatusStepper.tsx
Labels: Patient App, Clinical App

Use new Jomi copy
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Add unexpected error handler
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

copy change
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

Handle invitation errors better (#2033)
  apps/app/src/views/routes/Login.tsx
  packages/react/src/provider.tsx
Labels: Clinical App

Enable price toggle by default
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

Fix tests
  apps/patient/src/utils/shouldShowPriceToggle.test.ts
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

Fix tests and order context state
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

Better tests for Pharmacy
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/shouldShowPriceToggle.test.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

cleanup
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

fix assert
  apps/patient/src/Navigation.test.tsx
Labels: Patient App

Fix imports
  apps/patient/src/views/Pharmacy.test.tsx
Labels: Patient App

rename file
  apps/patient/src/utils/shouldShowPriceToggle.test.tsx
Labels: Patient App

Fix: price toggle should be enabled by default (#2040)
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/shouldShowPriceToggle.test.tsx
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

Search team members by user name
  apps/app/README.md
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

Show better error for 3 characters required
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

Add label
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

Search team members by user name (#2043)
  apps/app/README.md
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

bump elements version
  packages/elements/package.json
Labels: Elements

bump elements version (#2046)
  packages/elements/package.json
Labels: Elements

Release 0.16.4 because the CI was borked for 0.16.3
  packages/elements/package.json
Labels: Elements

Release 0.16.4 because the CI was borked for 0.16.3 (#2048)
  packages/elements/package.json
Labels: Elements

Use boolean OR instead of nullish coalescing for empty pa exception message default
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

Use boolean OR instead of nullish coalescing for empty pa exception (#2049)
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

go off of fills
  apps/patient/src/views/Status.tsx
Labels: Patient App

fix
  apps/patient/src/views/Status.tsx
Labels: Patient App
