Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

Upgrade datadog-ci to fix vuln
  package-lock.json
  package.json
Labels: none

Upgrade datadog-ci to fix vuln (#2383)
  package-lock.json
  package.json
Labels: none

Bump rollup
  package-lock.json
  package.json
Labels: none

toggle buttons based on patientCount
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

use onblur
  packages/components/src/particles/SmartTooltip/index.tsx
  packages/components/src/particles/Textarea/index.tsx
Labels: Components

fixup
  apps/patient/src/test-utils/generators.ts
Labels: Patient App

move list to definition file
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: SDK, Clinical App

get supervisors query
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

Fix analytic from add history item
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/sdk/src/clinicalAnalyticsTypes.ts
Labels: Elements, SDK

remove dead code and trackEvent from proper place
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

rename expect function
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/utils/analytics_expect.ts
Labels: Clinical App

Use better playwright event capture
  apps/app/e2e/utils/analytics_intercept.ts
Labels: Clinical App

Add analytics to prescription form (#2380)
  apps/app/e2e/create_prescription.spec.ts
  apps/app/e2e/utils/analytics_expect.ts
  apps/app/e2e/utils/analytics_intercept.ts
  apps/app/src/hooks/useProviderAnalytics.tsx
  apps/app/src/instrumentation/analyticsTrackEventListenerUtils.ts
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/analytics/buildFieldSnapshot.ts
  packages/components/src/index.ts
  packages/components/src/particles/DispenseUnitSelect/index.tsx
  packages/components/src/particles/SmartTooltip/index.tsx
  packages/components/src/particles/Textarea/index.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.test.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/TestMocks/MockPrescribeEventDispatchProvider.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/util/clearForm.ts
  packages/elements/src/photon-multirx-form/util/repopulateForm.ts
  packages/sdk/src/clinicalAnalyticsTypes.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK, Components, Clinical App

add workflow to test npm publish
  .github/workflows/npm-publish-test.yml
Labels: none

fixup pack test workflow
  .github/workflows/npm-publish-test.yml
Labels: none

adding therapeutic classifcations and brand/generic names to analytic… (#2382)
  apps/patient/src/configs/analytics.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
Labels: Patient App

actually use lambdas
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

Bump rollup (#2385)
  .github/workflows/npm-publish-test.yml
  package-lock.json
  package.json
Labels: none

bump elements
  packages/elements/package.json
Labels: Elements

toggle buttons when creating patient based on patientCount (#2386)
  packages/elements/package.json
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
Labels: Elements

kwikpen
  package-lock.json
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/elements/package.json
Labels: Elements, Components

bump
  package-lock.json
  packages/elements/package.json
Labels: Elements

prettier
  package-lock.json
  packages/elements/package.json
Labels: Elements

move needsSupervisor into PrescribeWorkflow
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

set storage to signify initial login
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

run welcome toast on main.tsx
  apps/app/src/hooks/useWelcomeToast.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

undo local dev values in useWelcomeToast
  apps/app/src/hooks/useWelcomeToast.tsx
Labels: Clinical App

Update styling on StyledToast
  apps/app/src/views/components/StyledToast.tsx
Labels: Clinical App

Add welcome toast for first time logins with doximity users (#2391)
  apps/app/src/hooks/useWelcomeToast.tsx
  apps/app/src/views/components/StyledToast.tsx
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

add supervisor combobox
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

add search to supervisor combobox
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

add logs to debug the welcome toast popping up
  apps/app/src/hooks/useWelcomeToast.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

add logs to debug the welcome toast popping up (#2393)
  apps/app/src/hooks/useWelcomeToast.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

Use a timeout to kickoff the welcome toast so the local storage flag isn't wiped immediately
  apps/app/src/hooks/useWelcomeToast.tsx
Labels: Clinical App

Use a timeout to kickoff the welcome toast so the local storage flag isn't wiped immediately (#2394)
  apps/app/src/hooks/useWelcomeToast.tsx
Labels: Clinical App

increase timeout to welcome and remove unnecessary logs
  apps/app/src/hooks/useWelcomeToast.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

increase timeout to welcome and remove unnecessary logs (#2395)
  apps/app/src/hooks/useWelcomeToast.tsx
  apps/app/src/views/routes/SelfSignup/views/SelfSignupPage.tsx
Labels: Clinical App

extract NewSupervisorForm
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements

feat(settings): add LillyDirect to Form Health mail order pharmacies
  packages/settings/src/lib/photon.ts
Labels: Settings

refactor with currentSupervisor
  packages/elements/src/photon-multirx-form/components/SupervisorCard.tsx
Labels: Elements

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
