Repository Photon-Health/client, changes with the labels that .github/labeler.yml gives for each.
All labels: Elements, SDK, Components, Settings, Patient App, Clinical App, Extension

fix
  apps/app/e2e/sso_login.spec.ts
Labels: Clinical App

push times
  apps/app/e2e/auth.setup.ts
  apps/app/playwright.config.ts
Labels: Clinical App

Create test to assert additional notes are ignored when using template id prefill
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
Labels: Elements

Define the rxNotesPrefill in draft prescriptions provider and use them in rx creation and the prescription card
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/formatters.ts
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
Labels: Elements, Components

fixer
  apps/app/e2e/sso_login.spec.ts
Labels: Clinical App

new fix
  apps/app/e2e/sso_login.spec.ts
Labels: Clinical App

Fixer bupper
  apps/app/e2e/sso_login.spec.ts
Labels: Clinical App

fix mock draft prescriptions provider typecheck
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
Labels: Components

Fixer up real
  apps/app/e2e/sso_login.spec.ts
Labels: Clinical App

Drop in some logs
  apps/app/src/App.tsx
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

newts
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

Fix allowed origin test
  apps/app/src/App.tsx
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

fix rx notes prefill cases when additionalnotes or weight are empty
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
Labels: Components

Add Web App Prescribing Override (#2646)
  apps/app/e2e/auth.setup.ts
  apps/app/e2e/sso_login.spec.ts
  apps/app/playwright.config.ts
  apps/app/src/App.tsx
  apps/app/src/order-workflow-analytics.test.tsx
  apps/app/src/views/routes/AppOverride.tsx
  apps/app/src/views/routes/Disallowed.tsx
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/SSOLogin.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/components/organization/utils.ts
  packages/sdk/src/types.ts
Labels: SDK, Clinical App

fix boson redirect
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

Bump elements patch version
  packages/elements/package.json
Labels: Elements

Fix regex
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

Fix bug for Form where additional-notes are ignored in templated rx creation (#2648)
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/utils/formatters.ts
  packages/components/src/systems/TestMocks/MockDraftPrescriptionsProvider.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PrescribeWorkflow.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/prescribe-workflow-template-prefill.test.tsx
Labels: Elements, Components

push tests
  apps/app/src/views/routes/SSOLogin.spec.ts
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

fix test
  apps/app/src/views/routes/SSOLogin.spec.ts
Labels: Clinical App

Fix boson redirect (#2649)
  apps/app/src/views/routes/SSOLogin.spec.ts
  apps/app/src/views/routes/SSOLogin.tsx
Labels: Clinical App

don't use dayjs
  apps/app/src/views/routes/Prescription.tsx
Labels: Clinical App

use formatDate instead of toLocale
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
Labels: Components

bugfix order date display in clinical app (#2652)
  apps/app/src/views/routes/Prescription.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
Labels: Components, Clinical App

enabling an experiment to skip readyBy flow
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

create separate UTC versions of formatDate
  apps/app/src/utils.ts
Labels: Clinical App

audit app code
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
Labels: Clinical App

review defs
  apps/app/src/utils.ts
  packages/components/src/utils/formatDate.ts
  packages/elements/src/utils.ts
Labels: Elements, Components, Clinical App

audit packages
  packages/components/src/index.ts
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/PatientSelect.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
Labels: Components

pass null to resolver to remove logo
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
Labels: Clinical App

update CLAUDE.md
  CLAUDE.md
Labels: none

bump package ver
  packages/elements/package.json
Labels: Elements

format order and prescription related dates in clinical app in local time (#2654)
  CLAUDE.md
  apps/app/src/utils.ts
  apps/app/src/views/routes/PatientDetails/index.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
  packages/components/src/index.ts
  packages/components/src/systems/PatientInfo/index.tsx
  packages/components/src/systems/PatientSelect.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/utils/formatDate.ts
  packages/elements/package.json
  packages/elements/src/utils.ts
Labels: Elements, Components, Clinical App

pass null to resolver to remove logo (#2655)
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettings.tsx
Labels: Clinical App

Validate phone numbers for invites
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
Labels: Clinical App

Validate phone numbers for invites (#2657)
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
Labels: Clinical App

Use backend full name as source of truth
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

Use backend full name as source of truth (#2659)
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
Labels: Clinical App

enabling an experiment to skip readyBy flow (#2653)
  apps/patient/src/configs/featureFlags.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

move faqs to backend
  apps/patient/src/api/internal.ts
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/graphql/queries.ts
Labels: Patient App

.github/labeler.yml:

Elements:
  - changed-files:
      - any-glob-to-any-file: 'packages/elements/**'

SDK:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/**'

Components:
  - changed-files:
      - any-glob-to-any-file: 'packages/components/**'

Settings:
  - changed-files:
      - any-glob-to-any-file: 'packages/settings/**'

'Patient App':
  - changed-files:
      - any-glob-to-any-file: 'apps/patient/**'

'Clinical App':
  - changed-files:
      - any-glob-to-any-file: 'apps/app/**'

'Extension':
  - changed-files:
      - any-glob-to-any-file: 'apps/extension/**'
