Repository Photon-Health/client, pull requests merged in 2024-06, with the labels that each got.

#1208 Default Add Medication to Catalog From Advanced Search
  apps/app/src/views/components/AdvancedDrugSearch.tsx
  packages/elements/package.json
  packages/elements/src/photon-checkbox/photon-checkbox-component.tsx
  packages/elements/src/photon-med-search-dialog/photon-med-search-dialog-component.tsx
  packages/elements/src/photon-med-search/photon-med-search-component.tsx
Labels: Clinical App, Elements

#1211 "Refills" doesn't have a default
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/util/clearForm.ts
Labels: Elements

#1210 FIX: Mail Order Only Is Not showing Up in Pharmacy select Card
  packages/components/src/particles/Tabs/Tabs.stories.tsx
  packages/components/src/particles/Tabs/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/package.json
Labels: Elements, Components

#1213 Add pharmacyId to deep link
  apps/app/src/views/routes/PrescriptionForm.tsx
  package-lock.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
Labels: Clinical App, Elements

#1214 Track selected pharmacy rank in list
  apps/patient/public/index.html
  apps/patient/src/index.tsx
  apps/patient/src/views/Pharmacy.tsx
  package-lock.json
  package.json
Labels: Patient App

#1220 Add Xyon Health settings
  apps/patient/src/assets/xyon_logo.svg
  packages/settings/src/lib/neutron.ts
Labels: Patient App, Settings

#1222 Update react-ga to react-ga4
  apps/patient/src/index.tsx
  apps/patient/src/views/Pharmacy.tsx
  package-lock.json
  package.json
Labels: Patient App

#1224 Remove unnecessary GA setup tag
  apps/patient/public/index.html
Labels: Patient App

#1227 Fix button being enabled without a selection
  apps/app/src/views/routes/Settings/components/treatments/TreatmentForm.tsx
Labels: Clinical App

#1228 Remove boilerplate code and add quickstart instructions to elements npm readme
  packages/elements/README.md
Labels: Elements

#1233 Set local and STP for Great Many on photon
  packages/settings/src/lib/photon.ts
Labels: Settings

#1235 Disable STP for DrTelx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

#1238 Adv med dropdown fix
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-med-search/components/MedicationConceptDropdown.tsx
  packages/elements/src/photon-med-search/components/MedicationFilterDropdown.tsx
  packages/elements/src/photon-med-search/photon-med-search-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
Labels: Elements, Components

#1240 Fixing refills in Templates
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/RefillsInput.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/index.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/utils.ts
Labels: Clinical App

#1241 WS to retrigger Neutron build
  packages/components/dev/App.tsx
Labels: Components

#1243 Fix refill count incorrect on patient app
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Main.tsx
Labels: Patient App

#1245 Additional settings for Counsel and DrTelx
  apps/patient/src/assets/counsel_logo.png
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Patient App, Settings

#1247 handle infinite spinner issue in local pickup tab
  packages/components/src/systems/PharmacySearch/index.tsx
Labels: Components
