Repository Photon-Health/client, pull requests merged in 2024-05, with the labels that each got.

#1146 Two Auth0 Providers
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/utils.ts
Labels: Elements

#1148 Show Walmart with med price up top
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1154 Fix Deeplinking
  packages/elements/package.json
  packages/elements/src/utils.ts
Labels: Elements

#1155 Add mail order options for GoalMD sandbox
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1157 Re-deploy Walmart up top
  apps/patient/src/views/Pharmacy.tsx
Labels: ready

#1158 Upload source maps after build
  .github/workflows/upload-source-maps-to-datadog.yml
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Clinical App, Patient App

#1163 Mrochlin/bump photon 3498222
  .github/workflows/upload-source-maps-to-datadog.yml
  apps/app/buildspec.yml
  apps/app/src/index.tsx
  apps/app/src/views/components/ContactView.tsx
  apps/app/src/views/components/LocationSearch.tsx
  apps/app/src/views/components/TicketModal.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/Credentials.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteList.tsx
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
  apps/app/src/views/routes/Settings/components/webhooks/Webhooks.tsx
  apps/patient/buildspec.yml
  apps/patient/src/index.tsx
  package-lock.json
  package.json
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/utils.ts
  packages/settings/src/lib/neutron.ts
Labels: ready

#1165 Add Datadog vars for APM source code integration
  apps/app/buildspec.yml
  apps/patient/buildspec.yml
Labels: Clinical App, Patient App

#1167 tweaks to allow running the app against tau
  apps/app/.env.tau
  packages/settings/src/index.ts
Labels: Clinical App, Settings, ready

#1169 Source map error testing
  apps/app/src/views/components/Page.tsx
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
  apps/patient/src/views/Review.tsx
Labels: Clinical App, Patient App

#1168 Small contrast fix on get directions btn
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1170 Remove source map error triggers
  apps/app/src/views/components/Page.tsx
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
  apps/patient/src/views/Review.tsx
Labels: Clinical App, Patient App

#1142 FAQ for the Patient App on the Status page
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App, ready

#1174 No autocomplete in the dropdowns
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
Labels: Elements

#1175 Don't Double Submit orders
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1177 Add settings for Great Many
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

#1178 Condensed status stepper
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/HorizontalStatusStepper.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1179 Bump Elements Version
  packages/elements/package.json
Labels: Elements

#1185 Fix pharmacy selection UI resetting if modal closed without location
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1187 Fix unnecessary page reload on session success
  packages/elements/package.json
  packages/elements/src/store.ts
Labels: Elements, SDK

#1190 Retriggering RC for Double Reload
  packages/elements/package.json
Labels: Elements

#1193 Stand Alone Med History Card
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/package.json
  packages/elements/src/index.ts
  packages/elements/src/photon-med-history/index.tsx
  packages/elements/src/photon-med-history/photon-med-history.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Clinical App, Elements, Components

#1194 Add holiday hours disclaimer
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PickupOptions.tsx
Labels: Patient App

#1197 Add user id to settings page
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
Labels: Clinical App, ready

#1202 Remove Walmart med price pilot
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/data/walmartMedPrices.json
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1204 Add neutron settings for drtelx
  packages/settings/src/lib/neutron.ts
Labels: Settings, ready
