Repository Photon-Health/client, pull requests merged in 2024-03, with the labels that each got.

#996 Whitespace change to trigger build
  apps/patient/src/index.tsx
Labels: ready

#995 Polishing the item views
  apps/app/src/views/components/CopyText.tsx
  apps/app/src/views/components/SectionTitleRow.tsx
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/Patient.tsx
  apps/app/src/views/routes/Prescription.tsx
Labels: Clinical App

#999 Fix auto login flag not being respected
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements, ready

#1001 Revert autologin fix
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/settings/src/lib/neutron.ts
Labels: Elements, Settings

#1003 Fix Auto Login Flag
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/store.ts
Labels: Elements

#1002 change photons phone number to link
  apps/patient/src/utils/text.ts
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/NoMatch.tsx
Labels: Patient App

#1008 Fix SMS link in the Patient App
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/NoMatch.tsx
Labels: Patient App

#1010 Add Lifeforce settings
  apps/patient/src/assets/lifeforce_logo.jpeg
  packages/settings/src/lib/neutron.ts
Labels: Patient App, Settings

#1011 Add orderId to Datadog session tracking
  apps/patient/src/views/Main.tsx
Labels: Patient App

#989 Add organization switcher button
  apps/app/src/views/components/Nav.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/lib.ts
Labels: Clinical App, SDK

#1015 Add empower pharmacy mail order option for DrTelx
  packages/settings/src/lib/photon.ts
Labels: Settings

#1013 Hide Templates defaults to false in elements
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Clinical App, Elements, Settings

#970 Rename external user id to be web component prop standard
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements

#1017 Sana Med History Card on Neutron
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1021 Fix, Updating user roles not working
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
Labels: Clinical App

#1020 Upload source maps to Datadog
  .github/workflows/add-comment.yml
  .github/workflows/upload-source-maps-to-datadog.yml
  apps/patient/config-overrides.js
  package-lock.json
  package.json
Labels: Patient App

#1024 Fix missing hrs showing as closed pharmacy
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/utils/general.ts
Labels: Patient App

#1025 Fix Geocoder race condition with standalone elements
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/utils/asyncInterval.ts
  packages/elements/package.json
Labels: Elements, Components

#1036 Hide Medical History Status Column
  packages/components/dev/App.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/package.json
Labels: Elements, Components

#1038 Update DrTelx photon settings
  packages/settings/src/lib/photon.ts
Labels: Settings

#1037 Remove combine modal error
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1042 Bump Elements version for "Pass entire order for order combined event #1040"
  packages/elements/package.json
Labels: Elements

#1043 Add mail order for Openloop and drop branding
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

#1045 Fix another SMS link in the Patient App
  apps/patient/src/views/Canceled.tsx
Labels: Patient App

#1035 Remove Inviter Requirement from the inviteUser mutation
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
Labels: Clinical App

#1006 Pharm change request
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1048 Med Ops can see the Prescribe form but not submit
  packages/components/src/index.ts
  packages/components/src/particles/Alert/Alert.stories.tsx
  packages/components/src/particles/Alert/Alert.tsx
  packages/components/src/particles/Alert/index.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-authorized/photon-authorized.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/utils.ts
Labels: Elements, Components

#1051 Enable Costco for Sesame on neutron
  package-lock.json
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1052 Fix Reroute Error + Can reroute on First Pharmacy Selection
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1055 Test Rerouting on Neutron, setting enablePatientRerouting to true
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1057 Enable patient rerouting in all environments
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

#1053 Separate readyBy options by today/tomorrow
  apps/patient/src/api/internal.ts
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
  package-lock.json
  package.json
Labels: Patient App

#1061 Polish clinical UI
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/app/src/views/routes/Prescriptions.tsx
Labels: Clinical App

#1060 Patient Link broken on Order list page
  apps/app/src/views/routes/Orders.tsx
Labels: Clinical App

#1062 Bump photon
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/routes/Orders.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/app/src/views/routes/Prescriptions.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
  package-lock.json
  package.json
Labels: ready

#1063 Add .well-known file for microsoft app
  apps/app/public/.well-known/microsoft-identity-association.json
Labels: Clinical App

#1066 Fix readyByTime translation to UTC timestamp
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#1069 Better Order Cancelled Page
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

#1074 Update SDK Readme to demonstrate how to check if a user is Authenticated
  packages/sdk/README.md
Labels: SDK

#1073 Disable Next button when readyBy day is changed
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#1072 Fix gap above today/tomorrow section on small screens
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App
