Repository Photon-Health/client, pull requests merged in 2024-12, with the labels that each got.

#1493 Remove mail order option for openloop
  packages/settings/src/lib/photon.ts
Labels: Settings

#1496 shortlink action
  apps/patient/src/views/Main.tsx
Labels: Patient App

#1498 Include carrier in mail order tracking link
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/fulfillmentsHelpers.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1501 Display default info for mail order pharmacy, move tracking link into the pharmcy info section
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1503 add call pharmacy button
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1504 Template Quantity can allows for values between 0 and 1 also
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/DispenseQuantity.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/utils.ts
Labels: Clinical App

#1506 Show generic price disclaimer on discount card
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
Labels: Patient App

#1507 Logo refresh for Counsel health
  apps/patient/src/assets/counsel_logo.png
  apps/patient/src/assets/counsel_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1510 Only check for duplicate order fills on non canceled recent orders
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/sdk/package.json
  packages/sdk/project.json
Labels: Elements, SDK, Components

#1513 🍴 Price v Insurance Fork
  apps/patient/src/App.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  package-lock.json
  package.json
Labels: Patient App

#1515 Small copy update on discount card info modal
  apps/patient/src/utils/text.tsx
Labels: Patient App

#1516 Update copy on cash price fork test
  apps/patient/src/utils/text.tsx
Labels: Patient App

#1518 Fix Race Condition between getting a patient and creating an order
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1520 Mask med names on status page for DataDog replays
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

#1521 Show price flag in for all patients that saw the fork 🍴
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#1525 Fix incorrect text on order placed sub-header
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/components/statusV2/Step.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1528 Load patient data and add to formStore for the prescribe workflow web component
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1531 Photons/merge
  package-lock.json
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: ready to merge

#1532 new exception types + copy updates
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

#1535 Add provider and date to duplicate order modal
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
Labels: Components

#1536 fixed an issue with pharmacies not loading in the demo
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1537 fixing issue with demo loading pharmacies [manually applied on neutron branch]
  apps/patient/src/views/Pharmacy.tsx
Labels: ready to merge
