Repository Photon-Health/client, pull requests merged in 2024-08, with the labels that each got.

#1288 Add redrock & foothills pharmacy
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, ready

#1291 Cleanup ready time formatting
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1294 New test for a white-labeled delivery option
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1297 I accidentally merged the boson test org name in place of neutron's
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1293 infinite radius pharmacy search
  apps/app/src/views/components/PharmacySearch.tsx
  apps/app/src/views/routes/NewOrder/components/SelectPharmacyCard/components/LocalPickup.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/views/Pharmacy.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/elements/src/stores/pharmacy.ts
Labels: Clinical App, Elements, Patient App, Components

#1300 Add externalId to template overrides
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, SDK, Components

#1302 Fix optional externalId bug
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, ready

#1304 Add foothills pharmacy to Sesame's Neutron settings
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1306 Remove white-labeled capsule test
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1309 Add redrock to Photon test account
  packages/settings/src/lib/photon.ts
Labels: Settings, ready

#1311 Update redrock pharmacy id
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, ready

#1314 scroll to top on route change
  apps/patient/src/App.tsx
  apps/patient/src/views/Main.tsx
Labels: Patient App

#1317 fix edit patient bug to make sure name is actually updated
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements

#1321 filter roles
  apps/app/src/views/routes/Settings/components/utils/Roles.tsx
Labels: Clinical App, ready

#1323 hardcode 100 miles
  apps/patient/src/graphql/queries.ts
Labels: Patient App

#1324 Revert "hardcode 100 miles"
  apps/patient/src/graphql/queries.ts
Labels: Patient App

#1327 fix radius
  apps/patient/src/api/internal.ts
Labels: Patient App, ready

#1330 Enable local delivery Amazon Pharmacy test for sesame
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
  package-lock.json
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1336 Set top ranked pharmacy search radius to 15mi
  apps/patient/src/api/internal.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1335 patient app point at tau
  apps/patient/.env.tau
  apps/patient/project.json
  package.json
Labels: Patient App

#1341 fix navigation by patient id in clinical app
  apps/app/src/views/routes/Patient.tsx
Labels: Clinical App
