Repository Photon-Health/client, pull requests merged in 2024-04, with the labels that each got.

#1077 Fix review rx accordion collapse
  apps/patient/src/components/PrescriptionsList.tsx
Labels: Patient App

#1080 Walgreens urgency pilot
  apps/patient/src/assets/walgreens_small.png
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Patient App, Settings

#1088 Geocode change in patient app is breaking the experience
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1081 Show Controlled Medication Error
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

#1092 Enable `topRankedWalgreens` on neutron
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1094 Enable `topRankedWalgreens` for Blueberry on photon
  packages/settings/src/lib/photon.ts
Labels: Settings

#1097 Disable topRankedWalgreens for Blueberry
  packages/settings/src/lib/photon.ts
Labels: ready

#1098 Disable topRankedWalgreens for Blueberry on production
  packages/settings/src/lib/photon.ts
Labels: Settings

#1101 Add 30 min badge to all Walgreens pharmacies
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1104 Re-enable `topRankedWalgreens` for Blueberry
  packages/settings/src/lib/photon.ts
Labels: Settings

#1105 Set `topRankedWalgreens` on photon
  packages/settings/src/lib/photon.ts
Labels: ready

#1106 Strict mode + Pharmacy.tsx
  apps/patient/src/api/external.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/configs/graphqlClient.ts
  apps/patient/src/configs/theme.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/index.tsx
  apps/patient/src/reportWebVitals.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/tsconfig.base.json
  apps/patient/tsconfig.json
  package-lock.json
  package.json
  packages/settings/src/index.ts
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1108 Organize RX history in chronological order
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/package.json
Labels: Elements, Components

#1110 Fix location search console errors
  apps/app/public/index.html
  apps/patient/public/index.html
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/utils/getLocations.ts
  packages/components/src/utils/loadGoogleScript.ts
Labels: Clinical App, Patient App, Components

#1112 Remove unnecessary console error
  apps/patient/src/views/Main.tsx
Labels: Patient App

#1113 Bump elements to `0.8.8`
  packages/elements/package.json
Labels: Elements

#1114 Revert google async load
  apps/app/public/index.html
  apps/patient/public/index.html
  packages/components/src/utils/loadGoogleScript.ts
Labels: Clinical App, Patient App, Components

#1115 Fix order received/ready demo sms'
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1116 Bump elements for RollBack
  packages/elements/package.json
Labels: Elements

#1117 Add a general notes parameter to the prescribe element
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1118 Add delivery options for Sana
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  packages/settings/src/lib/boson.ts
Labels: Patient App, Settings

#1119 Copy refinements on delivery vs local
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1120 Enable Sana delivery on neutron for testing
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1122 Sentence-case on delivery options subheaders
  apps/patient/src/components/BrandedPharmacyCard.tsx
Labels: Patient App

#1124 Fix err fetching catalogs in advanced search
  packages/elements/src/photon-med-search/photon-med-search-component.tsx
Labels: Elements

#1129 Better error handling on internal patient queries
  apps/patient/src/api/internal.ts
Labels: Patient App

#1133 Display an error for Auth0 Login invitation issue
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

#1132 Don't error when no pharmacies are present
  apps/patient/src/api/internal.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1137 Allow us to understand which providers are using Advance Med search
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/elements/src/photon-med-search/photon-med-search-component.tsx
Labels: Clinical App, Elements

#1136 Set pkg version for apps to commit hash
  .eslintrc.json
  apps/app/config-overrides.js
  apps/app/src/globals.d.ts
  apps/app/src/index.tsx
  apps/app/tsconfig.json
  apps/patient/config-overrides.js
  apps/patient/src/globals.d.ts
  apps/patient/src/index.tsx
  apps/patient/tsconfig.json
  package-lock.json
  package.json
Labels: Clinical App, Patient App

#1144 Add Walmart med price
  apps/patient/src/assets/walmart_small.svg
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/data/walmartMedPrices.json
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1143 Remove Sentry from Clinical app
  apps/app/src/index.tsx
  apps/app/src/views/components/LocationSearch.tsx
  package-lock.json
  package.json
Labels: Clinical App
