Repository Photon-Health/client, pull requests merged in 2024-11, with the labels that each got.

#1465 Setting "Enable Order" to false has bad copy
  package-lock.json
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

#1467 Add two more configs for Xyon orgs
  packages/settings/src/lib/photon.ts
Labels: Settings

#1470 Fix missing white bg on select org and /settings/catalog cards
  apps/app/src/views/routes/SelectOrg.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

#1466 persist url search params when session expires
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/Main.tsx
  packages/react/src/provider.tsx
  packages/sdk/src/auth.ts
Labels: Clinical App, SDK

#1473 Update Elements Readme
  packages/elements/README.md
Labels: Elements

#1475 Add more xyon config
  packages/settings/src/lib/photon.ts
Labels: Settings

#1477 Disallow routing to the same pharmacy
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1457 Bump Typescript to latest (5.6.3) and Nx to v20
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier.yml
  .github/workflows/type-check.yml
  .github/workflows/vitest.yml
  .gitignore
  .nvmrc
  .prettierignore
  apps/app/buildspec.yml
  apps/app/config-overrides.js
  apps/app/src/gql/fragment-masking.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/index.tsx
  apps/app/src/views/components/AdvancedDrugSearch.tsx
  apps/app/src/views/components/NavButton.tsx
  apps/app/src/views/components/RadioCardGroup.tsx
  apps/app/src/views/components/TicketModal.tsx
  apps/app/src/views/routes/Settings/components/TreatmentForm.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/index.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentForm.tsx
  apps/patient/buildspec.yml
  apps/patient/config-overrides.js
  apps/patient/src/views/Main.tsx
  jest.config.ts
  jest.preset.js
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/components/project.json
  packages/components/src/store.ts
  packages/components/src/utils/createMutation.ts
  packages/components/tsconfig.json
  packages/elements/package.json
  packages/elements/project.json
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/src/photon-medication-dropdown/photon-medication-dropdown.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/store.ts
  packages/elements/src/stores/catalog.ts
  packages/elements/src/stores/dispenseUnit.ts
  packages/elements/src/stores/patient.ts
  packages/elements/src/stores/pharmacy.ts
  packages/elements/tsconfig.json
  packages/react/package.json
  packages/react/project.json
  packages/react/src/provider.tsx
  packages/react/tsconfig.json
  packages/sdk/package.json
  packages/sdk/project.json
  packages/sdk/tsconfig.json
  packages/settings/project.json
Labels: Clinical App, Elements, SDK, Patient App, Components, Settings

#1479 refills is fills - 1
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1483 help button; holiday hour; reorder the page
  apps/patient/src/components/HolidayAlert.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1488 Remove 5 rx limit on order page
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

#1490 sana logo fix
  apps/patient/src/assets/sana_care_logo.png
  apps/patient/src/assets/sana_care_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings
