Repository Photon-Health/client, pull requests merged in 2024-07, with the labels that each got.

#1249 Bump elements
  packages/elements/package.json
Labels: Elements

#1252 add 2024 holidays
  apps/patient/src/components/PickupOptions.tsx
Labels: Patient App

#1201 Add order readiness info to status page
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Status.tsx
  packages/sdk/src/types.ts
Labels: SDK, Patient App

#1255 Add branding for Measured
  apps/patient/src/assets/measured_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1258 Add Xyon's new customer to Photon settings
  packages/settings/src/lib/photon.ts
Labels: Settings

#1260 Mrochlin/required length shared secret
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
Labels: Clinical App, ready

#1262 Add close btn to demo modal
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1264 Confirm modal was too big
  apps/app/src/views/components/GuardDialog.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
Labels: Clinical App

#1266 Dispatch Draft Prescription Delete Event
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

#1267 Capsule x Sesame next day
  apps/patient/src/assets/amazon_pharmacy.png
  apps/patient/src/assets/amazon_pharmacy_logo_small.png
  apps/patient/src/assets/capsule_logo.png
  apps/patient/src/assets/capsule_logo_small.png
  apps/patient/src/assets/costco_logo_small.png
  apps/patient/src/assets/costco_pharmacy_logo.png
  apps/patient/src/assets/costco_small.png
  apps/patient/src/assets/walgreens_small.png
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1269 Hide delivery header if no options
  apps/patient/src/components/BrandedOptions.tsx
Labels: Patient App

#1271 Refills have a max of 11
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

#1273 Version Bump for Refills max
  packages/elements/package.json
Labels: Elements

#1275 filter before virtualization
  packages/elements/package.json
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
Labels: Elements

#1276 Same day capsule sesame test
  apps/patient/src/components/BrandedPharmacyCard.tsx
Labels: Patient App

#1278 Photon: Revert Virtualizer
  apps/patient/src/components/BrandedPharmacyCard.tsx
  packages/elements/package.json
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: ready

#1280 accessor should be true in dropdown
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
Labels: Elements

#1279 Update Capsule test copy to "Free Same or Next Day Delivery"
  apps/patient/src/components/BrandedPharmacyCard.tsx
Labels: Patient App

#1283 Revert "Photon: Revert Virtualizer"
  apps/patient/src/components/BrandedPharmacyCard.tsx
  packages/elements/package.json
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: ready

#1284 Delete Draft Fix
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

#1286 Highlight capsule even more
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/text.tsx
Labels: Patient App
