Repository Photon-Health/client, pull requests merged in 2024-02, with the labels that each got.

#910 Revert photon deploy
  .eslintrc.json
  .github/workflows/merge-bot.yml
  .vscode/extensions.json
  apps/app/src/model/fragments.ts
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/routes/SelectOrg.tsx
  package-lock.json
  packages/components/src/store.ts
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/utils/createMutation.ts
  packages/components/src/utils/createQuery.ts
  packages/components/src/utils/uniqueFills.ts
  packages/elements/src/store.ts
  packages/react/src/provider.tsx
  packages/sdk/src/fragments.ts
  packages/sdk/src/lib.ts
  packages/settings/src/lib/neutron.ts
Labels: Clinical App, Elements, SDK, Components, Settings, ready

#911 fix misuse of fragment names
  apps/app/src/model/fragments.ts
  apps/app/src/views/components/MedicationSelect.tsx
  apps/app/src/views/routes/NewOrder/index.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateActions.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/index.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentActions.tsx
  apps/app/src/views/routes/Settings/views/TemplateTab.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
  packages/components/src/store.ts
  packages/elements/src/store.ts
  packages/elements/src/stores/catalog.ts
Labels: Clinical App, Elements, Components

#916 Revert "Revert photon deploy"
  .eslintrc.json
  .github/workflows/merge-bot.yml
  .vscode/extensions.json
  apps/app/src/model/fragments.ts
  apps/app/src/views/components/MedicationSelect.tsx
  apps/app/src/views/components/TablePage.tsx
  apps/app/src/views/routes/NewOrder/index.tsx
  apps/app/src/views/routes/SelectOrg.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateActions.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/index.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentActions.tsx
  apps/app/src/views/routes/Settings/views/TemplateTab.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
  package-lock.json
  packages/components/src/store.ts
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/utils/createMutation.ts
  packages/components/src/utils/createQuery.ts
  packages/components/src/utils/uniqueFills.ts
  packages/elements/src/store.ts
  packages/elements/src/stores/catalog.ts
  packages/react/src/provider.tsx
  packages/sdk/src/fragments.ts
  packages/sdk/src/lib.ts
  packages/settings/src/lib/neutron.ts
Labels: ready

#918 Add Med History for Sana
  packages/settings/src/lib/photon.ts
Labels: Settings

#912 Mrochlin/maybe auth fix
  packages/sdk/src/auth.ts
Labels: SDK

#923 Padding the loading: this has been bothering me for months
  packages/elements/src/photon-dropdown/index.tsx
Labels: Elements

#926 Remove urgent at bottom test
  apps/patient/src/App.tsx
  apps/patient/src/views/Review.tsx
Labels: Patient App

#928 record 100% of sessions
  apps/app/src/index.tsx
Labels: Clinical App

#930 check session add org
  packages/sdk/src/auth.ts
Labels: SDK

#933 in <SelectOrg />, pass orgId to login if theres only one organization
  apps/app/src/views/routes/SelectOrg.tsx
Labels: Clinical App

#932 Remove Zendesk Chat
  apps/app/public/index.html
  apps/app/src/App.tsx
  apps/app/src/views/components/Zendesk.tsx
  packages/components/index.html
Labels: Clinical App, Components

#937 flicker
  apps/app/src/views/routes/Login.tsx
  apps/app/src/views/routes/Main.tsx
Labels: Clinical App

#941 edit user modal edit name and profile
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/users/UserItemActions.tsx
  apps/app/src/views/routes/Settings/components/utils/Roles.tsx
Labels: Clinical App

#938 fix wrapping
  apps/app/src/views/components/UserProfile.tsx
Labels: Clinical App

#944 Dispense Unit should not default to "Each"
  packages/elements/src/photon-card/photon-card-component.tsx
  packages/elements/src/photon-datepicker/photon-datepicker-component.tsx
  packages/elements/src/photon-datepicker/style.css
  packages/elements/src/photon-dispense-units/photon-dispense-units-component.tsx
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-dropdown/style.css
  packages/elements/src/photon-gender-input/style.css
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/style.css
  packages/elements/src/photon-multirx-form/util/clearForm.ts
  packages/elements/src/photon-number-input/photon-number-input-component.tsx
  packages/elements/src/photon-number-input/style.css
  packages/elements/src/photon-patient-select/style.css
  packages/elements/src/photon-phone-input/photon-phone-input-component.tsx
  packages/elements/src/photon-phone-input/style.css
  packages/elements/src/photon-sex-input/style.css
  packages/elements/src/photon-state-input/style.css
  packages/elements/src/photon-text-input/photon-text-input-component.tsx
  packages/elements/src/photon-text-input/style.css
  packages/elements/src/photon-textarea/photon-textarea-component.tsx
  packages/elements/src/photon-textarea/style.css
Labels: Elements

#942 Improved STP context
  packages/components/src/index.ts
  packages/components/src/particles/Badge/index.tsx
  packages/components/src/particles/Card/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/systems/PharmacySelect/PatientDetails.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PharmacySelect/index.tsx
Labels: Components

#946 Maven branding
  apps/patient/src/assets/maven_logo.svg
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/views/Urgency.tsx
  packages/settings/src/lib/neutron.ts
Labels: Patient App, Settings

#949 Help understand if duplicate drafts are actually a duplicates
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
Labels: Components

#952 Add Auth0 Connection param
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/sdk/src/auth.ts
  packages/sdk/src/lib.ts
Labels: Elements, SDK

#958 Bump SDK version for Auth0 connection
  packages/sdk/package.json
Labels: SDK

#957 Scroll to top on item pages
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/Patient.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/patient/src/views/Status.tsx
Labels: Clinical App, Patient App, ready

#961 Update pharmacy selection cta copy
  apps/patient/src/utils/text.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Urgency.tsx
Labels: Patient App

#960 change state error msging
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
Labels: Clinical App

#964 Add xyon customer configuration
  packages/settings/src/lib/photon.ts
Labels: Settings

#965 Branding for 3 new orgs
  apps/patient/src/assets/grow_therapy_logo.svg
  apps/patient/src/assets/hera_fertility_logo.svg
  apps/patient/src/assets/superpower_logo.svg
  packages/settings/src/lib/neutron.ts
Labels: Patient App, Settings

#959 fix default settings
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  apps/app/src/views/routes/NewOrder/components/SelectPharmacyCard/components/MailOrder.tsx
  apps/app/src/views/routes/NewOrder/index.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  packages/settings/src/index.ts
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Clinical App, Patient App, Settings

#967 Updated Auth Alert Message
  apps/app/src/views/routes/Login.tsx
  packages/elements/src/photon-authorized/photon-authorized.tsx
Labels: Clinical App, Elements

#951 Urgency selection for realzies
  apps/patient/src/App.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/text.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Urgency.tsx
Labels: Patient App

#973 Add closing soon to pharmacy option
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.ts
Labels: Patient App

#977 Default to photon logo without org logo
  apps/patient/src/components/Nav.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
Labels: Patient App, Settings

#976 Disable ready by option if it's within 30 minutes
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#979 Costco in Pickup List
  apps/patient/src/api/internal.ts
  apps/patient/src/assets/costco_small.png
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/isGLP.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Patient App, Settings

#981 Add Costco Filter
  packages/settings/src/lib/photon.ts
Labels: Settings

#982 Un-cramp item headers
  apps/app/src/utils.ts
  apps/app/src/views/components/CopyText.tsx
  apps/app/src/views/components/OrderStatusBadge.tsx
  apps/app/src/views/components/Page.tsx
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/Orders.tsx
  apps/app/src/views/routes/Patient.tsx
  apps/app/src/views/routes/Prescription.tsx
Labels: Clinical App

#985 Testing Costco Pharmacy on neutron
  packages/settings/src/lib/neutron.ts
Labels: Settings

#986 Fix multi-medication order names missing comma
  apps/app/src/views/routes/Orders.tsx
  apps/app/src/views/routes/Patient.tsx
Labels: Clinical App

#990 Fix disabled ready by radio border still selectable
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#988 Add settings for drtelx and redbox
  apps/patient/src/assets/redbox_logo.jpg
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Patient App, Settings
