Repository Photon-Health/client, pull requests merged in 2024-10, with the labels that each got.

#1415 Fix Cash price displayed datadog action
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1402 Remove New Medication Search Educational banner
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

#1419 Expose connection param in photon-client
  packages/components/src/systems/Client/index.tsx
  packages/elements/package.json
Labels: Elements, Components, ready

#1420 Save patientSelectedPrice flag
  apps/patient/src/api/internal.ts
  apps/patient/src/components/Card.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/graphql/mutations.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1422 PA language for sesame plus precommit fix
  .husky/pre-commit
  .vscode/settings.json
  apps/patient/src/components/order-summary/OrderSummary.tsx
  package-lock.json
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Patient App, Settings

#1425 show banner for hurricane
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1427 Add catalog params to photon-prescribe-workflow
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/stores/catalog.ts
Labels: Elements

#1431 allow ready to merge label
  .github/workflows/merge-bot.yml
Labels: ready to merge

#1433 Follow-up to sana care mail order
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1436 Fix Amazon Pharmacy missing in Sana mail order options
  apps/patient/.env.photon
Labels: Patient App

#1430 sms link in faq
  apps/patient/src/components/FAQ.tsx
Labels: Patient App

#1439 Add healthwarehouse to Photon test org selector in Neutron
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, ready

#1443 add new exception types
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
Labels: Patient App

#1441 Add Neutron config for berrystreet
  packages/settings/src/lib/neutron.ts
Labels: Settings, ready

#1446 Discount card test follow-up
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1442 Update Treatments query
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Clinical App, Elements

#1451 Swap distance with cash price
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1454 Add Event when adding a Draft Prescription
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

#1456 add pa exception messages by organization
  apps/patient/src/components/order-summary/OrderSummary.tsx
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Patient App, Settings

#1459 remove console logs and unnecessary comment
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1461 Fix issue with combine orders with clinical alerting
  packages/components/src/particles/Banner/index.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlert.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertAcknowledgement.tsx
  packages/components/src/systems/ScreeningAlerts/ScreeningAlertByEntity.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

#1463 incrementing version of elements
  packages/elements/package.json
Labels: Elements
