Repository Photon-Health/client, pull requests merged in 2024-09, with the labels that each got.

#1343 Add Smartscripts to Photon test account
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

#1345 fixing spacing in the treatments tab
  apps/app/src/views/components/SplitLayout.tsx
Labels: Clinical App

#1349 Enable med search for all users
  package-lock.json
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1350 Feature flag for specific med search testers
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1351 Disable Amazon Pharmacy test
  packages/settings/src/lib/photon.ts
Labels: Settings

#1353 Add olympia pharmacy to photon test neutron account
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, ready

#1354 Limit med search to 3 or more chars in search string
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

#1358 Add additional Counsel provider for med search testing
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1362 quantity must be positive, but can be less than one
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

#1365 Add 4 med search testers
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1347 Update order page to use correct address
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App, ready

#1369 Update costco logic to always show instead of just for GLP1 orders
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1370 Add Ognomy provider to new med search users
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1371 Fix stutter with mail order
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1322 codegen the patient app
  .eslintignore
  .github/workflows/prettier.yml
  .gitignore
  .prettierignore
  apps/patient/codegen.ts
  apps/patient/package.json
  apps/patient/project.json
  apps/patient/src/api/internal.ts
  apps/patient/src/components/HorizontalStatusStepper.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/configs/graphqlClient.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/data/demoPharmacies.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  package-lock.json
  package.json
Labels: Patient App

#1374 Add ops to new med search
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1376 Allow adding whole organizations to the new medication search
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1379 Release med search on clinical app
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/particles/Banner/Banner.stories.tsx
  packages/components/src/particles/Banner/index.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Clinical App, Elements, Components

#1380 A comment to retrigger Neutron build 🤞
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App

#1382 Revert Neutron "Allow adding whole organizations to the new medication search…
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: ready

#1387 photon/merge neutron
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/particles/Banner/Banner.stories.tsx
  packages/components/src/particles/Banner/index.tsx
  packages/elements/index.html
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: ready

#1361 status page 2.0
  apps/patient/codegen.ts
  apps/patient/public/index.html
  apps/patient/src/App.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/Card.tsx
  apps/patient/src/components/FAQ.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/Logo.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/ReadyText.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/components/statusV2/Step.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/dates.ts
  apps/patient/src/utils/fulfillmentsHelpers.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/StatusV2.tsx
  package-lock.json
  package.json
  packages/sdk/src/types.ts
Labels: SDK, Patient App

#1391 New version for med search
  packages/elements/package.json
Labels: Elements

#1393 Remove enchanced med search optional flag
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1394 Add template name in search
  packages/elements/package.json
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
Labels: Elements

#1339 Disable cancel button on combine order dialog
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/elements/package.json
Labels: Elements, Components

#1261 Add additional configuration for Xyon customer and disable sending or…
  packages/settings/src/lib/photon.ts
Labels: Settings

#1388 singlecare med price UI rebase
  apps/patient/src/api/internal.ts
  apps/patient/src/components/CouponDetails.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/components/index.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
  apps/patient/src/views/StatusV2.tsx
  package-lock.json
Labels: Patient App

#1400 adding new component to power adding to catalog with medisearch
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/utils.ts
  apps/app/src/views/routes/Settings/components/treatments/AddTreatmentToCatalogForm.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
  package-lock.json
Labels: Clinical App

#1399 Create Template Form Includes Medi-Span Results
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/MedicationSelect.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/components/Treatment.tsx
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

#1403 Fix pharmacy missing on status page with coupons
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1401 Add configuration for Measured in Neutron & Photon
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings, ready

#1407 Get Baseline For Selecting a Cash Price
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1409 fixed dangling semicolon
  apps/app/src/views/routes/Settings/components/treatments/TreatmentOptionSearch.tsx
Labels: Clinical App

#1412 exceptions wording improvements
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Clinical App, Elements, Patient App, ready
