Repository Photon-Health/client, pull requests merged in 2024-01, with the labels that each got.

#778 Status page updates
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/data/demoPrescriptions.ts
  apps/patient/src/utils/text.ts
  apps/patient/src/views/Canceled.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/NoMatch.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#798 Clinical API in elements
  .gitignore
  apps/app/src/App.tsx
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/Settings/apollo.tsx
  apps/app/src/views/routes/Settings/components/Profile.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/Credentials.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/RotateSecret.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteForm.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteList.tsx
  apps/app/src/views/routes/Settings/components/organization/Organization.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
  apps/app/src/views/routes/Settings/components/utils/Roles.tsx
  apps/app/src/views/routes/Settings/components/webhooks/WebhookItem.tsx
  apps/app/src/views/routes/Settings/components/webhooks/Webhooks.tsx
  apps/app/src/views/routes/Settings/components/webhooks/WebhooksForm.tsx
  apps/app/src/views/routes/Settings/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-client/index.tsx
  packages/react/src/provider.tsx
  packages/sdk/package.json
  packages/sdk/src/lib.ts
  packages/sdk/src/utils.ts
  tsconfig.base.json
Labels: Clinical App, Elements, SDK, Elements version change

#787 Fix auth on browsers with ITP (i.e. safari)
  apps/app/src/configs/auth.ts
  apps/app/src/views/routes/SelectOrg.tsx
  package-lock.json
  package.json
  packages/sdk/package.json
  packages/sdk/src/auth.ts
  packages/sdk/src/lib.ts
Labels: Clinical App, SDK

#801 Duplicate and Combine Orders
  apps/app/src/views/components/OrderStatusBadge.tsx
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  package-lock.json
  packages/components/src/index.ts
  packages/components/src/particles/Badge/index.tsx
  packages/components/src/particles/Banner/Banner.stories.tsx
  packages/components/src/particles/Banner/index.tsx
  packages/components/src/particles/Button/Button.stories.tsx
  packages/components/src/particles/Button/index.tsx
  packages/components/src/particles/Icon/index.tsx
  packages/components/src/particles/OrderStatusBadge/index.tsx
  packages/components/src/particles/RadioGroup/RadioGroup.stories.tsx
  packages/components/src/particles/RadioGroup/index.tsx
  packages/components/src/particles/RadioGroupCards/RadioGroupCards.stories.tsx
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/particles/Text/index.tsx
  packages/components/src/particles/Textarea/Textarea.stories.tsx
  packages/components/src/particles/Textarea/index.tsx
  packages/components/src/particles/Tooltip/Tooltip.stories.tsx
  packages/components/src/particles/Tooltip/index.tsx
  packages/components/src/systems/AddressForm/index.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PharmacySelect/PatientDetails.tsx
  packages/components/src/systems/PharmacySelect/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/RecentOrders/index.tsx
  packages/components/src/utils/formatRxString.ts
  packages/components/src/utils/uniqueFills.ts
  packages/elements/src/photon-multirx-form-wrapper/index.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PharmacyCard.tsx
  packages/elements/src/photon-multirx-form/index.tsx
  packages/elements/src/photon-multirx-form/util/formatPatientWeight.ts
  packages/sdk/src/lib.ts
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Clinical App, Elements, Elements version change

#829 Fix urgency allowing disabled time selection
  apps/patient/src/views/Urgency.tsx
Labels: Patient App

#803 more sane auto-login
  packages/components/src/store.ts
  packages/components/src/systems/Client/index.tsx
  packages/elements/src/photon-authenticated/index.tsx
  packages/elements/src/photon-client/index.tsx
  packages/elements/src/store.ts
Labels: Elements

#817 logout on userID diff
  packages/elements/src/photon-client/index.tsx
Labels: Elements

#830 Zendesk Form in Clinical App
  .vscode/settings.json
  apps/app/codegen.ts
  apps/app/src/configs/theme.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/components/LocationSearch.tsx
  apps/app/src/views/components/StyledToast.tsx
  apps/app/src/views/components/TicketModal.tsx
  apps/app/src/views/routes/Order.tsx
  apps/app/src/views/routes/Prescriptions.tsx
  apps/app/src/views/routes/Settings/components/invites/InviteItem.tsx
  apps/app/src/views/routes/Settings/components/profile/Profile.tsx
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/index.tsx
  apps/app/src/views/routes/Settings/components/users/EditRolesAction.tsx
  apps/app/src/views/routes/Settings/views/TreatmentTab.tsx
Labels: Clinical App

#839 External Order ID prop on Prescribe Element
  packages/elements/index.html
  packages/elements/src/photon-multirx-form/index.tsx
Labels: Elements, Elements version change

#842 Bump Elements for External Order Id
  packages/elements/package.json
Labels: Elements version change

#855 Tracking Combine and Duplicate orders in the prescribe workflow
  apps/app/src/views/routes/Main.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/index.ts
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/RecentOrders/index.tsx
  packages/components/src/utils/dispatchDatadogAction.ts
Labels: Clinical App, Elements

#867 Fixes Recent Orders Card grabbing cached data
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
Labels: Clinical App, Elements

#864 Adding two Datadog "actions" for capturing combining orders
  apps/patient/package.json
  package-lock.json
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
Labels: Elements

#872 Don't show "no treatments" when treatments are loading
  packages/elements/src/photon-treatment-select/index.tsx
Labels: Elements

#869 hopefully fix auth0 login_required bug
  packages/sdk/src/auth.ts
Labels: SDK

#873 Clean up order status badge
  package-lock.json
  package.json
  packages/components/src/particles/OrderStatusBadge/OrderStatusBadge.stories.tsx
  packages/components/src/particles/OrderStatusBadge/OrderStatusBadge.tsx
  packages/components/src/particles/OrderStatusBadge/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
Labels: Components

#876 Add timezone to urgency datadog action
  apps/patient/src/views/Urgency.tsx
Labels: Patient App, ready

#878 Add urgent option
  apps/patient/src/utils/text.ts
  apps/patient/src/views/Urgency.tsx
Labels: Patient App

#880 HOTFIX: Fix mail order rendering
  apps/patient/src/utils/text.ts
Labels: Patient App

#884 Found branding on production
  packages/settings/src/lib/photon.ts
Labels: Settings

#887 Fix status stepper for mail order
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/utils/text.ts
Labels: Patient App

#888 Fix mail order FILLING status details
  apps/patient/src/components/StatusStepper.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#890 nebraska is NE
  apps/app/src/views/components/StateSelect.tsx
  apps/app/src/views/routes/Settings/components/utils/States.tsx
  packages/elements/src/photon-state-input/index.tsx
Labels: Clinical App, Elements

#893 Enable Combine and Duplicate for BB
  packages/settings/src/lib/photon.ts
Labels: Settings

#883 Fix User Tabs to make it only make the request when the tab is actually loading
  apps/app/src/views/routes/Settings/index.tsx
Labels: Clinical App

#892 Upgrade datadog to the latest
  apps/app/src/views/routes/Main.tsx
  package-lock.json
  package.json
Labels: Clinical App

#895 Add patient/org to rum
  apps/patient/src/views/Main.tsx
Labels: Patient App

#898 Pass options to login with redirect when we do getAccessToken
  packages/sdk/src/auth.ts
Labels: SDK

#899 fail if not ready
  .github/workflows/merge-bot.yml
Labels: ready

#902 dont need to run except on sync, labeled and unlabeled
  .github/workflows/merge-bot.yml
Labels: ready

#905 Fix pine medical org id
  packages/settings/src/lib/neutron.ts
Labels: Settings

#904 Fix unique key error on table page
  .github/workflows/merge-bot.yml
  .vscode/extensions.json
  apps/app/src/views/components/TablePage.tsx
Labels: Clinical App

#908 fix fragment unique names and fix warning about address and name lack…
  apps/app/src/model/fragments.ts
  packages/components/src/store.ts
  packages/elements/src/store.ts
  packages/sdk/src/fragments.ts
  packages/sdk/src/lib.ts
Labels: Clinical App, Elements, SDK, Components

#877 Solid query and mutation
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/utils/createMutation.ts
  packages/components/src/utils/createQuery.ts
  packages/components/src/utils/uniqueFills.ts
Labels: Components, ready

#882 enforce and fix react hook rules
  .eslintrc.json
  apps/app/src/views/routes/SelectOrg.tsx
  package-lock.json
  packages/react/src/provider.tsx
Labels: Clinical App
