Repository Photon-Health/client, pull requests merged in 2025-09, with the labels that each got.

#2040 Fix: price toggle should be enabled by default
  apps/patient/src/Navigation.test.tsx
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/shouldShowPriceToggle.test.tsx
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

#2043 Search team members by user name
  apps/app/README.md
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/users/UsersList.tsx
Labels: Clinical App

#2046 bump elements version
  packages/elements/package.json
Labels: Elements
