Repository Photon-Health/client, pull requests merged in 2025-06, with the labels that each got.

#1920 Fix/infinite spinner external med history
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/elements/package.json
Labels: Elements, Components

#1923 fixing issue with showing amazon pharmacy override
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

#1926 add epiq to neutron mail order options for test org
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1930 add gogo meds to our test account mail orders in boson
  packages/settings/src/lib/boson.ts
Labels: Settings

#1934 Enable testing of Strive in boson
  packages/settings/src/lib/boson.ts
Labels: Settings

#1932 adding amazon price
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

#1939 Enable rtbc for demo org
  apps/app/src/views/routes/PrescriptionForm.tsx
Labels: Clinical App
