Repository Photon-Health/client, pull requests merged in 2025-05, with the labels that each got.

#1803 Small updates to pricing ui
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/models.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1805 Add retailPrice to getpharmacies query
  apps/patient/src/graphql/queries.ts
Labels: Patient App

#1808 Fix Med History requiring RecentOrders and Prescribe contexts
  .github/workflows/vitest.yml
  packages/components/src/systems/PatientMedHistory/PatientMedHistory.test.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockSDKProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

#1809 enabling amazon pharmacy for all orgs
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1813 adding medication id to amazon select rum action
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1802 RTBC MVP via Arrive
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/dev/App.tsx
  packages/components/src/fetch/index.ts
  packages/components/src/fetch/mutations.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Divider/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/utils/formatRxString.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Clinical App, Elements, Components

#1818 Hide RTBC API error toasts
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
Labels: Components

#1821 Update pharmacy selection for RTBC
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/stores/pharmacy.ts
Labels: Elements, Components

#1822 adding openloop to novocare experiment
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

#1825 Fix pharmacyID null error
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1829 add curex to kopelman hair org
  packages/settings/src/lib/photon.ts
Labels: Settings

#1824 Revert "Revert e23c90b4e3862bebf09c9b41f8960275fde746b2"
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/patient/src/views/pharmacy.utils.tsx
  packages/components/dev/App.tsx
  packages/components/src/fetch/index.ts
  packages/components/src/fetch/mutations.ts
  packages/components/src/fetch/queries.ts
  packages/components/src/index.ts
  packages/components/src/particles/ComboBox/ComboBox.test.tsx
  packages/components/src/particles/ComboBox/index.tsx
  packages/components/src/particles/Divider/index.tsx
  packages/components/src/particles/Input/index.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/OtherCoverageOptionsList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionList.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionListItem.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/DraftPrescriptions/utils/mappers.ts
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/components/src/utils/formatRxString.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/stores/pharmacy.ts
Labels: ready to merge

#1831 Neutron to Photon
  packages/settings/src/lib/photon.ts
Labels: ready to merge

#1828 Fix edit reselecting old treatment data
  packages/elements/src/photon-dropdown/photon-dropdown.tsx
  packages/elements/src/photon-medication-dropdown/photon-medication-dropdown.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
Labels: Elements

#1837 add empower to photon test mail orders
  packages/settings/src/lib/photon.ts
Labels: Settings

#1838 Small ui refinements around coupons
  apps/patient/src/App.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/components/status/Step.tsx
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1841 Reset prescribe provider state on patient change
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

#1842 add honeybee for eastern derm
  packages/settings/src/lib/photon.ts
Labels: Settings

#1844 Fix double prefill prescriptions added
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/package.json
Labels: Elements, Components

#1840 enable auto-routing when constrained to a single pharmacy
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/RoutingConstraints/PrescriptionRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.test.tsx
  packages/components/src/systems/RoutingConstraints/RoutingConstraint.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components

#1846 add disabled property to RadioGroupCards
  packages/components/src/particles/Card/index.tsx
  packages/components/src/particles/RadioGroupCards/RadioGroupCards.stories.tsx
  packages/components/src/particles/RadioGroupCards/index.tsx
Labels: Components

#1847 add epiq to mail order tab for photon test
  packages/settings/src/lib/photon.ts
Labels: Settings

#1848 bump elements to 0.16.5 to include auto-routing
  packages/elements/package.json
Labels: Elements

#1854 enable sesame top ranked costco for all meds
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1856 Auth0 login async
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

#1853 Use a local pharmacy for RTBC if the patient doesn't have a preferred pharmacy set
  packages/components/src/fetch/queries.ts
  packages/components/src/index.ts
  packages/components/src/systems/GoogleServiceProvider/GoogleServiceProvider.tsx
  packages/components/src/systems/GoogleServiceProvider/index.tsx
  packages/components/src/systems/LocationSelect/index.tsx
  packages/components/src/systems/PharmacySearch/index.tsx
  packages/components/src/systems/PharmacySelect/SendToPatient.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-client/photon-client-component.tsx
Labels: Elements, Components

#1852 Disable un-routable mail order pharmacies
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/TestMocks/MockPrescribeProvider.tsx
Labels: Components

#1858 pass org and invite to auth component
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

#1860 Add neutron org for testing non-honeybee partner prescriber
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1859 show alert on un-routable mail order pharmacies
  packages/components/src/particles/RadioGroupCards/index.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/components/src/systems/RoutingConstraints/PharmacyRoutingAlert.tsx
  packages/components/src/systems/RoutingConstraints/index.tsx
Labels: Components

#1862 bump elements to 0.16.7 to disable & show alerts for unroutable pharmacies
  packages/elements/package.json
Labels: Elements

#1864 Fix template creation for durable medical devices
  apps/app/src/views/routes/Settings/components/templates/TemplateForm/utils.ts
Labels: Clinical App

#1865 revert auth0 changes
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/routes/Login.tsx
Labels: Clinical App

#1868 update costco radius from 15 to 30 miles
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1872 Add Truepill, Carepoint, and Honeybee to Test Telehealth org in photon
  packages/settings/src/lib/photon.ts
Labels: Settings

#1875 nullable phone type on patient
  apps/app/src/gql/graphql.ts
  packages/sdk/src/types.ts
Labels: Clinical App, SDK

#1887 bump version with mail order config updates
  packages/elements/package.json
Labels: Elements

#1878 Hide toasts for prefills in embed app
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements, Components

#1889 Bump elements to release toast fix
  packages/elements/package.json
Labels: Elements

#1892 Default to the coverage pharmacy namy
  packages/components/src/systems/DraftPrescriptions/CoverageOptions/CoverageOptionSummary.tsx
  packages/elements/package.json
Labels: Elements, Components

#1894 Fix infinite spinner on cancel order
  apps/app/src/views/components/StyledToast.tsx
  apps/app/src/views/routes/Order.tsx
Labels: Clinical App

#1896 Update boson neutron settings for twenty eight org
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
Labels: Settings

#1906 add curexa to longevitycenter mail order tab (#1902)
  packages/settings/src/lib/photon.ts
Labels: ready to merge

#1907 Revert "enabling amazon pharmacy to be re-routable"
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1913 Revert "Enable amazon pharmacy to be reroutable"
  apps/patient/src/utils/general.ts
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1912 Bug fix: Prescribers can click Save Prescriptions or Send Order while templated RXs are loading, results in error
  package-lock.json
  packages/components/src/particles/Button/index.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements, Components
