Repository Photon-Health/client, pull requests merged in 2025-02, with the labels that each got.

#1565 In Photon settings, add Strive integration to DrTelx.
  packages/settings/src/lib/photon.ts
Labels: Settings

#1569 Add branding for fifty410
  apps/patient/src/assets/fifty410_logo.png
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1572 Surface Glp1 prices
  apps/patient/src/api/external.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/assets/goodrx_logo.png
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#1568 med history now renders data from new endpoint
  packages/components/src/systems/PatientMedHistory/index.tsx
Labels: Components

#1575 incrementing version of elements
  packages/elements/package.json
Labels: Elements

#1579 Remove generic copy for glp1
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
Labels: Patient App

#1582 add openloop pharmacy to test telehealth org
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings, ready to merge

#1581 Dropdown position in elements
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/tailwind.config.js
Labels: Elements

#1586 Add neutron config for precision
  packages/settings/src/lib/neutron.ts
Labels: Settings, ready to merge

#1588 Hide Glp1 prices temporarily
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/utils/isGLP.ts
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#1585 Revive add med history
  packages/components/src/index.ts
  packages/components/src/particles/Dialog/index.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/package.json
  packages/elements/src/index.ts
  packages/elements/src/photon-add-medication-history-dialog/index.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-add-medication-history-dialog/styles.css
  packages/elements/src/photon-advanced-medication-search-dialog/index.ts
  packages/elements/src/photon-advanced-medication-search-dialog/photon-advanced-medication-search-dialog-component.tsx
  packages/elements/src/photon-advanced-medication-search/components/MedicationConceptDropdown.tsx
  packages/elements/src/photon-advanced-medication-search/components/MedicationFilterDropdown.tsx
  packages/elements/src/photon-advanced-medication-search/index.ts
  packages/elements/src/photon-advanced-medication-search/photon-advanced-medication-search-component.tsx
  packages/elements/src/photon-dialog/photon-dialog-component.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/types.d.ts
Labels: Elements, Components

#1592 Rollback Z-index change
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
Labels: Elements

#1591 add an error toast if draft prescription already exists in order
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
Labels: Elements

#1590 Order exceptions
  apps/app/src/views/routes/Order.tsx
  apps/patient/src/components/InsuranceAlert.tsx
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/components/statusV2/Header.tsx
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/StatusV2.tsx
Labels: Clinical App, Patient App

#1596 Add Farm to Functional, Kuros, Unger
  apps/patient/src/assets/farm_to_functional_medicine_logo.png
  apps/patient/src/assets/kuros_medical_logo.png
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1597 Allow us to test glp1s on boson
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#1599 Fix stale patient data being sent with new orders
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1601 Temporarily disable Sesame discount cards
  apps/patient/src/utils/general.ts
Labels: Patient App

#1602 Manually update photon
  apps/patient/src/utils/general.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: ready to merge

#1604 Fix overlapping header
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/src/photon-medication-dropdown-full-width/photon-medication-dropdown-full-width.tsx
  packages/elements/tailwind.config.js
Labels: Elements
