Repository Photon-Health/client, pull requests merged in 2025-03, with the labels that each got.

#1606 make pharmacy address link to directions, display call pharmacy for order exceptions
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1608 only display clickable address link to directions on status page
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

#1610 Status page address link
  apps/patient/src/components/PharmacyInfo.tsx
Labels: Patient App

#1611 Add price switch and handle updated price query
  apps/patient/src/App.tsx
  apps/patient/src/api/internal.ts
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/PaymentMethod.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
Labels: Patient App

#1614 cleanup residual zipcode prop
  apps/patient/src/api/external.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1615 Make show price configurable in settings
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/PharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/components/PickupOptions.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/utils/general.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Patient App, Settings

#1616 Ensure top ranked Costco for Sesame when there's Glp1 prices showing
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1617 Add Remo org settings/branding to photon settings file
  apps/patient/src/assets/remo_logo.svg
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1619 Show strikethrough retail price on status page
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/graphql/queries.ts
  package-lock.json
Labels: Patient App

#1620 Narrow scope to goodrx zepbound
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1621 Turn on Sesame pricing
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Settings

#1624 Fix stale med history
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
Labels: Elements, Components

#1603 quick n dirty experiment pass
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1629 showing branded options if `amazonPharmacyEndOfPharmacyTestSegment` experiment is active
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1632 Add oepnloop mail order to our photon test org
  packages/settings/src/lib/photon.ts
Labels: Settings

#1635 Update URL Whitelist for SPA Clients in Developer Tab
  apps/app/src/configs/theme.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/client-credentials/ClientInfoCard.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

#1639 Add new Xyon org to photon settings (Mass Derm Hair Transplant)
  packages/settings/src/lib/photon.ts
Labels: Settings

#1638 PatientMedHistory shows prescription details
  README.md
  apps/app/README.md
  packages/components/.storybook/main.js
  packages/components/README.md
  packages/components/dev/App.tsx
  packages/components/src/index.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/utils/formatPrescriptionDetail.test.ts
  packages/components/src/utils/formatPrescriptionDetail.ts
  packages/components/src/utils/storybookUtils.ts
  packages/components/tsconfig.json
  packages/elements/README.md
  packages/elements/package.json
Labels: Clinical App, Elements, Components

#1643 Fix running components locally
  packages/components/dev/App.tsx
  packages/components/src/systems/Client/index.tsx
Labels: Components

#1647 Allow wildcards in the subdomain of whitelisted ulrs, validation fix
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

#1649 Add gifthealth mail order to neutron testing.
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

#1653 Add branding and settings for Om Dermatology
  apps/patient/src/assets/om_dermatology_logo.svg
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1657 Make price switch default on
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1660 add geviti mail order settings and branding
  apps/patient/src/assets/geviti_logo.webp
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1656 Add 1 click refill button to med history
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/dev/App.tsx
  packages/components/src/particles/Card/index.tsx
  packages/components/src/particles/FlyoutMenu/FlyoutMenu.stories.tsx
  packages/components/src/particles/FlyoutMenu/FlyoutMenu.tsx
  packages/components/src/particles/FlyoutMenu/index.ts
  packages/components/src/particles/IconButton/index.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/elements/README.md
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-med-history/photon-med-history.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Clinical App, Elements, Components

#1666 Fix CI error for npm publish
  package-lock.json
  package.json
  packages/elements/package.json
Labels: Elements

#1667 Add gifthealth mail order to photon test org.
  packages/settings/src/lib/photon.ts
Labels: Settings, ready to merge

#1672 Datadog Action should have organization id as well
  apps/patient/src/views/Main.tsx
Labels: Patient App

#1663 getting time estimate from offers query instead of hardcoded logic check
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/patient/src/api/internal.ts
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/graphql/queries.ts
  apps/patient/src/utils/text.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Clinical App, Patient App

#1679 Add Remedy Meds org settings in neutron
  apps/patient/src/assets/remedymeds_logo.png
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Patient App, Settings

#1681 Precision Telemed branding and mail order settings
  apps/patient/src/assets/precision_telemed_logo.png
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1673 Enable med history refill button
  apps/app/src/views/routes/PrescriptionForm.tsx
  packages/components/src/particles/Dialog/index.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/utils/storybookUtils.ts
  packages/components/types/zendesk.d.ts
  packages/elements/package.json
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-multirx-form/util/repopulateForm.ts
Labels: Clinical App, Elements, Components

#1685 adding test mail order pharmacy in neutron
  packages/settings/src/lib/neutron.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

#1686 Fix z-index of Edit Patient dialog
  packages/components/src/particles/Dialog/index.tsx
Labels: Components

#1688 Sets min value for dose calculator inputs
  package-lock.json
  packages/components/README.md
  packages/components/src/systems/DoseCalculator/components/DoseCalculator.tsx
Labels: Components

#1689 enabling found for production
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1699 Remove duplicate PhotonClientStore from elements
  packages/components/src/index.ts
  packages/components/src/store.ts
  packages/components/src/systems/Client/index.tsx
  packages/elements/package.json
  packages/elements/src/context.ts
  packages/elements/src/photon-add-medication-history-dialog/photon-add-medication-history-dialog-component.tsx
  packages/elements/src/photon-auth-button/photon-auth-button.tsx
  packages/elements/src/photon-authenticated/photon-authenticated-component.tsx
  packages/elements/src/photon-authorized/photon-authorized.tsx
  packages/elements/src/photon-client/photon-client-component.tsx
  packages/elements/src/photon-dispense-units/photon-dispense-units-component.tsx
  packages/elements/src/photon-login/photon-login-component.tsx
  packages/elements/src/photon-medication-search/photon-medication-search-component.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/components/PharmacyCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/elements/src/photon-patient-dialog/photon-patient-dialog-component.tsx
  packages/elements/src/photon-patient-form/photon-patient-form-component.tsx
  packages/elements/src/photon-patient-select/photon-patient-select-component.tsx
  packages/elements/src/photon-treatment-select/photon-treatment-select-component.tsx
  packages/elements/src/store.ts
Labels: Elements, Components

#1705 add everymeds configuration and dania pharmacy id
  apps/patient/src/assets/everymeds_logo.svg
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Patient App, Settings
