Repository Photon-Health/client, pull requests merged in 2025-04, with the labels that each got.

#1703 Playwright e2e test setup
  .github/workflows/e2e-tests.yml
  README.md
  apps/app/.env.boson
  apps/app/.env.local.sample
  apps/app/.env.tau
  apps/app/.gitignore
  apps/app/README.md
  apps/app/buildspec.yml
  apps/app/e2e/create_prescription.spec.ts
  apps/app/playwright.config.ts
  apps/app/project.json
  package-lock.json
  package.json
Labels: Clinical App

#1710 Use correct base url for playwright startup
  apps/app/playwright.config.ts
Labels: Clinical App

#1711 Fix z-indexes of prescription and patient forms
  package-lock.json
  packages/components/src/particles/Dialog/index.tsx
  packages/components/tailwind.config.cjs
  packages/elements/package.json
  packages/elements/src/photon-form-wrapper/photon-form-wrapper.tsx
  packages/elements/tailwind.config.js
Labels: Elements, Components

#1715 filter out resolved exceptions
  apps/patient/src/views/StatusV2.tsx
Labels: Patient App

#1717 Turn on Gifthealth for Found and Measured.
  packages/settings/src/lib/photon.ts
Labels: Settings

#1714 disable zepbound test
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1720 Close rx form after editing
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1725 Bump elements - release Edit UX improvement
  packages/elements/package.json
Labels: Elements

#1728 adding org id to tracking rum action
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1727 Add Strive to Measured's mail order pharmacies
  package-lock.json
  packages/settings/src/lib/photon.ts
Labels: Settings

#1730 Enable pricing for sesame non-GLP1s
  .gitignore
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1733 adding measured to make an offers request; enabling it in amazon pharmacy pilot
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1736 Rollback photon
  .gitignore
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: ready to merge

#1737 show error message for missing or invalid NPI
  apps/app/src/views/routes/Settings/components/profile/ProfileEditForm.tsx
Labels: Clinical App

#1742 Re-add multirx filter on pricing
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1741 Revert "Rollback photon"
  .gitignore
  apps/patient/src/views/Pharmacy.tsx
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
Labels: ready to merge

#1745 Show mail order tab for Ognomy and add pharmacies
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

#1750 Improve table layout
  apps/app/src/views/components/NameView.tsx
  apps/app/src/views/components/PharmacyNameView.tsx
  apps/app/src/views/routes/Prescription.tsx
  apps/app/src/views/routes/Prescriptions.tsx
Labels: Clinical App

#1751 add twentyeight independent retail mail order pharmacies
  packages/settings/src/lib/photon.ts
  packages/settings/src/pharmacies.ts
Labels: Settings

#1754 enableMedHistory for remo
  packages/settings/src/lib/photon.ts
Labels: Settings

#1757 update pa message for measured
  apps/patient/src/components/order-summary/OrderSummary.tsx
  packages/settings/src/lib/photon.ts
Labels: Patient App, Settings

#1753 Replace client side org settings
  apps/app/codegen.ts
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/components/Auth.tsx
  apps/app/src/views/components/Nav.tsx
  apps/app/src/views/routes/NewOrder/components/OrderForm.tsx
  apps/app/src/views/routes/NewOrder/components/SelectPharmacyCard/components/MailOrder.tsx
  apps/app/src/views/routes/NewOrder/index.tsx
  apps/app/src/views/routes/PrescriptionForm.tsx
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
  apps/patient/project.json
  apps/patient/src/components/order-summary/OrderSummary.tsx
  apps/patient/src/configs/theme.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/StatusV2.tsx
  packages/components/src/systems/PharmacySelect/PharmacySelect.tsx
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/OrderCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/settings/src/index.ts
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Clinical App, Elements, SDK, Patient App, Components, Settings

#1765 Fix mobile responsive layout for org settings switches
  apps/app/src/views/routes/Settings/components/organization/OrganizationSettingsForm.tsx
Labels: Clinical App

#1767 Gate OrganizationSettings with `manage:organization` permission check
  apps/app/src/views/routes/Settings/views/OrganizationTab.tsx
Labels: Clinical App

#1770 Fix null phone crashing patients page
  apps/app/src/utils.ts
Labels: Clinical App

#1772 Remove settings
  packages/settings/src/lib/boson.ts
  packages/settings/src/lib/neutron.ts
  packages/settings/src/lib/photon.ts
  packages/settings/src/types.ts
Labels: Settings

#1775 adding sesame and river to amazon pharm pilot
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1683 Create Draft Rx (RTBC prep)
  .prettierignore
  apps/app/src/views/routes/Prescriptions.tsx
  packages/components/dev/App.tsx
  packages/components/src/context.ts
  packages/components/src/fetch/queries.tsx
  packages/components/src/index.ts
  packages/components/src/particles/IconButton/IconButton.stories.tsx
  packages/components/src/particles/IconButton/index.tsx
  packages/components/src/particles/Spinner/index.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptions.tsx
  packages/components/src/systems/DraftPrescriptions/DraftPrescriptionsProvider.tsx
  packages/components/src/systems/DraftPrescriptions/index.tsx
  packages/components/src/systems/DraftPrescriptions/utils/generateDraftPrescription.ts
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.stories.tsx
  packages/components/src/systems/PatientMedHistory/PatientMedHistoryTable.tsx
  packages/components/src/systems/PatientMedHistory/index.tsx
  packages/components/src/systems/PrescribeProvider/PrescribeProvider.tsx
  packages/components/src/systems/PrescribeProvider/index.tsx
  packages/components/src/systems/RecentOrders/RecentOrders.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCard.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersCombineDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersDuplicateDialog.tsx
  packages/components/src/systems/RecentOrders/RecentOrdersIssueDialog.tsx
  packages/components/src/systems/SDKProvider/index.tsx
  packages/components/src/utils/createMutation.ts
  packages/components/src/utils/storybookUtils.ts
  packages/elements/index.html
  packages/elements/package.json
  packages/elements/src/photon-multirx-form-wrapper/photon-multirx-form-wrapper-component.tsx
  packages/elements/src/photon-multirx-form/components/AddPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/DraftPrescriptionCard.tsx
  packages/elements/src/photon-multirx-form/components/PatientCard.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
  packages/sdk/src/clinical/prescription.ts
  packages/sdk/src/types.ts
Labels: Clinical App, Elements, SDK, Components

#1784 Client SSO toggles - Google and Microsoft OAuth options
  apps/app/src/gql/gql.ts
  apps/app/src/gql/graphql.ts
  apps/app/src/views/routes/Settings/components/client-credentials/ClientInfoCard.tsx
  apps/app/src/views/routes/Settings/components/client-credentials/SPAClientEditForm.tsx
Labels: Clinical App

#1786 Enable RxSense pricing for all orgs
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1764 hardcoding novo pharmacy pilot
  apps/patient/.env.boson
  apps/patient/.env.neutron
  apps/patient/.env.photon
  apps/patient/src/assets/novo_circle.png
  apps/patient/src/assets/novo_square.png
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/BrandedPharmacyCard.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App

#1788 fixing issue with duplicate branded options and typo in novocare env var
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1789 Revert "Enable RxSense pricing for all orgs"
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1791 Revert "Revert "Enable RxSense pricing for all orgs""
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1795 Trim template ids and prescription ids with whitespace
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow-component.tsx
  packages/elements/src/photon-multirx-form/photon-prescribe-workflow.tsx
Labels: Elements

#1794 enabling novocare branded pharmacy override for measured
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
Labels: Patient App
