Repository Photon-Health/client, pull requests merged in 2025-08, with the labels that each got.

#1975 Tracking patient interaction events from Patient App
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/components/status/Header.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#1979 Fix multiRx orders showing prices
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1978 tracking offer impressions and selections
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/setupTests.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/pharmacy.utils.tsx
  package-lock.json
  package.json
Labels: Patient App

#1985 turning offer impression/selection on only for single-med orders that are non-demo
  apps/patient/src/components/BrandedOptions.tsx
  apps/patient/src/components/pharmacy-card-list/PickupPharmacyCardList.tsx
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#1990 adding more metadata
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#2002 making extra order propreties all consistent
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: Patient App

#2005 Revert "Photon: Merge neutron into photon"
  apps/patient/src/components/CouponModal.tsx
  apps/patient/src/components/Coupons.tsx
  apps/patient/src/components/DemoCtaModal.tsx
  apps/patient/src/components/FAQModal.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/Nav.tsx
  apps/patient/src/components/PharmacyFilters.tsx
  apps/patient/src/components/PoweredBy.tsx
  apps/patient/src/components/PrescriptionsList.tsx
  apps/patient/src/components/order-details/OrderDetailsModal.tsx
  apps/patient/src/configs/analytics.ts
  apps/patient/src/data/demoOrder.ts
  apps/patient/src/graphql/queries.ts
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/utils/tracking/OfferImpressionTracker.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.tsx
  apps/patient/src/views/Review.tsx
  apps/patient/src/views/Status.tsx
Labels: ready to merge

#2009 Optimistically update order context w new pharmacy and exceptions resolved on reroute
  apps/patient/package.json
  apps/patient/src/Reroute.test.tsx
  apps/patient/src/components/LocationModal.tsx
  apps/patient/src/components/PharmacyInfo.tsx
  apps/patient/src/test-utils/generators.ts
  apps/patient/src/views/Canceled.test.tsx
  apps/patient/src/views/Main.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
  apps/patient/src/views/ReadyBy.test.tsx
Labels: Patient App

#2011 Allow glp1 coupons
  apps/patient/src/utils/shouldShowPriceToggle.tsx
  apps/patient/src/views/Pharmacy.test.tsx
  apps/patient/src/views/Pharmacy.tsx
Labels: Patient App

#2018 Standardize rx writtenAt date between clinical app and sdk components package
  packages/components/src/utils/formatDate.ts
Labels: Components
